/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Pirata One;
  --BodyFont: Crimson Pro;

  /* Colors */
  --ColorPrime: #272C2E;
  --ColorSec-1: #131F24;
  --ColorSec-2: #121D25;
  --ColorTert-1: #6388C7;
  --ColorTert-2: #5EAFC5;
  --ColorTert-3: #35666C;
  --ColorTert-4: #364F6B;
  --ColorTert-5: #3D4680;
  --BodyColor: #BBBFCE;
  --MuteColor: #8C91A3;
}
