/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Final Frontier;
  --HeaderFont-2: Final Frontier Old;
  --BodyFont: Monda;

  /* Colors */
  --ColorPrime: linear-gradient(-135deg, transparent 35px, #0d0d0d 0);
  --ColorSec-1: #1b1324;
  --ColorSec-2: #1e1225;
  --ColorTert-1: #4c5fc5;
  --ColorTert-2: #895ec5;
  --ColorTert-3: #46356c;
  --ColorTert-4: #5d366b;
  --ColorTert-5: #3d4a80;
  --BodyColor: #c8cfff;
  --MuteColor: #a38ca3;

  /* Misc */
  --color-background: #000000;
  --color-diagonal-lines: #242424;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Final Frontier;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/547c9d31855ae5f1c65e49e944bb2ee78ac64c5e/fonts/FinalFrontier.ttf);
}

@font-face {
  font-family: Final Frontier;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/547c9d31855ae5f1c65e49e944bb2ee78ac64c5e/fonts/FinalFrontier.ttf);
}


@font-face {
  font-family: Monda;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjspvPho7vA.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Monda;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjsphPho.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Audiowide;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Audiowide;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdlg_O.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}


/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
.user-css-presentation {
  background: radial-gradient(var(--color-background) 3px, transparent 4px),
    radial-gradient(var(--color-background) 3px, transparent 4px),
    linear-gradient(var(--color-background) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--color-diagonal-lines) 75px,
      var(--color-diagonal-lines) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--color-diagonal-lines) 76px,
      var(--color-diagonal-lines) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--color-background);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  max-width: 70%;
  margin-left: 16%;
  background: var(--ColorPrime);
  border: 7px double var(--ColorTert-5);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}

.cover-global {
  background-image: url(https://www.worldanvil.com/media/cache/cover/uploads/images/1631b6a3774e1791746e8d2c5606754f.png) !important;
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--BodyFont);
  color: var(--BodyColor);
}

/*--------------------------*/
/* ---- Animations   ---- */
/* -------------------------*/
/* Glow */
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 10px, 0 0 20px, 0 0 30px, 0 0 40px, 0 0 50px, 0 0 60px,
      0 0 70px, var(--ColorTert-1);
  }
  50% {
    text-shadow: 0 0 5px, 0 0 10px, 0 0 15px, 0 0 20px, 0 0 25px, 0 0 30px,
      0 0 35px, var(--ColorTert-1);
  }
}

/* Flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.5;
  }
}

/* Background Scan */
@keyframes scanline {
  0%,
  100% {
    background-position: left bottom;
  }
  50% {
    background-position: right top;
  }
}


/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--ColorTert-1);
  font-family: var(--HeaderFont);
  font-size: 4.5em;
  text-align: center;
  padding-top: 17px;
  -webkit-text-stroke: 1px var(--ColorTert-1);
  animation: glow 2s infinite alternate, flicker 3s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 49%,
    var(--ColorTert-1) 50%,
    rgba(255, 255, 255, 0) 51%
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ffa3a3;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--HeaderFont-2);
  color: var(--ColorTert-2);
  padding-top: 15px;
  border-bottom: none;
  font-size: 2.5em;
  margin-bottom: 0px;
}
