/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  --ColorPrime: #fff4eb;
  --ColorSec-1: #fdf2e9;
  --ColorSec-2: #ffc5a0;
  --ColorTert-1: #ce7942;
  --ColorTert-2: #e38a53;
  --ColorTert-3: #ecb596;
  --ColorTert-4: #eba57c;
  --ColorTert-5: #e39666;
  --BodyColor: #4d3120;
  --MuteColor: #6e4c38;
}

/*--------------------------*/
/* ---- Background   ---- */
/* -------------------------*/
.user-css-presentation {
  background: url(https://www.worldanvil.com/uploads/images/0d70d42b83afa03148248e504debcc81.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  font-family: var(--AtiusFont);
  font-size: 2.9em;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--AtiusFont);
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--AtiusFont);
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--AtiusFont);
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  font-family: var(--AtiusFont);
}

.user-css h6 {
  font-family: var(--AtiusFont);
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-family: var(--AtiusFont-2);
}

.user-css-vignette {
  font-size: 21px;
  font-weight: 500;
}

/*--------------------------*/
/* ---- Button   ---- */
/* -------------------------*/
.user-css .btn {
  box-shadow: 0 5px 0 #9b5e39;
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  font-family: var(--AtiusFont-2);
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .search-form .typeahead-input,
.user-css .form-control,
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap,
.map-context-user-css .search-form .typeahead-input {
  background: #f0f0e6;
}