/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Theme Colors */
  --ColorPrime: #101316;
  --ColorSec-1: #1c2834;
  --ColorSec-2: #253341;
  --ColorTert-1: #31a2ac;
  --ColorTert-2: #68d1cf;
  --ColorTert-3: #333f50;
  --ColorTert-4: #4d626e;
  --ColorTert-5: #809bb1;
  --ColorTert-6: #00ffc6;
  --BodyColor: #ccd1d9;
  --MuteColor: #f6e7ff;

  /* Fonts */
  --font-header-primary: Aldrich;
  --font-header-secondary: Encounters;
  --font-header-tertiary: Glitch;
  --font-body: Rajdhani;

  /* Border Radius */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Aldrich;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Aldrich-Regular.ttf);
}

@font-face {
  font-family: Encounters;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Alien%20Encounters.ttf);
}

@font-face {
  font-family: Glitch Inside;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Glitch%20Inside.otf);
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 300;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Rajdhani-Light.ttf);
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 500;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Rajdhani-SemiBold.ttf);
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 700;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/main/fonts/Rajdhani-Bold.ttf);
}

/*--------------------------*/
/* ---- Background   ---- */
/* -------------------------*/
.user-css-presentation {
  background: url(https://www.worldanvil.com/uploads/images/1d35aa77368b1f5d09934f97ab520ca3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--ColorPrime);
  border: 7px double var(--ColorTert-1);
  border-radius: var(--border-radius-large);
  overflow: hidden;
  box-shadow: none;
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--font-body);
  color: var(--BodyColor);
}

.user-css .highlight {
  animation: glow 2s ease-in-out infinite;
  color: var(--ColorTert-6);
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--ColorTert-1);
  font-family: var(--font-header-primary);
  font-size: 2.9rem;
  text-align: center;
  padding-top: 17px;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--font-header-primary-2);
  color: var(--ColorTert-2);
  padding-top: 15px;
  border-bottom: 3px solid var(--ColorTert-1);
  font-size: 2.2rem;
  margin-bottom: 7px;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--font-header-primary);
  color: var(--ColorTert-2);
  padding-top: 15px;
  font-size: 1.9rem;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--font-header-primary);
  color: var(--ColorTert-1);
  padding-top: 15px;
  font-size: 1.7rem;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--ColorTert-2);
  font-family: var(--font-header-primary);
  padding-top: 10px;
  margin-top: 0px;
}

.user-css h6 {
  font-family: var(--font-header-primary);
  padding-top: 15px;
}