/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --chi-font-title: Takoyaki;
  --chi-font-main: Ghozda;
  --chi-font-secondary: Miwaku;
  --chi-font-body: IM Fell DW Pica;

  /* Colors */
  --chi-prime-color: #d3d7ea;
  --chi-secondary-color-1: #f0e8ec;
  --chi-secondary-color-2: #edefff;
  --chi-secondary-color-3: #0f2b39;
  --chi-tertiary-color-1: #456a97;
  --chi-tertiary-color-2: #6683b4;
  --chi-tertiary-color-3: #92acc8;
  --chi-tertiary-color-4: #608aad;
  --chi-tertiary-color-5: #597d93;
  --chi-tertiary-color-6: #e8e9f0cf;
  --chi-body-text-color: #232125;
  --chi-muted-color: #565b6a;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Ghozda;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/1a315c6006c919d67179d97851cd80fcc9e3634a/fonts/Ghozda.otf);
}

@font-face {
  font-family: Takoyaki;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/753ab64c841ddd92e2080884948439035ec2ab5e/fonts/Takoyaki.ttf);
}

@font-face {
  font-family: Genjiro;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/d6bc001d78c9b26f2fe177a928e53f45bcb7bfcb/fonts/Genjiro.ttf);
}

@font-face {
  font-family: Miwaku;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/c69f98edf610e94e3a5ae220f9647e584bfd2823/fonts/Enchant.ttf);
}

@font-face {
  font-family: IM Fell DW Pica;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfelldwpica/v16/2sDEZGRQotv9nbn2qSl0TxXVYNwNZjnXlis.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: IM Fell DW Pica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfelldwpica/v16/2sDGZGRQotv9nbn2qSl0TxXVYNwNYwnV.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
.user-css-presentation {
  background: url(https://www.worldanvil.com/uploads/images/4c17444e15422d536be6f5e67d0e9ac0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--chi-prime-color);
  overflow: hidden;
  border-radius: 0px;
  box-shadow: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.user-css #cover img {
  margin-top: 15px;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 18px;
  font-family: var(--chi-font-body);
  color: var(--chi-body-text-color);
}

.user-css-vignette {
  font-size: 18.5px;
}

.user-css .highlight {
  color: #812019;
  text-decoration: underline;
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css .world-title {
  font-family: var(--chi-font-title);
}

.user-css .article-title h1 {
  font-size: 2.3em;
  text-decoration: underline;
}

.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--chi-tertiary-color-1);
  font-family: var(--chi-font-main);
  font-size: 3em;
  text-align: center;
  padding-top: 17px;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--chi-font-secondary);
  color: var(--chi-tertiary-color-2);
  padding-top: 15px;
  padding-bottom: 0px;
  border-bottom: 2px solid var(--chi-tertiary-color-3);
  font-size: 2.2em;
  margin-top: 0px;
  line-height: 1em;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--chi-font-secondary);
  color: var(--chi-tertiary-color-2);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--chi-font-secondary);
  color: var(--chi-tertiary-color-1);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--chi-tertiary-color-2);
  font-family: var(--chi-font-secondary);
  padding-top: 10px;
  font-size: 1.3em;
  margin-top: 0px;
}

.user-css h6 {
  font-family: var(--chi-font-secondary);
  padding-top: 15px;
}

/*--------------------------*/
/* ---- Links   ---- */
/* -------------------------*/
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a,
.user-css .usercard a {
  color: var(--chi-tertiary-color-2);
  transition: all 0.3s;
  text-shadow: none;
}

.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover,
.user-css .usercard a:hover {
  color: var(--chi-tertiary-color-1);
  text-shadow: none;
  font-style: italic;
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .text-abbreviation {
  cursor: default !important;
  border-bottom: 1px dotted var(--chi-body-text-color);
}

.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  color: var(--chi-body-text-color);
  font-family: var(--chi-font-body);
  font-size: 1.4em;
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-1);
  border-radius: 0px;
  box-shadow: none;
}

.user-css-presentation .tooltip-arrow::before,
.user-css-presentation .tooltipster-arrow-border,
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
  border-top-color: var(--chi-tertiary-color-4) !important;
}

.user-css-presentation .tooltipster-borderless .tooltipster-box {
  background: none;
}

/*--------------------------*/
/* ---- Article Excepts   ---- */
/* -------------------------*/
.user-css-presentation .tooltip {
  opacity: 1;
}

.user-css-presentation .tooltip-arrow::before {
  border-top-color: var(--chi-tertiary-color-4);
}

.user-css-presentation .tooltip .tooltip-inner {
  max-width: 300px;
  background: var(--chi-prime-color);
}

/*--------------------------*/
/* ---- Misc   ---- */
/* -------------------------*/
.user-css .article-subheading,
.user-css .article-title-author {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
}

.user-css .text-muted,
.user-css-extended .text-muted {
  color: var(--chi-muted-color) !important;
}

.user-css .text-danger,
.user-css-extended .text-danger {
  color: var(--chi-tertiary-color-2) !important;
}

.user-css .dropcap {
  font-family: var(--chi-font-body);
}

/*--------------------------*/
/* ---- Buttons   ---- */
/* -------------------------*/
.user-css .btn,
.user-css-extended .btn,
.user-css .label-roller,
.user-css .rhea-ft-zoom-controls button,
.user-css-presentation .tooltipster-content .btn,
.user-css .discussion-board-section [class*=rep] .btn {
  font-family: var(--chi-font-body);
  font-size: 1em;
  border: 2px solid var(--chi-prime-color);
  border-radius: 15px;
  background: var(--chi-secondary-color-3);
  transition: all 0.3s;
  padding: 5px 5px 4px 12px;
}

.user-css .btn:hover,
.user-css-extended .btn:hover,
.user-css .label-roller:hover,
.user-css .rhea-ft-zoom-controls button:hover,
.user-css-presentation .tooltipster-content .btn:hover,
.user-css .discussion-board-section [class*=rep] .btn:hover {
  text-shadow: none;
  text-decoration: none;
  font-style: normal;
  padding-left: 15px;
  background: var(--chi-tertiary-color-1);
}

.user-css .btn:focus,
.user-css-extended .btn:focus,
.map-context-user-css .btn:focus,
.tooltipster-content .btn:focus {
  box-shadow: none;
}

.user-css .btn-success,
.user-css-extended .btn .btn-success {
  background: var(--chi-tertiary-color-1) !important;
  border: none !important;
  border-left: 2px solid var(--chi-tertiary-color-4) !important;
}

.user-css .btn-success:hover,
.user-css-extended .btn .btn-success:hover {
  background: var(--chi-tertiary-color-2) !important;
  border: none !important;
  border-left: 2px solid var(--chi-tertiary-color-4) !important;
}

.user-css .visibility-toggler-trigger .fas,
.user-css-extended .visibility-toggler-trigger .fas {
  padding: 2px;
}

/*--------------------------*/
/* ---- Quotes   ---- */
/* -------------------------*/
.user-css blockquote,
.user-css-extended blockquote,
.user-css-presentation .tooltipster-content blockquote {
  background: var(--chi-secondary-color-2);
  border-left: 2px solid var(--chi-tertiary-color-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css blockquote .author,
.user-css-extended blockquote .author,
.user-css-presentation .tooltipster-content blockquote .author {
  color: var(--chi-muted-color);
  font-family: var(--chi-font-main);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Sidebar Panel   ---- */
/* -------------------------*/
.user-css .panel,
.user-css-extended .panel {
  background: var(--chi-secondary-color-1);
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 20px;
}

/*--------------------------*/
/* ---- HR   ---- */
/* -------------------------*/
.user-css hr,
.user-css-extended hr,
.user-css-map-sidebar hr,
.user-css .tooltipster-content hr {
  border-top: 2px solid var(--chi-tertiary-color-2);
  opacity: 1;
}

/*--------------------------*/
/* ---- Images   ---- */
/* -------------------------*/
.user-css .artist-credits {
  background: var(--chi-secondary-color-1);
  color: var(--chi-tertiary-color-1);
}

/*--------------------------*/
/* ---- Imageblocks   ---- */
/* -------------------------*/
.user-css .image-panel {
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
  text-align: center;
  padding: 15px;
}

.user-css .image-panel .cover,
.user-css .image-panel .user-css-image-thumbnail {
  margin-top: 0px;
}

.user-css .image-panel img {
  margin: auto;
}

.user-css .image-panel h5 {
  font-size: 2em;
}

.user-css .image-panel .artist-credits {
  font-size: 1em;
}

/*--------------------------*/
/* ---- Carousels   ---- */
/* -------------------------*/
.user-css .carousel {
  height: 500px;
}

.user-css .carousel-inner img {
  height: 500px;
  object-fit: contain;
}

.user-css .carousel-item.active {
  display: flex;
  justify-content: center;
}

.user-css .carousel-caption h3 {
  background: var(--chi-prime-color);
  padding: 0px;
}

.user-css .carousel-indicators li {
  background-color: var(--chi-tertiary-color-1);
}

.user-css .carousel-control {
  opacity: 1;
  background: none;
}

.user-css .carousel-control-next-icon {
  background-image: none;
  background: var(--chi-tertiary-color-1);
  clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
}

.user-css .carousel-control-prev-icon {
  background-image: none;
  background: var(--chi-tertiary-color-1);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

/*--------------------------*/
/* ---- Spoilers   ---- */
/* -------------------------*/
.user-css .spoiler-button,
.user-css-extended .spoiler-button {
  border-top: 2px solid var(--chi-tertiary-color-3);
  border-left: none;
}

.user-css .spoiler-button:hover,
.user-css .spoiler-button[aria-expanded=true],
.user-css-extended .spoiler-button:hover,
.user-css-extended .spoiler-button[aria-expanded=true] {
  padding-left: 0.5rem;
  padding-top: 10px;
}

.user-css .spoiler-content,
.user-css-extended .spoiler-content {
  border-top: 2px solid var(--chi-tertiary-color-3);
  color: var(--chi-body-text-color);
  background: var(--chi-secondary-color-2);
  border-radius: 0px;
}

.user-css .spoiler-card,
.user-css-extended .spoiler-card {
  background: none;
  border: none;
  padding: 0px !important;
}

/*--------------------------*/
/* ---- Aloud Boxes   ---- */
/* -------------------------*/
.user-css .aloud,
.user-css-presentation .tooltipster-content .aloud {
  background: var(--chi-secondary-color-1);
  color: var(--chi-tertiary-color-1);
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Article Blocks   ---- */
/* -------------------------*/
.user-css .article-panel,
.user-css-extended .article-panel,
.user-css .map-box {
  background: var(--chi-secondary-color-1);
  border: 2px solid var(--chi-tertiary-color-2);
  border-radius: 0px;
  box-shadow: none;
  transition: all 0.3s;
}

.user-css .article-panel:hover,
.user-css-extended .article-panel:hover,
.user-css .map-box:hover {
  border-color: var(--chi-tertiary-color-4);
}

.user-css .article-panel .article-link:hover {
  text-decoration: none;
  font-style: normal;
}

.user-css .article-panel .heading {
  color: var(--chi-tertiary-color-1);
  font-size: 1.3em;
}

.user-css .article-panel .subheading,
.user-css .article-panel .date {
  color: var(--chi-muted-color);
}

/*--------------------------*/
/* ---- Homepage   ---- */
/* -------------------------*/
.user-css .world-author {
  font-family: var(--chi-font-body);
  font-size: 1em;
  margin-bottom: 10px;
}

.user-css .world-share-rss-feed-link {
  display: none;
  visibility: hidden;
}

.user-css .world-subtitle {
  font-family: var(--chi-font-main);
  color: var(--chi-tertiary-color-4);
  margin: 15px;
}

.user-css .homepage-card {
  background-color: var(--chi-secondary-color-1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 700px;
  margin: auto;
}

.user-css .homepage-header {
  background-color: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  padding: 10px 20px;
  font-family: var(--chi-font-main);
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.user-css .homepage-section {
  padding: 25px;
  background-color: var(--chi-secondary-color-1);
  color: var(--chi-body-text-color);
  font-size: 19px;
  line-height: 1.8;
}

/*--------------------------*/
/* ---- Bookcovers   ---- */
/* -------------------------*/
.user-css .bookcover {
  border: 2px solid var(--chi-tertiary-color-4);
  background: var(--chi-secondary-color-2);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
}

.user-css .bookcover:hover {
  background: var(--chi-secondary-color-1);
  border: 2px solid var(--chi-tertiary-color-2);
}

.user-css .bookcover a:hover .excerpt {
  color: var(--chi-body-text-color);
  transition: all 0.3s;
}

.user-css .bookcover a img {
  width: 100%;
  max-width: 300px;
  opacity: 1;
  transition: all 0.3s;
}

.user-css .bookcover a:hover img {
  opacity: 0.3;
}

.user-css .world-bookcase .booktitle,
.user-css .booktitle {
  position: absolute;
  max-width: 100%;
  top: unset;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--chi-secondary-color-3);
  border-top: 2px solid var(--chi-tertiary-color-4);
  text-align: center;
  transition: all 0.3s;
}

.user-css .world-bookcase .bookcover a:hover .booktitle,
.user-css .bookcover a:hover .booktitle {
  color: var(--chi-secondary-color-3);
  background: var(--chi-tertiary-color-2);
  border-top: 2px solid var(--chi-tertiary-color-2);
}

/*--------------------------*/
/* ---- Table of Contents   ---- */
/* -------------------------*/
.user-css .toc-article-link {
  color: var(--chi-tertiary-color-2);
}

.user-css .article-title-icon {
  color: var(--chi-tertiary-color-1);
  margin-right: 2px;
  font-size: 0.8em;
}

.user-css .world-category-link {
  color: var(--chi-tertiary-color-1);
}

.user-css .category-title-icon {
  color: var(--chi-tertiary-color-2);
  margin-right: 2px;
}

.user-css .fa-external-link {
  display: none;
}

/*--------------------------*/
/* ---- Map blocks   ---- */
/* -------------------------*/
.user-css .map-box .img-responsive {
  padding: 0px;
}

.user-css .map-box h5 {
  font-size: 1.3em;
}

.user-css .map-box .p-20 {
  padding-top: 0px !important;
}

.user-css .map-box small {
  font-family: var(--chi-font-body);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Followers page   ---- */
/* -------------------------*/
.user-css.page-followers .subheading {
  font-size: 1em;
  font-family: var(--chi-font-body);
}

.user-css .follower-box {
  background: var(--chi-secondary-color-2);
  border-radius: 0px;
}

.user-css .follower-box img {
  border: 2px solid var(--chi-tertiary-color-4);
  max-height: 50px;
  max-width: 50px;
}

.user-css .follower-box small {
  color: var(--chi-tertiary-color-2);
}

/*--------------------------*/
/* ---- Top   ---- */
/* -------------------------*/
.user-css .backtoworld a,
.user-css .nav-strip a,
.user-css .nav-strip {
  display: none;
}

/*--------------------------*/
/* ---- Backtotop   ---- */
/* -------------------------*/
.user-css-presentation #backtotop {
  bottom: 20%;
  width: 50px;
  height: 50px;
}

.user-css-presentation .backtotop-button {
  width: 100%;
  height: 100%;
  background: url(https://www.worldanvil.com/uploads/images/e9a966d74890adc11ba820185f709860.svg)
    no-repeat center center;
  background-size: cover;
  border: none;
  transition: all 0.3s;
  color: transparent;
}

.user-css-presentation .backtotop-button:hover {
  padding-right: 25px;
}

/*--------------------------*/
/* ---- Search Form   ---- */
/* -------------------------*/
.user-css .search-form {
  left: 8px;
  position: fixed;
  top: 6px;
  z-index: 2;
}

.user-css .search-form .typeahead-input,
.user-css .form-control,
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap,
.map-context-user-css .search-form .typeahead-input {
  color: var(--chi-body-text-color) !important;
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 8px;
  color: var(--chi-secondary-color-1);
  width: 200px;
  box-shadow: none;
  padding: 13px 10px 12px 10px;
}

.user-css .search-form .typeahead-input::placeholder,
.user-css .form-control::placeholder,
.user-css .rhea-family-tree input::placeholder,
.map-context-user-css .search-form .typeahead-input::placeholder {
  color: var(--chi-muted-color);
}

.user-css .typeahead.dropdown-menu,
.map-context-user-css .typeahead.dropdown-menu {
  background: var(--chi-secondary-color-1);
}

.user-css .form-group .dropdown-menu,
.map-context-user-css .form-group .dropdown-menu {
  border: none;
  border-left: 2px solid var(--chi-tertiary-color-3);
  border-right: 2px solid var(--chi-tertiary-color-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .typeahead.dropdown-menu li,
.map-context-user-css .typeahead.dropdown-menu li {
  padding: 0;
  background: var(--chi-secondary-color-1);
}

.user-css .typeahead.dropdown-menu li.active .dropdown-item,
.map-context-user-css .typeahead.dropdown-menu li.active .dropdown-item {
  background: var(--chi-prime-color);
  font-weight: normal;
}

.user-css .typeahead.dropdown-menu li a,
.map-context-user-css .typeahead.dropdown-menu li a {
  color: var(--chi-tertiary-color-1);
}

/*--------------------------*/
/* ---- Breadcrumbs   ---- */
/* -------------------------*/
.user-css .breadcrumb,
.user-css-extended .breadcrumb {
  font-family: var(--chi-font-body);
  font-size: 1.1em;
  font-style: normal;
}

.user-css .breadcrumb .fas,
.user-css-extended .breadcrumb .fas {
  color: var(--chi-tertiary-color-2);
}

/*--------------------------*/
/* ---- Bottom   ---- */
/* -------------------------*/
.user-css .copyright-attribution {
  background: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  border: 3px solid var(--chi-tertiary-color-1);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: -17px;
}

.user-css .article-horizontal-navigation {
  font-family: var(--chi-font-secondary);
}

/*--------------------------*/
/* ---- Nav tabs   ---- */
/* -------------------------*/
.user-css-extended .extended-tabs {
  position: initial;
  margin: 0 -10px;
}

.user-css-extended .nav-tabs {
  background: var(--chi-secondary-color-3);
  margin-right: -25px;
  margin-left: -25px;
  left: 0;
  top: 0;
}

.user-css-extended .nav-tabs li {
  padding: 0;
}

.user-css-extended .nav-tabs li.nav-item a.nav-link {
  font-family: var(--chi-font-title);
  color: var(--chi-secondary-color-1);
  background: var(--chi-tertiary-color-2);
  border-right: none;
  margin-bottom: 0px;
  padding: 0px 15px;
  transition: all 0.3s;
}

.user-css-extended .nav-tabs .active,
.user-css-extended .nav-tabs .active:hover,
.user-css-extended .nav-tabs li a:hover {
  background: var(--chi-tertiary-color-1) !important;
  font-style: normal;
}

.user-css-extended .dl-horizontal {
  padding-bottom: 15px;
}

.user-css-extended .article-extended-tabs {
  border: 3px solid var(--chi-tertiary-color-2);
  border-radius: 15px;
}

.user-css-extended .metadata-label {
  font-family: var(--chi-font-secondary);
}

/*--------------------------*/
/* ---- Secrets and notes   ---- */
/* -------------------------*/
.user-css-extended .panel-default {
  font-family: var(--chi-font-body);
}

.user-css-extended .panel-default .panel-heading {
  background: none;
  border: none;
  padding: 15px;
}

.user-css-extended .panel-default .panel-heading h3 {
  padding-top: 0px;
}

/*--------------------------*/
/* ---- Tags   ---- */
/* -------------------------*/
.user-css .label-default,
.user-css-extended .label-default,
.user-css .timeline li .label-default {
  color: var(--chi-secondary-color-1) !important;
  font-weight: bold;
  background: var(--chi-tertiary-color-1);
  border: none;
  border-radius: 0px;
  transition: all 0.3s;
  box-shadow: none;
}

.user-css .label-default:hover,
.user-css-extended .label-default:hover,
.user-css .timeline li .label-default:hover {
  background: var(--chi-tertiary-color-2);
}

/*--------------------------*/
/* ---- Comments Form   ---- */
/* -------------------------*/
.user-css-extended .comment-form textarea {
  color: var(--chi-body-text-color);
  font-family: var(--chi-font-body);
  font-size: 1em;
  background: var(--chi-secondary-color-2);
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.user-css-extended .form-control:focus {
  border: 2px solid var(--chi-tertiary-color-2);
  box-shadow: none;
}

.user-css-extended .comment-form .btn:hover {
  border-left: 2px solid var(--chi-tertiary-color-3);
}

.user-css-extended .comment-form .pull-right {
  font-family: var(--chi-font-body);
}

/*--------------------------*/
/* ---- Comments Box   ---- */
/* -------------------------*/
.user-css-extended .comment-box {
  background: var(--chi-secondary-color-1);
  border-radius: 20px;
}

.user-css-extended .comment-box-content p {
  font-size: 1em;
}

.user-css-extended .comment-box .comment-box-reply {
  border-top: 2px solid var(--chi-tertiary-color-4);
}

.user-css-extended #comments h2,
.user-css-extended #comments h4 {
  border-bottom: none;
}

.user-css-extended .img-circle {
  width: 3rem;
  height: 3rem;
}

/*--------------------------*/
/* ---- Comments Author   ---- */
/* -------------------------*/

.user-css-extended .comment-box-author {
  font-family: var(--chi-font-main);
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding-top: 0px;
}

.user-css-extended .comment-box-author small {
  opacity: 1;
  color: var(--chi-muted-color);
}

.user-css-extended .text-gold {
  color: var(--chi-tertiary-color-1) !important;
  font-size: 0.85em;
}

.user-css-extended .comment-box-avatar .img-avatar {
  border: 2px solid var(--chi-tertiary-color-4);
  max-width: 60px;
  max-height: 60px;
  box-shadow: none;
}

.user-css-extended .comment-box-date {
  font-family: var(--chi-font-body);
  color: var(--chi-muted-color);
  font-size: 1em;
  opacity: 1;
}

.user-css-extended .comment-box-signature {
  border-top: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .comment-box-date,
.user-css-extended [class*=comment-foo] {
  border: none;
}

/*--------------------------*/
/* ---- Maps Fullscreen ---- */
/* -------------------------*/
.map-context-user-css {
  background: var(--chi-secondary-color-1);
}

.user-css-map-sidebar {
  background: var(--chi-prime-color);
  border-right: 2px solid var(--chi-tertiary-color-4);
}

.user-css-map-sidebar #sidebar-extras .card {
  font-family: var(--chi-font-body);
  background: none;
  border: none;
}

.map-context-user-css #sidebarCollapse {
  color: var(--chi-secondary-color-2);
  background: var(--chi-tertiary-color-2);
  border-right: 2px solid var(--chi-tertiary-color-3);
  border-radius: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
  transition: all 0.3s;
}

.map-context-user-css #sidebarCollapse:hover {
  padding-left: 20px;
}

.map-context-user-css .nav-strip {
  color: var(--chi-body-text-color);
  background: var(--chi-tertiary-color-2);
  border: none;
  border-radius: 0px;
  font-family: var(--chi-font-main);
  box-shadow: none;
  transition: all 0.3s;
}

.map-context-user-css .nav-strip:hover {
  color: var(--chi-body-text-color);
  background: var(--chi-tertiary-color-1);
}

.map-context-user-css .nav-strip .text-white {
  color: var(--chi-body-text-color) !important;
}

.map-context-user-css .nav-strip:hover .text-white {
  color: var(--chi-body-text-color) !important;
}

/*--------------------------*/
/* ---- Maps Logo/sage nav ---- */
/* -------------------------*/
.presentation-interface-map #logo {
  color: var(--chi-font-body);
  font-family: var(--chi-font-main);
  font-size: 1.2em;
}

.presentation-interface-map #logo:before {
  background: var(--chi-tertiary-color-1);
  border: none;
  border-bottom: 2px solid var(--chi-tertiary-color-3);
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

/*--------------------------*/
/* ---- Maps Zoom buttons ---- */
/* -------------------------*/
.leaflet-touch .leaflet-bar {
  border: none;
  border-radius: 0px;
}

.user-css .leaflet-control-layers,
.user-css .leaflet-control-layers-base span,
.map-context-user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers-base span {
  border-color: var(--chi-tertiary-color-2);
}

.map-context-user-css .leaflet-control-zoom-in,
.map-context-user-css .leaflet-control-zoom-out,
.user-css .leaflet-control-zoom-in,
.user-css .leaflet-control-zoom-out {
  border: none;
  text-shadow: none;
}

.user-css .leaflet-bar a:first-child,
.map-context-user-css .leaflet-bar a:first-child {
  color: var(--chi-secondary-color-1);
  background: var(--chi-tertiary-color-1);
  border-radius: 0px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  transition: all 0.3s;
}

.user-css .leaflet-bar a:last-child,
.map-context-user-css .leaflet-bar a:last-child {
  color: var(--chi-secondary-color-1);
  background: var(--chi-tertiary-color-2);
  border-radius: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  transition: all 0.3s;
}

.map-context-user-css .leaflet-bar a:hover,
.user-css .leaflet-bar a:hover {
  background: var(--chi-secondary-color-1);
  border: none;
}

.map-context-user-css .leaflet-bar a.leaflet-disabled,
.user-css .leaflet-bar a.leaflet-disabled {
  border: none;
  color: transparent;
}

/*--------------------------*/
/* ---- Maps Layers ---- */
/* -------------------------*/
.user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers {
  background: var(--chi-tertiary-color-2);
  border: none;
  border-right: 2px solid var(--chi-tertiary-color-3);
  border-radius: 0px;
}

.user-css .leaflet-control-layers-expanded,
.map-context-user-css .leaflet-control-layers-expanded {
  background: var(--chi-tertiary-color-2);
  font-family: var(--chi-font-body);
}

.map-context-user-css .leaflet-control-layers-base span {
  font-size: 1.5em;
  color: var(--chi-secondary-color-1);
}

/*--------------------------*/
/* ---- Maps Legend ---- */
/* -------------------------*/
.user-css .legend,
.map-context-user-css .legend {
  font-family: var(--chi-font-body);
  color: var(--chi-body-text-color);
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .legend {
  padding: 10px;
}

.map-context-user-css .legend {
  font-size: 1.5em;
}

.user-css .legend ul,
.map-context-user-css .legend ul {
  padding-left: 20px;
  margin: 0px;
}

/*--------------------------*/
/* ---- Maps Popups ---- */
/* -------------------------*/
.user-css .leaflet-popup-content-wrapper,
.user-css .leaflet-popup-tip,
.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  color: var(--chi-body-text-color);
  font-family: var(--chi-font-body);
  background: var(--chi-secondary-color-1);
  border-radius: 0px;
  box-shadow: none;
}

.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  font-size: 1.3em;
}

.user-css .leaflet-popup-content .header-title,
.map-context-user-css .leaflet-popup-content-wrapper h5 {
  font-family: var(--chi-font-main);
  color: var(--chi-tertiary-color-1);
  font-size: 1.5em;
}

.user-css .leaflet-popup-close-button,
.map-context-user-css .leaflet-popup-close-button {
  color: var(--chi-tertiary-color-1) !important;
  margin: 2px;
  font-size: 1.2em;
}

/*--------------------------*/
/* ---- Inline Maps ---- */
/* -------------------------*/
.user-css-presentation .leaflet-grab {
  border: 2px solid var(--chi-tertiary-color-4);
  border-radius: 0px;
  background: var(--chi-secondary-color-2);
  box-shadow: none;
}

/*--------------------------*/
/* ---- Maps Navigation ---- */
/* -------------------------*/
.user-css .map-included-navigation {
  background: var(--chi-secondary-color-1);
  border: 2px solid var(--chi-tertiary-color-4);
  padding: 2px 2px 10px 2px;
  border-top-width: 0px;
}

.user-css .map-included-navigation-information {
  margin-top: 0px !important;
}

.user-css .map-included-navigation-title {
  font-family: var(--chi-font-main);
  color: var(--chi-tertiary-color-2);
  font-size: 1.3em;
  padding-top: 2px;
  margin-right: 10px;
}

.user-css .map-included-navigation-information .fa-info-circle {
  color: var(--chi-tertiary-color-1);
}

/*--------------------------*/
/* ---- Diplomacy Webs ---- */
/* -------------------------*/
.user-css .clotho-box {
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-2);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .clotho-box .clotho-node {
  border: 2px solid var(--chi-tertiary-color-2);
  box-shadow: none;
}

.user-css .clotho-box .clotho-node .clotho-portrait-frame {
  height: 100%;
  max-height: 140px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame {
  background: var(--chi-secondary-color-1);
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label {
  border: none;
  margin-left: -2px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label a {
  font-size: 1em;
  font-family: var(--chi-font-body);
  color: var(--chi-body-text-color);
}

/*--------------------------*/
/* ---- Diplomacy Webs Hover ---- */
/* -------------------------*/
.user-css [class*=clotho-title-] {
  background: var(--chi-secondary-color-2);
  box-shadow: none;
  border-top: 2px solid var(--chi-tertiary-color-4);
}

.user-css .clotho-title-arrows,
.user-css .clotho-box div:nth-of-type(2) .clotho-title-item img,
.user-css [class*=clotho-title-item] {
  border-top: none;
}

.user-css [class*=clotho-title-item] {
  border: 2px solid var(--chi-tertiary-color-2);
  padding: 0px !important;
}

.user-css .clotho-box div:nth-of-type(2) .clotho-title-arrows .clotho-rel-text {
  color: var(--chi-tertiary-color-2);
  top: -120px;
}

.user-css [class*=show] {
  padding-top: 25px;
  padding-bottom: 35px;
}

/*--------------------------*/
/* ---- Org Relaitonships ---- */
/* -------------------------*/
.user-css .relation .relationScore {
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-3);
  border-width: 2px;
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Org  Tree ---- */
/* -------------------------*/
.user-css-extended .orgtree li a,
.user-css-extended .orgtree li a:hover + ul li a {
  font-family: var(--chi-font-body);
  font-weight: bold;
  font-size: 1em;
  color: var(--chi-prime-color);
  background: var(--chi-tertiary-color-1);
  border: none;
  border-radius: 0px;
  transition: all 0.3s;
}

.user-css-extended .orgtree li a:hover {
  background: var(--chi-tertiary-color-2);
  transform: scale(1.05);
}

.user-css-extended .orgtree li a:hover + ul li a {
  background: var(--chi-prime-color);
  color: var(--chi-tertiary-color-1);
  outline: 2px solid var(--chi-tertiary-color-3);
  outline-width: 2px;
  outline-offset: -2px;
}

/*--------------------------*/
/* ---- Org Tree Lines ---- */
/* -------------------------*/
.user-css-extended .orgtree ul ul::before {
  border-left: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .orgtree li::before {
  border-top: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .orgtree li::after {
  border-top: 2px solid var(--chi-tertiary-color-2);
  border-left: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .orgtree li:last-child::before {
  border-right: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .orgtree li:first-child::after {
  border-left: 2px solid var(--chi-tertiary-color-2);
}

.user-css-extended .orgtree li:first-child::before,
.user-css-extended .orgtree li:last-child::after {
  border: transparent;
}

.user-css-extended .orgtree li a:hover + ul::before,
.user-css-extended .orgtree li a:hover + ul li::before,
.user-css-extended .orgtree li a:hover + ul li::after {
  border-color: var(--chi-tertiary-color-2);
}

/*--------------------------*/
/* ---- Family Trees ---- */
/* -------------------------*/
.user-css .rhea-family-tree {
  background: var(--chi-secondary-color-2);
  border: 2px solid var(--chi-tertiary-color-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .rhea-family-tree .loader {
  background-color: var(--chi-tertiary-color-1);
  border: none;
}

.user-css .rhea-loader-text {
  font-family: var(--chi-font-main);
  color: var(--chi-prime-color);
  text-shadow: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait:after {
  background: none;
  border: none;
}

.user-css .rhea-family-tree .main-character .character-portrait:after {
  background: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait-wrapper {
  border: 2px solid var(--chi-tertiary-color-3);
  border-width: 2px;
  border-radius: 0px;
}

.user-css .rhea-family-tree .main-character .character-portrait-wrapper {
  border-color: var(--chi-tertiary-color-2);
}

.user-css .rhea-family-tree .rhea-character-node .character-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-css .rhea-family-tree .rhea-character-node .character-label {
  margin-top: -2px;
  font-family: var(--chi-font-body);
  background: var(--chi-tertiary-color-1);
  border: none;
  border-radius: 0px;
  width: 100px;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-data
  .character-name {
  font-family: var(--chi-font-body);
  color: var(--chi-prime-color);
  font-weight: bold;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-label
  .character-life {
  color: var(--chi-prime-color);
  margin-top: 2px;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-label {
  background: var(--chi-tertiary-color-2);
}

.user-css .rhea-family-tree .character-relationship {
  opacity: 0;
  transition: all 0.3s;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-relationship {
  color: var(--chi-prime-color);
  background: var(--chi-tertiary-color-1);
  top: -1px;
  opacity: 1;
}

.user-css .rhea-family-tree svg path {
  stroke: var(--chi-tertiary-color-2);
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait img {
  border: none;
}

/*--------------------------*/
/* ---- Family Tree Search ---- */
/* -------------------------*/
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap {
  border: 2px solid var(--chi-tertiary-color-3);
  border-width: 2px;
  padding: 2px 15px;
}

.user-css .rhea-family-tree input::placeholder {
  color: var(--chi-muted-color);
}

.user-css .rhea-search-clear .fal {
  color: var(--chi-muted-color);
}

.user-css .rhea-ft-zoom-controls {
  border: none;
}

/*--------------------------*/
/* ---- Prose ---- */
/* -------------------------*/
.user-css-presentation .page-article.template-prose .article-content {
  font-size: 1em;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .w-o-b.btn.btn-xs {
  background: var(--chi-prime-color) !important;
  color: var(--chi-body-text-color) !important;
}

.user-css.bow {
  background: var(--chi-prime-color) !important;
}

.user-css.bow p,
.user-css.bow .article-content,
.user-css.bow .article-content h2,
.user-css.bow .article-content h3,
.user-css.bow .article-content h4 {
  color: var(--chi-body-text-color) !important;
}

.user-css.bow .article-content h1 {
  color: var(--chi-tertiary-color-1) !important;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .b-o-w.btn.btn-xs {
  background: var(--chi-body-text-color) !important;
  color: var(--chi-prime-color) !important;
}

.user-css.wob {
  background: var(--chi-body-text-color) !important;
}

.user-css.wob p,
.user-css.wob .article-content,
.user-css.wob .article-content h2,
.user-css.wob .article-content h3,
.user-css.wob .article-content h4 {
  color: var(--chi-prime-color) !important;
}

.user-css.wob .article-content h1 {
  color: var(--chi-prime-color) !important;
}

/*--------------------------*/
/* ---- Scrollbar ---- */
/* -------------------------*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--chi-secondary-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--chi-tertiary-color-2);
  width: 9px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--chi-tertiary-color-1);
}

/*--------------------------*/
/* ---- White Label ---- */
/* -------------------------*/
.user-css-whitelabel {
  left: -160px;
  background: var(--chi-prime-color);
  border-radius: 0px 50px 50px 0px;
  color: var(--BodyColor) !important;
  padding: 10px 30px 10px 10px;
  transition: all 0.3s ease-in-out;
}

.user-css-whitelabel:hover {
  left: 0px;
}

/*--------------------------*/
/* ---- Screen Scaling ---- */
/* -------------------------*/
@media only screen and (max-width: 1199px) {
  .user-css-presentation #world-navigation-sidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 991px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css-presentation #world-navigation-sidebar {
    top: 26%;
    min-height: 60% !important;
    width: 100%;
    left: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css .search-form {
    top: 0px;
    left: 0px;
  }
}

/*--------------------------*/
/* ---- Editor Bar ---- */
/* -------------------------*/
#world-editor-bar {
  background: var(--chi-prime-color);
  width: 120px;
  top: auto;
  bottom: 200px;
  left: -115px;
  border-bottom: none;
  box-shadow: none;
  opacity: 0.6;
  padding: 15px 15px 0px 15px;
  transition: all 0.3s;
  border-radius: 8px;
}

#world-editor-bar:hover {
  left: 0px;
}

#world-editor-bar .fa {
  font-size: 2em;
}

#world-editor-bar .btn {
  width: 85px !important;
  margin-bottom: 10px;
}

#world-editor-bar .world-edit-toggle .fa {
  color: white !important;
}

#world-editor-bar .world-edit-toggle .fa {
  width: 100%;
  height: 100%;
  line-height: 36px;
}

#world-editor-bar .pull-right {
  float: none !important;
}

#world-editor-bar [class*=cont] {
  width: 100px !important;
}

#world-editor-bar .label,
#world-editor-bar .btn-success:nth-child(1) {
  display: none;
}

#world-editor-bar .btn {
  background: var(--chi-tertiary-color-1);
  border: 3px solid var(--chi-tertiary-color-5);
  overflow: hidden;
}

#world-editor-bar .btn .hidden-xs {
  display: none;
}

/*--------------------------*/
/* ---- Edits ---- */
/* -------------------------*/
.user-css-presentation .world-navigation-palette-trigger,
.user-css #world-category-content,
.user-css .world-content .world-maps,
.user-css .world-article-categories-link,
.user-css .discussion-boards-world-link,
.user-css .article-competition-entries,
.user-css.page-world-homepage #world-menu,
.user-css.page-world-homepage #world-timelines,
.user-css .world-authors,
.user-css .world-recent-articles {
  display: none;
}

.user-css.core-category .category-contents .category-header b,
.user-css.core-category .category-contents .category-header strong,
.user-css.core-category .category-title-icon {
  display: none;
}

.user-css.sub-category .category-contents .category-header,
.user-css.sub-category .category-articles h2,
.user-css.sub-category .copyright-attribution,
.user-css.sub-category #cover {
  display: none;
}

.user-css.article .article-title-icon {
  display: none;
}

.user-css.article .panel {
  background: none;
  border: none;
  box-shadow: none;
}

.user-css .article-introbox.charcard,
.user-css .introbox-header.charcard {
  width: 80%;
}

.user-css .article-introbox.key,
.user-css .introbox-header.key {
  width: 45%;
}

/*--------------------------*/
/* ---- Navbar ---- */
/* -------------------------*/
.user-css.page-world-homepage,
.user-css.page-article-main,
.user-css.page-category {
  margin-top: 80px !important;
}

.user-css .chi-navbar {
  background: var(--chi-secondary-color-1);
  color: var(--chi-body-text-color);
  border-bottom: 2px solid var(--chi-tertiary-color-1);
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
  line-height: 0;
  padding: 19px;
}

.user-css .chi-navbar-title {
  text-align: center;
  padding-top: 6px;
  font-size: 1.2em;
}

.user-css .chi-navbar-title a {
  color: var(--chi-muted-color);
  font-family: var(--chi-font-title);
  text-decoration: none;
}

.user-css .chi-navbar-title a:hover {
  font-style: normal;
  color: var(--chi-tertiary-color-1);
  border-bottom: 2px solid var(--chi-tertiary-color-1);
}

.user-css .chi-navbar-title .text-abbreviation {
  border-bottom: none;
}

/*--------------------------*/
/* ---- Category Portals    ---- */
/* -------------------------*/
.user-css .category-portal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -28px;
}

.user-css .category-portal-section {
  background: var(--chi-secondary-color-1);
  border-radius: 0%;
  overflow: hidden;
  border-radius: 30px;
}

.user-css .category-portal-section:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.user-css .category-portal-title {
  background-color: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  padding: 10px;
  font-size: 1.2em;
  border-bottom: 2px solid var(--chi-tertiary-color-1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.user-css .category-portal-image img {
  width: 150px;
  height: auto;
}

.user-css .category-portal-section.center-section {
  grid-column-start: 2; 
  grid-column-end: span 1; 
}


/*--------------------------*/
/* ---- Category Portals Scaling    ---- */
/* -------------------------*/
@media screen and (max-width: 1000px) {
  .user-css .category-portal-grid {
    grid-template-columns: 1fr;
  }
}

/*--------------------------*/
/* ---- Articles    ---- */
/* -------------------------*/
.user-css .article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.user-css .article-card {
  background-color: var(--chi-secondary-color-1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 90%;
  margin: auto;
}

.user-css .article-header {
  background-color: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  padding: 10px 20px;
  font-family: var(--chi-font-main);
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.user-css .article-section {
  padding: 25px;
  background-color: var(--chi-secondary-color-1);
  color: var(--chi-body-text-color);
  font-size: 19px;
  line-height: 1.8;
}

/*--------------------------*/
/* ---- Articles Scaling    ---- */
/* -------------------------*/
@media screen and (max-width: 1000px) {
  .user-css .article-grid {
    grid-template-columns: 1fr;
  }
}

/*--------------------------*/
/* ---- Portal Card    ---- */
/* -------------------------*/
.user-css .portal-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.user-css .portal-card {
  width: 212px;
  margin: auto;
  position: relative;
  transition: 0.3s;
  border-radius: 10px;
  color: var(--chi-body-text-color);
  overflow: hidden;
}

.user-css .portal-card-header {
  background-color: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  text-align: center;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: var(--chi-font-secondary);
}

.user-css .portal-card-image img {
  display: block;
  width: 100%;
  height: auto;
}

.user-css .portal-card-image .padding-10 {
  padding: 0px;
}

.user-css .portal-card {
  width: 212px;
  margin: auto;
  position: relative;
  transition: 0.3s;
  border-radius: 10px;
  color: var(--chi-body-text-color);
  overflow: hidden;
}

/*--------------------------*/
/* ---- Articles Scaling    ---- */
/* -------------------------*/
@media screen and (max-width: 1000px) {
  .user-css .portal-card-grid {
    grid-template-columns: 1fr;
  }
}

/*--------------------------*/
/* ---- Character Keys    ---- */
/* -------------------------*/
.user-css .key-card {
  background-color: var(--chi-secondary-color-1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 45%;
  margin: auto;
}

.user-css .key-card-header {
  background-color: var(--chi-secondary-color-3);
  color: var(--chi-prime-color);
  padding: 10px 20px;
  font-family: var(--chi-font-main);
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.user-css .key-card-section {
  padding: 25px;
  background-color: var(--chi-secondary-color-1);
  color: var(--chi-body-text-color);
  font-size: 19px;
  line-height: 1.8;
}

.user-css .key-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 5px;
}

.user-css .key-color-box {
  padding: 5px 10px;
  color: var(--chi-prime-color);
  text-align: center;
  font-size: 0.9em;
  font-family: var(--chi-font-secondary);
  border-radius: 5px;
}

/*--------------------------*/
/* ---- Key/Header Colors    ---- */
/* -------------------------*/
.user-css .tobu {
  background-color: #601a1b;
}

.user-css .xifang {
  background-color: #00a86b;
}

.user-css .omnod {
  background-color: #c19a6b;
}

.user-css .bei {
  background-color: #7d7d7d;
}

.user-css .the-shogunate {
  background-color: #272626;
}

.user-css .yawaran {
  background-color: #b51919;
}

.user-css .kibo {
  background-color: #f7941d;
}

.user-css .clan-kaneshiro {
  background-color: #3f64b4;
}

.user-css .main-character {
  background-color: #4169E1; 
}

.user-css .side-character {
  background-color: #98FB98; 
  color: black;
}

.user-css .antagonist {
  background-color: #8B0000; 
}


.user-css .tobu-header {
  background-color: #601a1b;
}

.user-css .xifang-header {
  background-color: #00a86b;
}

.user-css .omnod-header {
  background-color: #c19a6b;
  color: black;
}

.user-css .bei-header {
  background-color: #7d7d7d;
}

.user-css .the-shogunate-header {
  background-color: #272626;
}

.user-css .yawaran-header {
  background-color: #b51919;
}

.user-css .kibo-header {
  background-color: #f7941d;
}

.user-css .clan-kaneshiro-header {
  background-color: #3f64b4;
}

/*--------------------------*/
/* ---- Key Scaling    ---- */
/* -------------------------*/
@media screen and (max-width: 1000px) {
  .user-css .key-grid {
    grid-template-columns: 1fr;
  }
}