/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --hero-font-main: Iceland;
  --hero-font-secondary: Aldrich;
  --hero-font-body: Electrolize;

  /* Colors */
  --hero-prime-color: #1d2230;
  --hero-secondary-color-1: #12151a;
  --hero-secondary-color-2: #0e0e0e;
  --hero-tertiary-color-1: #4b7bdc;
  --hero-tertiary-color-2: #3272c9;
  --hero-tertiary-color-3: #2d5475;
  --hero-tertiary-color-4: #396087;
  --hero-tertiary-color-5: #507cb3;
  --hero-body-text-color: #d6e2f0;
  --hero-muted-color: #b0c4de;
}

/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
.user-css-presentation {
  background: #0e0e10;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--hero-prime-color);
  border: 8px double var(--hero-tertiary-color-5);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: none;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Iceland;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/iceland/v8/rax9HiuFsdMNOnWPaKtMAQ.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Aldrich;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aldrich/v10/MCoTzAn-1s3IGyJMVacY3w.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Electrolize;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/electrolize/v8/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--hero-font-body);
  color: var(--hero-body-text-color);
}

.user-css-vignette {
  font-size: 0.9em;
}


/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--hero-tertiary-color-1);
  font-family: var(--hero-font-main);
  font-size: 4em;
  text-align: center;
  padding-top: 15px;
  line-height: 1;
  text-transform: uppercase;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--hero-font-main);
  color: var(--hero-tertiary-color-2);
  padding-top: 15px;
  border-bottom: 2px solid var(--hero-tertiary-color-2);
  font-size: 3.1em;
  margin-bottom: 0px;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--hero-font-main);
  color: var(--hero-tertiary-color-1);
  font-size: 2.5em;
  padding-top: 20px;
  line-height: 1;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--hero-font-main);
  color: var(--hero-tertiary-color-2);
  font-size: 2.1em;
  padding-top: 20px;
  line-height: 1;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--hero-tertiary-color-2);
  font-family: var(--hero-font-secondary);
  padding-top: 10px;
  font-family: 32px;
  margin-top: 0px;
  line-height: 1;
}

.user-css h6 {
  font-family: var(--hero-font-main);
  padding-top: 15px;
  line-height: 1;
}

/*--------------------------*/
/* ---- Links   ---- */
/* -------------------------*/
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a,
.user-css .usercard a {
  color: var(--hero-tertiary-color-2);
  transition: all 0.3s;
  text-shadow: none;
}

.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover,
.user-css .usercard a:hover {
  color: var(--hero-tertiary-color-1);
  text-shadow: none;
  font-style: italic;
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .text-abbreviation {
  cursor: default !important;
  border-bottom: 1px dotted var(--hero-body-text-color);
}

.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  color: var(--hero-body-text-color);
  font-family: var(--hero-font-body);
  font-size: 1.4em;
  background: var(--hero-tertiary-color-4);
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.user-css-presentation .tooltip-arrow::before,
.user-css-presentation .tooltipster-arrow-border,
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
  border-top-color: var(--hero-tertiary-color-4) !important;
}

.user-css-presentation .tooltipster-borderless .tooltipster-box {
  background: none;
}

/*--------------------------*/
/* ---- Article Excepts   ---- */
/* -------------------------*/
.user-css-presentation .tooltip {
  opacity: 1;
}

.user-css-presentation .tooltip-arrow::before {
  border-top-color: var(--hero-tertiary-color-4);
}

.user-css-presentation .tooltip .tooltip-inner {
  max-width: 300px;
  background: var(--hero-prime-color);
}

/*--------------------------*/
/* ---- Misc   ---- */
/* -------------------------*/
.user-css .article-subheading,
.user-css .article-title-author {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
}

.user-css .text-muted,
.user-css-extended .text-muted {
  color: var(--hero-muted-color) !important;
}

.user-css .text-danger,
.user-css-extended .text-danger {
  color: var(--hero-tertiary-color-2) !important;
}

.user-css .droheroap {
  font-family: var(--hero-font-body);
}

/*--------------------------*/
/* ---- Buttons   ---- */
/* -------------------------*/
.user-css .btn,
.user-css-extended .btn,
.user-css .label-roller,
.user-css .rhea-ft-zoom-controls button,
.user-css-presentation .tooltipster-content .btn,
.user-css .discussion-board-section [class*=rep] .btn {
  font-family: var(--hero-font-body);
  font-size: 1em;
  font-weight: bold;
  color: var(--hero-secondary-color-1) !important;
  background: var(--hero-tertiary-color-2);
  border: none;
  border: 2px solid var(--hero-tertiary-color-3);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.user-css .btn:hover,
.user-css-extended .btn:hover,
.user-css .label-roller:hover,
.user-css .rhea-ft-zoom-controls button:hover,
.user-css-presentation .tooltipster-content .btn:hover,
.user-css .discussion-board-section [class*=rep] .btn:hover {
  text-shadow: none;
  text-decoration: none;
  font-style: normal;
  padding-left: 15px;
  background: var(--hero-tertiary-color-1);
  border-color: var(--hero-tertiary-color-4);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.user-css .btn:focus,
.user-css-extended .btn:focus,
.map-context-user-css .btn:focus,
.tooltipster-content .btn:focus {
  box-shadow: none;
}

.user-css .btn-success,
.user-css-extended .btn .btn-success {
  background: var(--hero-tertiary-color-1) !important;
  border: none !important;
  border-left: 5px solid var(--hero-tertiary-color-4) !important;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.user-css .btn-success:hover,
.user-css-extended .btn .btn-success:hover {
  background: var(--hero-tertiary-color-2) !important;
  border: none !important;
  border-left: 5px solid var(--hero-tertiary-color-4) !important;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.user-css .visibility-toggler-trigger .fas,
.user-css-extended .visibility-toggler-trigger .fas {
  padding: 5px;
}

/*--------------------------*/
/* ---- Quotes   ---- */
/* -------------------------*/
.user-css blockquote,
.user-css-extended blockquote,
.user-css-presentation .tooltipster-content blockquote {
  background: var(--hero-secondary-color-2);
  border: 2px solid var(--hero-tertiary-color-3);
  border-radius: 8px;
  box-shadow: none;
}

.user-css blockquote .author,
.user-css-extended blockquote .author,
.user-css-presentation .tooltipster-content blockquote .author {
  color: var(--hero-muted-color);
  font-family: var(--hero-font-main);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Sidebar Panel   ---- */
/* -------------------------*/
.user-css .panel,
.user-css-extended .panel {
  background: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-4);
  border-radius: 20px;
  box-shadow: none;
  padding: 10px;
}

/*--------------------------*/
/* ---- HR   ---- */
/* -------------------------*/
.user-css hr,
.user-css-extended hr,
.user-css-map-sidebar hr,
.user-css .tooltipster-content hr {
  border-top: 3px solid var(--hero-tertiary-color-2);
  opacity: 1;
}

/*--------------------------*/
/* ---- Images   ---- */
/* -------------------------*/
.user-css .artist-credits {
  background: var(--hero-secondary-color-1);
  color: var(--hero-tertiary-color-1);
}

/*--------------------------*/
/* ---- Imageblocks   ---- */
/* -------------------------*/
.user-css .image-panel {
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
  text-align: center;
  padding: 15px;
}

.user-css .image-panel .cover,
.user-css .image-panel .user-css-image-thumbnail {
  margin-top: 0px;
}

.user-css .image-panel img {
  margin: auto;
}

.user-css .image-panel h5 {
  font-size: 2em;
}

.user-css .image-panel .artist-credits {
  font-size: 1em;
}

/*--------------------------*/
/* ---- Carousels   ---- */
/* -------------------------*/
.user-css .carousel {
  height: 500px;
}

.user-css .carousel-inner img {
  height: 500px;
  object-fit: contain;
}

.user-css .carousel-item.active {
  display: flex;
  justify-content: center;
}

.user-css .carousel-caption h3 {
  background: var(--hero-prime-color);
  padding: 0px;
}

.user-css .carousel-indicators li {
  background-color: var(--hero-tertiary-color-1);
}

.user-css .carousel-control {
  opacity: 1;
  background: none;
}

.user-css .carousel-control-next-icon {
  background-image: none;
  background: var(--hero-tertiary-color-1);
  clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
}

.user-css .carousel-control-prev-icon {
  background-image: none;
  background: var(--hero-tertiary-color-1);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

/*--------------------------*/
/* ---- Spoilers   ---- */
/* -------------------------*/
.user-css .spoiler-button,
.user-css-extended .spoiler-button {
  border-top: 5px solid var(--hero-tertiary-color-3);
  border-left: none;
}

.user-css .spoiler-button:hover,
.user-css .spoiler-button[aria-expanded=true],
.user-css-extended .spoiler-button:hover,
.user-css-extended .spoiler-button[aria-expanded=true] {
  padding-left: 0.5rem;
  padding-top: 10px;
}

.user-css .spoiler-content,
.user-css-extended .spoiler-content {
  border-top: 5px solid var(--hero-tertiary-color-3);
  color: var(--hero-body-text-color);
  background: var(--hero-secondary-color-2);
  border-radius: 0px;
}

.user-css .spoiler-card,
.user-css-extended .spoiler-card {
  background: none;
  border: none;
  padding: 0px !important;
}

/*--------------------------*/
/* ---- Aloud Boxes   ---- */
/* -------------------------*/
.user-css .aloud,
.user-css-presentation .tooltipster-content .aloud {
  background: var(--hero-secondary-color-1);
  color: var(--hero-tertiary-color-1);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Article Blocks   ---- */
/* -------------------------*/
.user-css .article-panel,
.user-css-extended .article-panel,
.user-css .map-box {
  background: var(--hero-secondary-color-1);
  border: 3px solid var(--hero-tertiary-color-2);
  border-radius: 8px;
  box-shadow: none;
  transition: all 0.3s;
  overflow: hidden;
}

.user-css .article-panel:hover,
.user-css-extended .article-panel:hover,
.user-css .map-box:hover {
  border-color: var(--hero-tertiary-color-4);
}

.user-css .article-panel .article-link:hover {
  text-decoration: none;
  font-style: normal;
}

.user-css .article-panel .heading {
  color: var(--hero-tertiary-color-1);
  font-size: 1.1em;
}

.user-css .article-panel .subheading,
.user-css .article-panel .details p,
.user-css .article-panel .date {
  display: none;
}



/*--------------------------*/
/* ---- Homepage   ---- */
/* -------------------------*/
.user-css.page-world-homepage #cover img {
  transform: scale(0.8);
  margin-top: 40px;
}

.user-css .world-author {
  font-family: var(--hero-font-body);
  font-size: 1em;
  margin-bottom: 10px;
}

/*--------------------------*/
/* ---- Homepage Section ---- */
/* -------------------------*/
.user-css .world-title {
  background-color: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
  padding: 10px 20px;
  font-family: var(--hero-font-main);
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  border: 2px solid #4f8bc7;
  border-radius: 10px 10px 0 0;
}

.user-css .homepage-box {
  width: 100%;
  margin-bottom: -50px;
  padding: 25px;
  background-color: var(--hero-secondary-color-1);
  color: var(--hero-body-text-color);
  font-size: 18px;
  border-radius: 0 0 10px 10px;
  border: 2px solid #4f8bc7;
  border-top: none;
}

.user-css .date-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
  border: 1px solid #666;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.user-css .season-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 15px;
  border: 1px solid #666;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.user-css .weather-badge {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4a90e2;
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 0.9em;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-css .weather-badge i {
  margin-right: 10px;
  font-size: 1.2em;
}

@media (max-width: 1000px) {
  .user-css .date-badge,
  .user-css .season-badge,
  .user-css .weather-badge {
    display: none;
  }
}

/*--------------------------*/
/* ---- Bookcovers   ---- */
/* -------------------------*/
.user-css .bookcover {
  position: relative;
  background: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 257px;
}

.user-css .bookcover:hover {
  transform: scale(1.05);
}

.user-css .bookcover a:hover .excerpt {
  display: none;
}

.user-css .bookcover a img {
  width: 77%;
  height: auto;
  max-width: 300px;
  opacity: 1;
}

.user-css .bookcover a {
  font-style: normal;
}

.user-css .bookcover a:hover img {
  opacity: 0.3;
}

.user-css .world-bookcase .booktitle,
.user-css .booktitle {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: unset;
  font-family: var(--hero-font-body);
  background-color: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.user-css .world-bookcase .bookcover a:hover .booktitle,
.user-css .bookcover a:hover .booktitle {
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-1);
}

.user-css .bookcover a[href*=timelines-category] img {
  content: url(https://www.worldanvil.com/uploads/images/eb4a186a61e8b759314a7b13fe47a6c3.svg);
}

/*--------------------------*/
/* ---- Table of Contents   ---- */
/* -------------------------*/
.user-css .fa-external-link {
  display: none;
}

.user-css .toc-article-link {
  color: var(--hero-tertiary-color-2);
}

.user-css .article-title-icon {
  color: var(--hero-tertiary-color-1);
  margin-right: 5px;
  font-size: 0.8em;
}

.user-css .world-category-link {
  color: var(--hero-tertiary-color-1);
}

.user-css .category-title-icon {
  color: var(--hero-tertiary-color-2);
  margin-right: 5px;
}

.user-css .fa-external-link {
  display: none;
}

/*--------------------------*/
/* ---- Map blocks   ---- */
/* -------------------------*/
.user-css .map-box .img-responsive {
  padding: 0px;
}

.user-css .map-box h5 {
  font-size: 1.3em;
}

.user-css .map-box .p-20 {
  padding-top: 0px !important;
}

.user-css .map-box small {
  font-family: var(--hero-font-body);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Followers page   ---- */
/* -------------------------*/
.user-css.page-followers .subheading {
  font-size: 1em;
  font-family: var(--hero-font-body);
}

.user-css .follower-box {
  background: var(--hero-secondary-color-2);
  border-radius: 0px;
}

.user-css .follower-box img {
  border: 3px solid var(--hero-tertiary-color-4);
  max-height: 50px;
  max-width: 50px;
}

.user-css .follower-box small {
  color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Top   ---- */
/* -------------------------*/
.user-css .backtoworld a,
.user-css .nav-strip a,
.user-css .nav-strip {
  display: none;
}

/*--------------------------*/
/* ---- Backtotop   ---- */
/* -------------------------*/
.user-css-presentation #backtotop {
  bottom: 20%;
  width: 50px;
  height: 50px;
}

.user-css-presentation .backtotop-button {
  width: 100%;
  height: 100%;
  background: url(https://www.worldanvil.com/uploads/images/e9a966d74890adc11ba820185f709860.svg)
    no-repeat center center;
  background-size: cover;
  border: none;
  transition: all 0.3s;
  color: transparent;
}

.user-css-presentation .backtotop-button:hover {
  padding-right: 25px;
}

/*--------------------------*/
/* ---- Search Form   ---- */
/* -------------------------*/
.user-css .search-form {
  left: 8px;
  position: fixed;
  top: 6px;
  z-index: 2;
}

.user-css .search-form .typeahead-input,
.user-css .form-control,
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap,
.map-context-user-css .search-form .typeahead-input {
  color: var(--hero-body-text-color) !important;
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 20px;
  color: var(--hero-secondary-color-1);
  width: 200px;
  box-shadow: none;
  padding: 13px 10px 12px 10px;
}

.user-css .search-form .typeahead-input::placeholder,
.user-css .form-control::placeholder,
.user-css .rhea-family-tree input::placeholder,
.map-context-user-css .search-form .typeahead-input::placeholder {
  color: var(--hero-muted-color);
}

.user-css .typeahead.dropdown-menu,
.map-context-user-css .typeahead.dropdown-menu {
  background: var(--hero-secondary-color-1);
}

.user-css .form-group .dropdown-menu,
.map-context-user-css .form-group .dropdown-menu {
  border: none;
  border-left: 3px solid var(--hero-tertiary-color-3);
  border-right: 3px solid var(--hero-tertiary-color-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .typeahead.dropdown-menu li,
.map-context-user-css .typeahead.dropdown-menu li {
  padding: 0;
  background: var(--hero-secondary-color-1);
}

.user-css .typeahead.dropdown-menu li.active .dropdown-item,
.map-context-user-css .typeahead.dropdown-menu li.active .dropdown-item {
  background: var(--hero-prime-color);
  font-weight: normal;
}

.user-css .typeahead.dropdown-menu li a,
.map-context-user-css .typeahead.dropdown-menu li a {
  color: var(--hero-tertiary-color-1);
}

/*--------------------------*/
/* ---- Breadcrumbs   ---- */
/* -------------------------*/
.user-css .breadcrumb,
.user-css-extended .breadcrumb {
  font-family: var(--hero-font-body);
  font-size: 1.1em;
  font-style: normal;
}

.user-css .breadcrumb .fas,
.user-css-extended .breadcrumb .fas {
  color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Copyright Attribution ---- */
/* -------------------------*/
.user-css .copyright-attribution {
  background: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-3);
  padding: 15px;
  margin-bottom: -20px;
  border-radius: 30px;
  color: var(--hero-body-text-color);
  font-size: 1em;
  text-align: center;
}

/*--------------------------*/
/* ---- Nav tabs   ---- */
/* -------------------------*/
.user-css-extended .extended-tabs {
  position: initial;
  margin: 0 -10px;
}

.user-css-extended .nav-tabs {
  background: var(--hero-secondary-color-2);
  margin-right: -25px;
  margin-left: -25px;
  left: 0;
  top: 0;
}

.user-css-extended .nav-tabs li {
  padding: 0;
}

.user-css-extended .nav-tabs li.nav-item a.nav-link {
  font-family: var(--hero-body-text-color);
  color: var(--hero-secondary-color-1);
  background: var(--hero-tertiary-color-2);
  border-right: none;
  margin-bottom: 0px;
  padding: 0px 15px;
  transition: all 0.3s;
}

.user-css-extended .nav-tabs .active,
.user-css-extended .nav-tabs .active:hover,
.user-css-extended .nav-tabs li a:hover {
  background: var(--hero-tertiary-color-1) !important;
  font-style: normal;
}

.user-css-extended .dl-horizontal {
  padding-bottom: 15px;
}

/*--------------------------*/
/* ---- Secrets and notes   ---- */
/* -------------------------*/
.user-css-extended .panel-default {
  font-family: var(--hero-font-body);
}

.user-css-extended .panel-default .panel-heading {
  background: none;
  border: none;
  padding: 15px;
}

.user-css-extended .panel-default .panel-heading h3 {
  padding-top: 0px;
}

/*--------------------------*/
/* ---- Tags   ---- */
/* -------------------------*/
.user-css .label-default,
.user-css-extended .label-default,
.user-css .timeline li .label-default {
  color: var(--hero-secondary-color-1) !important;
  font-weight: bold;
  background: var(--hero-tertiary-color-1);
  border: none;
  border-radius: 0px;
  transition: all 0.3s;
  box-shadow: none;
}

.user-css .label-default:hover,
.user-css-extended .label-default:hover,
.user-css .timeline li .label-default:hover {
  background: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Comments Form   ---- */
/* -------------------------*/
.user-css-extended .comment-form textarea {
  color: var(--hero-body-text-color);
  font-family: var(--hero-font-body);
  font-size: 1em;
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  transition: all 0.3s;
}

.user-css-extended .form-control:focus {
  border: 3px solid var(--hero-tertiary-color-2);
  box-shadow: none;
}

.user-css-extended .comment-form .btn:hover {
  border-left: 5px solid var(--hero-tertiary-color-3);
}

.user-css-extended .comment-form .pull-right {
  font-family: var(--hero-font-body);
}

/*--------------------------*/
/* ---- Comments Box   ---- */
/* -------------------------*/
.user-css-extended .comment-box {
  background: var(--hero-secondary-color-1);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
}

.user-css-extended .comment-box-content p {
  font-size: 1em;
}

.user-css-extended .comment-box .comment-box-reply {
  border-top: 3px solid var(--hero-tertiary-color-4);
}

/*--------------------------*/
/* ---- Comments Author   ---- */
/* -------------------------*/
.user-css-extended .comment-box-author {
  font-family: var(--hero-font-main);
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding-top: 0px;
}

.user-css-extended .comment-box-author small {
  opacity: 1;
  color: var(--hero-muted-color);
}

.user-css-extended .text-gold {
  color: var(--hero-tertiary-color-1) !important;
  font-size: 0.85em;
}

.user-css-extended .comment-box-avatar .img-avatar {
  border: 3px solid var(--hero-tertiary-color-4);
  max-width: 60px;
  max-height: 60px;
  box-shadow: none;
}

.user-css-extended .comment-box-date {
  font-family: var(--hero-font-body);
  color: var(--hero-muted-color);
  font-size: 1em;
  opacity: 1;
}

.user-css-extended .comment-box-signature {
  border-top: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .comment-box-date,
.user-css-extended [class*=comment-foo] {
  border: none;
}

/*--------------------------*/
/* ---- Maps Fullscreen ---- */
/* -------------------------*/
.map-context-user-css {
  background: var(--hero-secondary-color-1);
}

.user-css-map-sidebar {
  background: var(--hero-prime-color);
  border-right: 5px solid var(--hero-tertiary-color-4);
}

.user-css-map-sidebar #sidebar-extras .card {
  font-family: var(--hero-font-body);
  background: none;
  border: none;
}

.map-context-user-css #sidebarCollapse {
  color: var(--hero-secondary-color-2);
  background: var(--hero-tertiary-color-2);
  border-right: 5px solid var(--hero-tertiary-color-3);
  border-radius: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
  transition: all 0.3s;
}

.map-context-user-css #sidebarCollapse:hover {
  padding-left: 20px;
}

.map-context-user-css .nav-strip {
  color: var(--hero-body-text-color);
  background: var(--hero-tertiary-color-2);
  border: none;
  border-radius: 0px;
  font-family: var(--hero-font-main);
  box-shadow: none;
  transition: all 0.3s;
}

.map-context-user-css .nav-strip:hover {
  color: var(--hero-body-text-color);
  background: var(--hero-tertiary-color-1);
}

.map-context-user-css .nav-strip .text-white {
  color: var(--hero-body-text-color) !important;
}

.map-context-user-css .nav-strip:hover .text-white {
  color: var(--hero-body-text-color) !important;
}

/*--------------------------*/
/* ---- Maps Logo/sage nav ---- */
/* -------------------------*/
.presentation-interface-map #logo {
  color: var(--hero-font-body);
  font-family: var(--hero-font-main);
  font-size: 1.2em;
}

.presentation-interface-map #logo:before {
  background: var(--hero-tertiary-color-1);
  border: none;
  border-bottom: 5px solid var(--hero-tertiary-color-3);
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

/*--------------------------*/
/* ---- Maps Zoom buttons ---- */
/* -------------------------*/
.leaflet-touch .leaflet-bar {
  border: none;
  border-radius: 0px;
}

.user-css .leaflet-control-layers,
.user-css .leaflet-control-layers-base span,
.map-context-user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers-base span {
  border-color: var(--hero-tertiary-color-2);
}

.map-context-user-css .leaflet-control-zoom-in,
.map-context-user-css .leaflet-control-zoom-out,
.user-css .leaflet-control-zoom-in,
.user-css .leaflet-control-zoom-out {
  border: none;
  text-shadow: none;
}

.user-css .leaflet-bar a:first-herold,
.map-context-user-css .leaflet-bar a:first-herold {
  color: var(--hero-secondary-color-1);
  background: var(--hero-tertiary-color-1);
  border-radius: 0px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  transition: all 0.3s;
}

.user-css .leaflet-bar a:last-herold,
.map-context-user-css .leaflet-bar a:last-herold {
  color: var(--hero-secondary-color-1);
  background: var(--hero-tertiary-color-2);
  border-radius: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  transition: all 0.3s;
}

.map-context-user-css .leaflet-bar a:hover,
.user-css .leaflet-bar a:hover {
  background: var(--hero-secondary-color-1);
  border: none;
}

.map-context-user-css .leaflet-bar a.leaflet-disabled,
.user-css .leaflet-bar a.leaflet-disabled {
  border: none;
  color: transparent;
}

/*--------------------------*/
/* ---- Maps Layers ---- */
/* -------------------------*/
.user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers {
  background: var(--hero-tertiary-color-2);
  border: none;
  border-right: 5px solid var(--hero-tertiary-color-3);
  border-radius: 0px;
}

.user-css .leaflet-control-layers-expanded,
.map-context-user-css .leaflet-control-layers-expanded {
  background: var(--hero-tertiary-color-2);
  font-family: var(--hero-font-body);
}

.map-context-user-css .leaflet-control-layers-base span {
  font-size: 1.5em;
  color: var(--hero-secondary-color-1);
}

/*--------------------------*/
/* ---- Maps Legend ---- */
/* -------------------------*/
.user-css .legend,
.map-context-user-css .legend {
  font-family: var(--hero-font-body);
  color: var(--hero-body-text-color);
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .legend {
  padding: 10px;
}

.map-context-user-css .legend {
  font-size: 1.5em;
}

.user-css .legend ul,
.map-context-user-css .legend ul {
  padding-left: 20px;
  margin: 0px;
}

/*--------------------------*/
/* ---- Maps Popups ---- */
/* -------------------------*/
.user-css .leaflet-popup-content-wrapper,
.user-css .leaflet-popup-tip,
.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  color: var(--hero-body-text-color);
  font-family: var(--hero-font-body);
  background: var(--hero-secondary-color-1);
  border-radius: 0px;
  box-shadow: none;
}

.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  font-size: 1.3em;
}

.user-css .leaflet-popup-content .header-title,
.map-context-user-css .leaflet-popup-content-wrapper h5 {
  font-family: var(--hero-font-main);
  color: var(--hero-tertiary-color-1);
  font-size: 1.5em;
}

.user-css .leaflet-popup-close-button,
.map-context-user-css .leaflet-popup-close-button {
  color: var(--hero-tertiary-color-1) !important;
  margin: 5px;
  font-size: 1.2em;
}

/*--------------------------*/
/* ---- Inline Maps ---- */
/* -------------------------*/
.user-css-presentation .leaflet-grab {
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  background: var(--hero-secondary-color-2);
  box-shadow: none;
}

/*--------------------------*/
/* ---- Maps Navigation ---- */
/* -------------------------*/
.user-css .map-included-navigation {
  background: var(--hero-secondary-color-1);
  border: 3px solid var(--hero-tertiary-color-4);
  padding: 5px 5px 10px 5px;
  border-top-width: 0px;
}

.user-css .map-included-navigation-information {
  margin-top: 0px !important;
}

.user-css .map-included-navigation-title {
  font-family: var(--hero-font-main);
  color: var(--hero-tertiary-color-2);
  font-size: 1.3em;
  padding-top: 5px;
  margin-right: 10px;
}

.user-css .map-included-navigation-information .fa-info-circle {
  color: var(--hero-tertiary-color-1);
}

/*--------------------------*/
/* ---- Timelines ---- */
/* -------------------------*/
.user-css.page-timeline .subheading {
  font-family: var(--hero-font-body);
  font-size: 1em;
}

.user-css-extended .timeline li .timeline-panel,
.user-css .timeline li .timeline-panel {
  background: var(--hero-secondary-color-1);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
}

.user-css-extended .timeline-panel .fa,
.user-css .timeline-panel .fa {
  margin-top: -25px;
  font-size: 20px;
}

.user-css-extended .timeline:before,
.user-css .timeline:before {
  background-color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Timelines Text ---- */
/* -------------------------*/
.user-css .tl-heading-date,
.user-css-extended .tl-heading-date {
  color: var(--hero-body-text-color);
}

.user-css .timeline li .timeline-panel small,
.user-css .timeline li .milestone-panel small,
.user-css-extended .timeline li .timeline-panel small,
.user-css-extended .timeline li .milestone-panel small {
  color: var(--hero-body-text-color);
}

.user-css .timeline li .timeline-panel h5,
.user-css .timeline .history-title {
  font-size: 1.5em;
}

.user-css .tl-heading-date .fa-chevron-right,
.user-css-extended .tl-heading-date .fa-chevron-right {
  font-size: 1.3em;
  padding-top: 5px;
}

.user-css .timeline .history-category-name {
  color: var(--hero-muted-color);
}

/*--------------------------*/
/* ---- Timelines Pointers ---- */
/* -------------------------*/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 32px;
  right: -17px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid;
  border-right: 0 solid;
  border-bottom: 15px solid transparent;
  border-right-color: inherit;
  border-left-color: inherit;
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 32px;
  right: -17px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid;
  border-right: 0 solid;
  border-right-color: inherit;
  border-left-color: inherit;
}

.user-css .timeline li.timeline-entry-inverted .timeline-panel:before {
  left: -17px;
}

.user-css .timeline li.timeline-entry-inverted .timeline-panel:after {
  left: -17px;
}

/*--------------------------*/
/* ---- Timelines Shield icons ---- */
/* -------------------------*/
.user-css-extended .timeline li .tl-circ,
.user-css .timeline li .tl-circ {
  background: var(--hero-prime-color);
  border-color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Timelines Icon Panels ---- */
/* -------------------------*/
.user-css .timeline .date-divider,
.user-css-extended .timeline .date-divider {
  margin: 2px 0;
}
/*--------------------------*/
/* ---- Timelines Icon Fix ---- */
/* -------------------------*/
.user-css-extended .timeline .header-icon,
.user-css .timeline .header-icon {
  padding: 14px;
  font-size: 15.5px;
}

/*--------------------------*/
/* ---- Timelines Milestones ---- */
/* -------------------------*/
.user-css-extended .timeline .milestone,
.user-css .timeline .milestone {
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-2);
  border-radius: 0px;
  box-shadow: none;
}

.user-css-extended .timeline .timeline-entry-milestone .header-icon,
.user-css .timeline .timeline-entry-milestone .header-icon {
  border: 3px solid var(--hero-tertiary-color-2);
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Timelines Major ---- */
/* -------------------------*/
.user-css-extended .timeline .major .header-icon,
.user-css .timeline .major .header-icon {
  border: 3px solid var(--hero-tertiary-color-2);
  border-color: var(--hero-tertiary-color-1);
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-1);
}

.user-css-extended .timeline .major .timeline-panel,
.user-css .timeline .major .timeline-panel {
  border: 3px solid var(--hero-tertiary-color-2);
  border-color: var(--hero-tertiary-color-1);
}

/*--------------------------*/
/* ---- Timelines Importnat ---- */
/* -------------------------*/
.user-css-extended .timeline .important .header-icon,
.user-css .timeline .important .header-icon {
  border: 3px solid var(--hero-tertiary-color-4);
  border-color: var(--hero-tertiary-color-2);
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
}

.user-css-extended .timeline .important .timeline-panel,
.user-css .timeline .important .timeline-panel {
  border: 3px solid var(--hero-tertiary-color-4);
  border-color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Timelines Minor ---- */
/* -------------------------*/
.user-css-extended .timeline .minor .header-icon,
.user-css .timeline .minor .header-icon {
  border: 3px solid var(--hero-tertiary-color-4);
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-1);
}

.user-css-extended .timeline .minor .timeline-panel,
.user-css .timeline .minor .timeline-panel {
  background: var(--hero-secondary-color-2);
}

/*--------------------------*/
/* ---- Timelines Trival ---- */
/* -------------------------*/
.user-css-extended .timeline .trivial .header-icon,
.user-css .timeline .trivial .header-icon {
  border: 3px solid var(--hero-tertiary-color-4);
  background: var(--hero-secondary-color-2);
  color: var(--hero-body-text-color);
}

.user-css-extended .timeline .trivial .timeline-panel,
.user-css .timeline .trivial .timeline-panel {
  background: var(--hero-secondary-color-2);
  border-color: var(--hero-secondary-color-2);
}

/*--------------------------*/
/* ---- Timelines No Importance ---- */
/* -------------------------*/
.user-css-extended .timeline .no-importance .header-icon,
.user-css .timeline .no-importance .header-icon {
  border: 3px solid var(--hero-tertiary-color-4);
  background: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-4);
}

.user-css-extended .timeline .no-importance .timeline-panel,
.user-css .timeline .no-importance .timeline-panel {
  background: var(--hero-secondary-color-2);
  border-color: var(--hero-secondary-color-2);
}

/*--------------------------*/
/* ---- Timelines Orphans ---- */
/* -------------------------*/
.user-css .orphan-era .alert,
.user-css-extended .orphan-era .alert {
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-4);
  border-radius: 0px;
  box-shadow: none;
}

/*--------------------------*/
/* ---- Diplomacy Webs ---- */
/* -------------------------*/
.user-css .clotho-box {
  background: var(--hero-secondary-color-2);
  border: 3px solid var(--hero-tertiary-color-2);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .clotho-box .clotho-node {
  border: 3px solid var(--hero-tertiary-color-2);
  box-shadow: none;
}

.user-css .clotho-box .clotho-node .clotho-portrait-frame {
  height: 100%;
  max-height: 140px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame {
  background: var(--hero-secondary-color-1);
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label {
  border: none;
  margin-left: -3px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label a {
  font-size: 1em;
  font-family: var(--hero-font-body);
  color: var(--hero-body-text-color);
}

/*--------------------------*/
/* ---- Diplomacy Webs Hover ---- */
/* -------------------------*/
.user-css [class*=clotho-title-] {
  background: var(--hero-secondary-color-2);
  box-shadow: none;
  border-top: 3px solid var(--hero-tertiary-color-4);
}

.user-css .clotho-title-arrows,
.user-css .clotho-box div:nth-of-type(2) .clotho-title-item img,
.user-css [class*=clotho-title-item] {
  border-top: none;
}

.user-css [class*=clotho-title-item] {
  border: 3px solid var(--hero-tertiary-color-2);
  padding: 0px !important;
}

.user-css .clotho-box div:nth-of-type(2) .clotho-title-arrows .clotho-rel-text {
  color: var(--hero-tertiary-color-2);
  top: -120px;
}

.user-css [class*=show] {
  padding-top: 25px;
  padding-bottom: 35px;
}

/*--------------------------*/
/* ---- Org Relaitonships ---- */
/* -------------------------*/
.user-css .relation .relationScore {
  background: var(--hero-secondary-color-2);
  border: 5px solid var(--hero-tertiary-color-3);
  border-width: 3px;
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Org  Tree ---- */
/* -------------------------*/
.user-css-extended .orgtree li a,
.user-css-extended .orgtree li a:hover + ul li a {
  font-family: var(--hero-font-body);
  font-weight: bold;
  font-size: 1em;
  color: var(--hero-muted-color);
  background: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-1);
  border-radius: 20px;
  transition: all 0.3s;
}

.user-css-extended .orgtree li a:hover {
  background: var(--hero-tertiary-color-2);
  transform: scale(1.05);
}

.user-css-extended .orgtree li a:hover + ul li a {
  background: var(--hero-prime-color);
  color: var(--hero-tertiary-color-1);
  outline: 5px solid var(--hero-tertiary-color-3);
  outline-width: 3px;
  outline-offset: -3px;
}

/*--------------------------*/
/* ---- Org Tree Lines ---- */
/* -------------------------*/
.user-css-extended .orgtree ul ul::before {
  border-left: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .orgtree li::before {
  border-top: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .orgtree li::after {
  border-top: 3px solid var(--hero-tertiary-color-2);
  border-left: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .orgtree li:last-herold::before {
  border-right: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .orgtree li:first-herold::after {
  border-left: 3px solid var(--hero-tertiary-color-2);
}

.user-css-extended .orgtree li:first-herold::before,
.user-css-extended .orgtree li:last-herold::after {
  border: transparent;
}

.user-css-extended .orgtree li a:hover + ul::before,
.user-css-extended .orgtree li a:hover + ul li::before,
.user-css-extended .orgtree li a:hover + ul li::after {
  border-color: var(--hero-tertiary-color-2);
}

/*--------------------------*/
/* ---- Family Trees ---- */
/* -------------------------*/
.user-css .rhea-family-tree {
  background: var(--hero-secondary-color-2);
  border: 5px solid var(--hero-tertiary-color-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .rhea-family-tree .loader {
  background-color: var(--hero-tertiary-color-1);
  border: none;
}

.user-css .rhea-loader-text {
  font-family: var(--hero-font-main);
  color: var(--hero-prime-color);
  text-shadow: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait:after {
  background: none;
  border: none;
}

.user-css .rhea-family-tree .main-character .character-portrait:after {
  background: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait-wrapper {
  border: 5px solid var(--hero-tertiary-color-3);
  border-width: 3px;
  border-radius: 0px;
}

.user-css .rhea-family-tree .main-character .character-portrait-wrapper {
  border-color: var(--hero-tertiary-color-2);
}

.user-css .rhea-family-tree .rhea-character-node .character-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-css .rhea-family-tree .rhea-character-node .character-label {
  margin-top: -2px;
  font-family: var(--hero-font-body);
  background: var(--hero-tertiary-color-1);
  border: none;
  border-radius: 0px;
  width: 100px;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-data
  .character-name {
  font-family: var(--hero-font-body);
  color: var(--hero-prime-color);
  font-weight: bold;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-label
  .character-life {
  color: var(--hero-prime-color);
  margin-top: 5px;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-label {
  background: var(--hero-tertiary-color-2);
}

.user-css .rhea-family-tree .character-relationship {
  opacity: 0;
  transition: all 0.3s;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-relationship {
  color: var(--hero-prime-color);
  background: var(--hero-tertiary-color-1);
  top: -1px;
  opacity: 1;
}

.user-css .rhea-family-tree svg path {
  stroke: var(--hero-tertiary-color-2);
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait img {
  border: none;
}

/*--------------------------*/
/* ---- Family Tree Search ---- */
/* -------------------------*/
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap {
  border: 5px solid var(--hero-tertiary-color-3);
  border-width: 3px;
  padding: 5px 15px;
}

.user-css .rhea-family-tree input::placeholder {
  color: var(--hero-muted-color);
}

.user-css .rhea-search-clear .fal {
  color: var(--hero-muted-color);
}

.user-css .rhea-ft-zoom-controls {
  border: none;
}

/*--------------------------*/
/* ---- Prose ---- */
/* -------------------------*/
.user-css-presentation .page-article.template-prose .article-content {
  font-size: 1em;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .w-o-b.btn.btn-xs {
  background: var(--hero-prime-color) !important;
  color: var(--hero-body-text-color) !important;
}

.user-css.bow {
  background: var(--hero-prime-color) !important;
}

.user-css.bow p,
.user-css.bow .article-content,
.user-css.bow .article-content h2,
.user-css.bow .article-content h3,
.user-css.bow .article-content h4 {
  color: var(--hero-body-text-color) !important;
}

.user-css.bow .article-content h1 {
  color: var(--hero-tertiary-color-1) !important;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .b-o-w.btn.btn-xs {
  background: var(--hero-body-text-color) !important;
  color: var(--hero-prime-color) !important;
}

.user-css.wob {
  background: var(--hero-body-text-color) !important;
}

.user-css.wob p,
.user-css.wob .article-content,
.user-css.wob .article-content h2,
.user-css.wob .article-content h3,
.user-css.wob .article-content h4 {
  color: var(--hero-prime-color) !important;
}

.user-css.wob .article-content h1 {
  color: var(--hero-prime-color) !important;
}

/*--------------------------*/
/* ---- Scrollbar ---- */
/* -------------------------*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--hero-secondary-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--hero-tertiary-color-2);
  width: 9px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hero-tertiary-color-1);
}

/*--------------------------*/
/* ---- White Label ---- */
/* -------------------------*/
.user-css-whitelabel {
  left: -160px;
  background: var(--hero-prime-color);
  border-radius: 0px 50px 50px 0px;
  color: var(--hero-font-body) !important;
  padding: 10px 30px 10px 10px;
  transition: all 0.3s ease-in-out;
}

.user-css-whitelabel:hover {
  left: 0px;
}

/*--------------------------*/
/* ---- Screen Scaling ---- */
/* -------------------------*/
@media only screen and (max-width: 1199px) {
  .user-css-presentation #world-navigation-sidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 991px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css-presentation #world-navigation-sidebar {
    top: 26%;
    min-height: 60% !important;
    width: 100%;
    left: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css .search-form {
    top: 0px;
    left: 0px;
  }
}

/*--------------------------*/
/* ---- Editor Bar ---- */
/* -------------------------*/
#world-editor-bar {
  width: 120px;
  top: auto;
  bottom: 200px;
  left: -100px;
  border-bottom: none;
  box-shadow: none;
  opacity: 0.6;
  padding: 15px 15px 0px 15px;
  transition: all 0.3s;
}

#world-editor-bar:hover {
  left: 0px;
}

#world-editor-bar .fa {
  font-size: 2em;
}

#world-editor-bar .btn {
  width: 85px !important;
  margin-bottom: 10px;
}

#world-editor-bar .world-edit-toggle .fa {
  color: white !important;
}

#world-editor-bar .world-edit-toggle .fa {
  width: 100%;
  height: 100%;
  line-height: 36px;
}

#world-editor-bar .pull-right {
  float: none !important;
}

#world-editor-bar [class*=cont] {
  width: 100px !important;
}

#world-editor-bar .label,
#world-editor-bar .btn-success:nth-herold(1) {
  display: none;
}

#world-editor-bar .btn {
  background: var(--hero-tertiary-color-1);
  border: none;
  overflow: hidden;
}

#world-editor-bar .btn .hidden-xs {
  display: none;
}

/*--------------------------*/
/* ---- Edits ---- */
/* -------------------------*/
.user-css-presentation .world-navigation-palette-trigger,
.user-css #world-category-content,
.user-css .world-content .world-maps,
.user-css .world-article-categories-link,
.user-css .discussion-boards-world-link,
.user-css .article-competition-entries,
.user-css.page-world-homepage #world-menu,
.user-css.page-world-homepage #world-timelines,
.user-css .world-authors,
.user-css .world-recent-articles,
.user-css .related-historical-entries,
.user-css .character-article-portrait {
  display: none;
}

/*--------------------------*/
/* ---- Categories    ---- */
/* -------------------------*/
.user-css.core-category .category-contents .category-header b,
.user-css.core-category .category-contents .category-header strong,
.user-css.core-category .category-title-icon {
  display: none;
}

.user-css.sub-category .category-contents .category-header,
.user-css.sub-category .category-articles h2,
.user-css.sub-category .copyright-attribution,
.user-css.sub-category #cover {
  display: none;
}

.user-css .category-title {
  background-color: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
  padding: 10px 20px;
  font-family: var(--hero-font-main);
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  border: 2px solid #4f8bc7;
  border-radius: 10px 10px 0 0;
}

.user-css .category-note {
  background-color: var(
    --hero-secondary-color-2); 
  color: var(--hero-font-color);
  border-bottom: 2px solid var(--hero-tertiary-color-1); 
  padding: 1em; 
  margin: 1em 0; 
  font-family: var(--hero-font-body); 
  border-radius: 0 8px 8px 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}


.user-css .article-paragraph-section {
  background: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-4);
  border-radius: 20px;
  box-shadow: none;
  padding: 10px;
}

.user-css .article-paragraph-section h3 {
  font-size: 2.2em;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 20px; 
}

.user-css .article-header {
  background-color: var(--hero-secondary-color-2);
  color: var(--hero-tertiary-color-2);
  padding: 10px 20px;
  font-family: var(--hero-font-main);
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  border: 2px solid #4f8bc7;
  border-radius: 10px 10px 0 0;
}

.user-css .category-section {
  background: var(--hero-secondary-color-1);
    border: 2px solid var(--hero-tertiary-color-4);
    border-radius: 0 0 10px 10px;
    border: 2px solid #4f8bc7;
    box-shadow: none;
    padding: 10px;
}

.user-css .category-section {
  background: var(--hero-secondary-color-1);
    border: 2px solid var(--hero-tertiary-color-4);
    border-radius: 0 0 10px 10px;
    border: 2px solid #4f8bc7;
    box-shadow: none;
    padding: 10px;
}

.user-css .category-usa img {
  max-width: 30%;
}


/*--------------------------*/
/* ---- Navbar ---- */
/* -------------------------*/
.user-css.page-world-homepage,
.user-css.page-article-main,
.user-css.page-category {
  margin-top: 80px !important;
}

.user-css .hero-navbar {
  background: var(--hero-secondary-color-1);
  color: var(--hero-body-text-color);
  border-bottom: 2px solid var(--hero-tertiary-color-1);
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
  line-height: 0;
  padding: 19px;
}

.user-css .hero-navbar-title {
  text-align: center;
  padding-top: 6px;
  font-size: 1.4em;
  font-family: var(--hero-font-secondary);
}

.user-css .hero-navbar-title a {
  color: var(--hero-muted-color);
  text-decoration: none;
}

.user-css .hero-navbar-title a:hover {
  font-style: normal;
  color: var(--hero-tertiary-color-1);
  border-bottom: 3px solid var(--hero-tertiary-color-1);
}

.user-css .hero-navbar-title .text-abbreviation {
  border-bottom: none;
}

/*--------------------------*/
/* ---- Site Portal  ---- */
/* -------------------------*/
.user-css .grid-box {
  margin: 10px auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 10px;
  padding-bottom: 0px;
  justify-content: center;
}

.user-css .grid-box-secondary {
  margin: 5px auto;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 10px;
  padding-bottom: 0px;
  justify-content: center;
}

.user-css .articleblock-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.user-css .grid-item {
  background-color: var(--hero-secondary-color-1);
  border: 2px solid var(--hero-tertiary-color-2);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.user-css .grid-item:hover {
  transform: scale(1.05);
}

.user-css .grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.user-css .grid-item-title {
  background-color: var(--hero-secondary-color-2);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  transition: background-color 0.2s ease-in-out;
}

.user-css .grid-item-title a {
  text-decoration: none;
}

.user-css .grid-item .padding-10 {
  padding: 0px;
}

.user-css .grid-box-timeline {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
}

.user-css .single-grid-item {
  margin: 0 auto;
}

/*--------------------------*/
/* ---- Portal Scaling    ---- */
/* -------------------------*/
@media screen and (max-width: 1000px) {
  .user-css .grid-box,
  .user-css .grid-box-timeline, 
  .user-css .articleblock-grid,
  .user-css .grid-box-secondary {
    grid-template-columns: 1fr;
  }
}