/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Alinore;
  --BodyFont: Josefin Sans;

  /* Colors */
  --ros-colorprime: #131727;
  --ros-colorsec-1: #34515e;
  --ros-colorsec-2: #1f3a46;
  --ros-colortert-1: #3e8ecf;
  --ros-colortert-2: #2678a8;
  --ros-colortert-3: #1e4a5f;
  --ros-colortert-4: #2f6275;
  --ros-colortert-5: #52a3a5ba;
  --ros-colortert-6: -webkit-linear-gradient(left, #4376e9, #56f938);
  --ros-bodycolor: #cde3ff;
  --ros-mutecolor: #ccfaff;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Baskervville;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baskervville/v16/YA9Ur0yU4l_XOrogbkun3kQQvpmptvY.woff2);
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Baskervville;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baskervville/v16/YA9Ur0yU4l_XOrogbkun3kQQsJmp.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/5ffcaacccaf4efab76bb611772de2e694207bd4d/fonts/Josefin%20Sans/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/5ffcaacccaf4efab76bb611772de2e694207bd4d/fonts/Josefin%20Sans/JosefinSans-Regular.ttf);
}

/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
.user-css-presentation {
  background: url(https://www.worldanvil.com/uploads/images/29d2eff9fea15051324ccc06a3bad978.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--ros-colorprime);
  border: 8px double var(--ros-colortert-5);
  border-radius: 30px;
  box-shadow: none;
  overflow: hidden;
}

.user-css #cover img {
  border-bottom: 5px solid var(--ros-colortert-5);
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--BodyFont);
  color: var(--ros-bodycolor);
}

.user-css p {
  font-size: 19px !important;
}

.user-css .subheading {
  font-size: 18px;
  color: var(--ros-bodycolor);
  font-family: var(--SubtitleFont);
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  font-family: var(--HeaderFont);
  font-size: 5.2em;
  text-align: center;
  padding-top: 17px;
  background: var(--ros-colortert-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-2);
  padding-top: 15px;
  border-bottom: none;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-2);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-1);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--ros-colortert-2);
  font-family: var(--HeaderFont);
  padding-top: 10px;
  margin-top: 0px;
}

.user-css h6 {
  font-family: var(--HeaderFont);
  padding-top: 15px;
}

/*--------------------------*/
/* ---- Links   ---- */
/* -------------------------*/
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a,
.user-css .usercard a {
  color: var(--ros-colortert-1);
  transition: all 0.3s;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover,
.user-css .usercard a:hover {
  color: var(--ros-colortert-2);
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .text-abbreviation {
  cursor: default !important;
  border-bottom: 1px dotted var(--ros-bodycolor);
}

.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  color: var(--ros-bodycolor);
  font-family: var(--BodyFont);
  font-size: 1.4em;
  background: var(--ros-colorprime);
  border: 5px solid var(--ros-colortert-3);
  border-width: 3px;
  border-radius: 25px;
  box-shadow: none;
}

.user-css-presentation .tooltip-arrow::before,
.user-css-presentation .tooltipster-arrow-border,
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
  border-top-color: var(--ros-colortert-1) !important;
}

.user-css-presentation .tooltipster-borderless .tooltipster-box {
  background: none;
}

/*--------------------------*/
/* ---- Article Excepts   ---- */
/* -------------------------*/
.user-css-presentation .tooltip {
  opacity: 1;
}
.user-css-presentation .tooltip-arrow::before {
  border-top-color: var(--ros-colortert-1);
}

.user-css-presentation .tooltip .tooltip-inner {
  max-width: 300px;
  background: var(--ros-colorprime);
  border: 5px solid var(--ros-colortert-3);
  border-width: 3px;
}

/*--------------------------*/
/* ---- Misc   ---- */
/* -------------------------*/
.user-css .article-subheading,
.user-css .article-title-author {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
}

.user-css .text-muted,
.user-css-extended .text-muted {
  color: var(--ros-mutecolor) !important;
}

.user-css .text-danger,
.user-css-extended .text-danger {
  color: var(--ros-colortert-2) !important;
}

.user-css .dropcap {
  font-family: var(--BodyFont);
}

/*--------------------------*/
/* ---- Buttons   ---- */
/* -------------------------*/


/*--------------------------*/
/* ---- World Navigation   ---- */
/* -------------------------*/
.user-css-presentation .world-global-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.user-css-presentation .world-global-header .ros-nav {
  background-color: var(--ros-colorprime);
  border-bottom: 1px solid var(--ros-bodycolor);
  height: 50px;
  color: var(--ros-bodycolor);
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 3em;
  text-align: center;
}
.user-css .ros-nav .empty {
  visibility: hidden;
}

.user-css .ros-nav .nav-links,
.user-css .ros-nav .logo,
.user-css .ros-nav .empty {
  flex: 1;
}

.user-css .ros-nav .nav-links {
  font-size: 16px;
  text-decoration: none;
  font-family: var(--HeaderFont);
  text-align: right;
}

.user-css .ros-nav .nav-links a {
  color: var(--ros-colortert-1);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.user-css .logo {
  text-align: center;
  width: 100px;
  margin: auto;
}

.user-css .logo img {
  z-index: 1;
  width: 100px !important;
  height: 100px !important;
  position: relative;
  top: -20px;
  margin: 0 auto;
}