/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Vinage Deco;
  --BodyFont: Balthazar;

  /* Colors */
  --ros-colorprime: #132527;
  --ros-colorsec-1: #2e5232;
  --ros-colorsec-2: #3c6843;
  --ros-colortert-1: #2eae6c;
  --ros-colortert-2: #489e75;
  --ros-colortert-3: #2d5548;
  --ros-colortert-4: #426b59;
  --ros-colortert-5: #5c826b;
  --ros-bodycolor: #77d3dd;
  --ros-mutecolor: #9bb3a0;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/
@font-face {
  font-family: Balthazar;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balthazar/v17/d6lKkaajS8Gm4CVQjFEfzh7p.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Vinage Deco;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/robertlinton/WorldAnvil-StyleSheets/6005647a7fca0f16297098b058322b7ebbb8583a/fonts/Vinage%20Deco%20Regular.otf);
}

/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
.user-css-presentation {
  background: url(https://www.worldanvil.com/uploads/images/29d2eff9fea15051324ccc06a3bad978.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--ros-colorprime);
  border: 5px solid var(--ros-colortert-5);
  border-radius: 15px;
  box-shadow: none;
  overflow: hidden;
}

.user-css #cover img {
  border-bottom: 5px solid var(--ros-colortert-5);
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--BodyFont);
  color: var(--ros-bodycolor);
}

.user-css p {
  font-size: 19px !important;
}

.user-css .subheading {
  font-size: 18px;
  color: var(--ros-bodycolor);
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--ros-colortert-1);
  font-family: var(--HeaderFont);
  font-size: 3.3em;
  text-align: center;
  padding-top: 17px;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-2);
  padding-top: 15px;
  border-bottom: none;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-2);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--HeaderFont);
  color: var(--ros-colortert-1);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--ros-colortert-2);
  font-family: var(--HeaderFont);
  padding-top: 10px;
  margin-top: 0px;
}

.user-css h6 {
  font-family: var(--HeaderFont);
  padding-top: 15px;
}


/*--------------------------*/
/* ---- World Navigation   ---- */
/* -------------------------*/
.user-css-presentation .world-global-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.user-css-presentation .world-global-header .ros-nav {
  background-color: var(--ros-colorprime);
  border-bottom: 1px solid var(--ros-bodycolor);
  height: 50px;
  color: var(--ros-bodycolor);
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 3em;
  text-align: center;
}
.user-css .ros-nav .empty {
  visibility: hidden;
}

.user-css .ros-nav .nav-links,
.user-css .ros-nav .logo,
.user-css .ros-nav .empty {
  flex: 1;
}

.user-css .ros-nav .nav-links {
  font-size: 16px;
  text-decoration: none;
  font-family: var(--HeaderFont);
  text-align: right;
}

.user-css .ros-nav .nav-links a {
  color: var(--ros-colortert-1);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.user-css .logo {
  text-align: center;
  width: 100px;
  margin: auto;
}

.user-css .logo img {
  z-index: 1;
  width: 100px !important;
  height: 100px !important;
  position: relative;
  top: -20px;
  margin: 0 auto;
}