
  --chi-prime-color: #cbdae6;
  --chi-prime-color-2: #e0ecf8;
  --chi-secondary-color-1: #e5eaef;
  --chi-secondary-color-2: #b7c2c8;
  --chi-tertiary-color-1: #327184;
  --chi-tertiary-color-2: #528aa3;
  --chi-tertiary-color-3: #86b0bb;
  --chi-tertiary-color-4: #519099;
  --chi-tertiary-color-5: #508183;
  --chi-body-text-color:#33333f;
  --chi-muted-color: #505d66;


  --chi-prime-color: #ffffc9;
  --chi-prime-color-2: #ffffda;
  --chi-secondary-color-1: #ffffdb;
  --chi-secondary-color-2: #ffe7b4;
  --chi-tertiary-color-1: #887a5f;
  --chi-tertiary-color-2: #ab9977;
  --chi-tertiary-color-3: #e3ca9e;
  --chi-tertiary-color-4: #b29f7c;
  --chi-tertiary-color-5: #a29070;
  --chi-body-text-color: #443c2f;
  --chi-muted-color: #7a6d55;