/* CSS theme
** Desgined by
** Timepool (Garrett Grace Lewis)
https://www.worldanvil.com/author/Timepool */

/* Variables */
/* For an official theme, just use * */
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Messenger;
  --HeaderFont-2: Messenger;
  --BodyFont: Barlow;

  /* Colors */
  --ColorPrime: #0b0a0f /* Background */;
  --DarkColorPrime: /* Example, can be used for any others. */ ;
  --LightColorPrime: ;
  --ColorSec-1: #0b0a0f /* Quotes, other s */;
  --ColorSec-2: #0b0a0f /* Sidebar, panels, other s */;
  --ColorTert-1: #da8b52 /* H1s, links */;
  --ColorTert-2: #f1b78e
    /* Other headers and backgrounds, optional, change all to Tert 1 if not used */;
  --BodyColor: #ede3cb;
  --MuteColor: #dadada;
  --Shadow: rgba(0, 0, 0, 0.6);

  /* Misc */
  --Border-N: none;
  --Border-1: /* Primary border */ ;
  --Border-2: 5px solid var(--ColorTert-1) /* Secondary border, blockquotes */;
  --Border-3: none /* Interactives like buttons and such, usually */;
  --Border-4: 2px solid var(--ColorTert-2) /* For header underlines, and HR */;
  --BorderRad: 0px;
  --BorderRad-2: 5px;
  --BoxShad-1: ;
  --Transit: all 0.2s;
  overflow-wrap: break-word;
}

/* __BACKGROUNDS__ */
.user-css-presentation {
  background: var(--ColorPrime);
  /* For a static BKG, */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--ColorPrime);
  box-shadow: none;
}
@media (max-width: 1920px) {
  .user-css.page,
  .user-css-extended .page {
    max-width: 1400px;
  }
}

/* __TEXT__ */
@font-face {
  font-family: Messenger;
  font-style: normal;
  font-weight: 600;
  src: url(https://rawcdn.githack.com/Timespool/Fonts/eabe9b5df7af925ccae58c1722c4f1b7f279292c/MessengerRegular-VGdWw.otf);
}
@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHrv4kjgoGqM7E_Cfs1wH8RnA.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHrv4kjgoGqM7E_Cfs7wH8.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfOA5WogvTobdw.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfOA5WouvTo.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_Ass52Hs.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_DMs5.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4s6VospT4.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4s51os.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Alternatively, JUST use this. Even across everything! */
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css .article-content,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css.page-world-homepage .subheading,
.map-context-user-css {
  font-size: 20px; /* Has to set to px or other solids, to offset their various bases. */
  font-family: var(--BodyFont);
  color: var(--BodyColor);
}
/* Headers */
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--ColorTert-1);
  font-family: var(--HeaderFont);
  font-size: 70px;
  text-align: center;
  padding-top: 15px;
  line-height: 1;
}
.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-2);
  font-size: 47px;
  padding-top: 20px;
  border-bottom: none;
  line-height: 1;
}
.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-1);
  font-size: 35px;
  padding-top: 20px;
  line-height: 1;
}
.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-2);
  font-size: 30px;
  padding-top: 20px;
  line-height: 1;
}
.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--ColorTert-2);
  font-family: var(--HeaderFont);
  padding-top: 10px;
  margin-top: 0px;
  line-height: 1;
}
.user-css h6 {
  font-family: var(--HeaderFont);
  padding-top: 15px;
  line-height: 1;
}
/* Links */
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a,
.user-css .usercard a {
  color: var(--ColorTert-1);
  transition: var(--Transit);
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}
.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover,
.user-css .usercard a:hover {
  color: var(--ColorTert-2);
}
/* Tooltips */
.user-css .text-abbreviation {
  cursor: default !important;
  border-bottom: 1px dotted var(--BodyColor);
}
.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  color: var(--BodyColor);
  font-family: var(--BodyFont);
  font-size: 1.4em;
  background: var(--ColorPrime);
  border: var(--Border-2);
  border-width: 3px;
  border-radius: var(--BorderRad);
  box-shadow: var(--BoxShad-1);
}
.user-css-presentation .tooltip-arrow::before,
.user-css-presentation .tooltipster-arrow-border,
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
  border-top-color: var(--ColorTert-1) !important;
}
/* Old tooltips (For article excerpts) */
.user-css-presentation .tooltip {
  opacity: 1;
}
.user-css-presentation .tooltip-arrow::before {
  border-top-color: var(--ColorTert-1);
  /* If you&#039;re styling it w/ a different border, */
}
.user-css-presentation .tooltip .tooltip-inner {
  max-width: 300px;
  background: var(--ColorPrime);
  border: var(--Border-2);
  border-width: 3px;
}
/* Misc */
.user-css .article-subheading,
.user-css .article-title-author {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
}
.user-css .text-muted,
.user-css-extended .text-muted {
  color: var(--MuteColor) !important;
}
.user-css .text-danger,
.user-css-extended .text-danger {
  color: var(--ColorTert-2) !important;
}
.user-css .dropcap {
  font-family: var(--BodyFont);
}

/* __BUTTONS__ */
.user-css .btn,
.user-css-extended .btn,
.user-css .label-roller,
.user-css .rhea-ft-zoom-controls button,
.user-css-presentation .tooltipster-content .btn,
.user-css .discussion-board-section [class*=rep] .btn {
  font-family: var(--BodyFont);
  font-size: 1em;
  font-weight: bold;
  color: var(--ColorPrime) !important;
  background: var(--ColorTert-1);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  transition: var(--Transit);
}
.user-css .btn:hover,
.user-css-extended .btn:hover,
.user-css .label-roller:hover,
.user-css .rhea-ft-zoom-controls button:hover,
.user-css-presentation .tooltipster-content .btn:hover,
.user-css .discussion-board-section [class*=rep] .btn:hover {
  text-shadow: none;
  text-decoration: none;
  background: var(--ColorTert-2);
  transform: scale(1.05);
}
.user-css .btn:focus,
.user-css-extended .btn:focus,
.map-context-user-css .btn:focus,
.tooltipster-content .btn:focus {
  box-shadow: none;
}
.user-css .btn-success,
.user-css-extended .btn .btn-success {
  background: var(--ColorTert-1) !important;
  border: var(--Border-3) !important;
}
.user-css .btn-success:hover,
.user-css-extended .btn .btn-success:hover {
  background: var(--ColorTert-2) !important;
  border: var(--Border-3) !important;
}
/* Visibility toggler */
.user-css .visibility-toggler-trigger .fas,
.user-css-extended .visibility-toggler-trigger .fas {
  padding: 5px;
}

/* __QUOTES__ */
.user-css blockquote,
.user-css-extended blockquote,
.user-css-map-sidebar blockquote,
.user-css-presentation .tooltipster-content blockquote {
  background: var(--ColorPrime);
  border: var(--Border-2);
  border-width: 0px 0px 0px 5px;
  border-radius: var(--BorderRad);
  padding: 0px 15px 0px 25px;
  box-shadow: var(--BoxShad-1);
}
.user-css blockquote .author,
.user-css-extended blockquote .author,
.user-css-map-sidebar blockquote .author,
.user-css-presentation .tooltipster-content blockquote .author {
  color: var(--ColorTert-2);
  font-size: 1em;
  font-family: var(--BodyFont);
}

/* __SIDEBAR PANEL__ */
.user-css .panel,
.user-css-extended .panel {
  background: var(--ColorSec-1);
  border: var(--Border-2);
  border-width: 5px 0px 0px 0px;
  border-radius: var(--BorderRad);
  box-shadow: var(--BoxShad-1);
}

/* __HR__ */
.user-css hr,
.user-css-extended hr,
.user-css-map-sidebar hr,
.user-css .tooltipster-content hr {
  border-top: var(--Border-4);
  opacity: 1;
}

/* __IMAGES__ */
.user-css img,
.user-css-extended img {
  will-change: transform;
  /* Fixes blurry edges on Chromium based browsers. */
}
.user-css .artist-credits {
  background: var(--ColorTert-2);
  color: var(--ColorPrime);
  font-weight: bold;
}
.user-css .img-fluid,
.user-css-image-thumbnail img {
  border-radius: var(--BorderRad);
  /* Consider per theme and remove if annoying. */
}

/* __SPOILERS__ */
.user-css .spoiler-button,
.user-css-extended .spoiler-button {
  color: var(--ColorPrime) !important;
  border-color: var(--ColorTert-1);
  /* For most themes, ignore color, only do border. */
}
.user-css .spoiler-button:hover,
.user-css .spoiler-button[aria-expanded=true],
.user-css-extended .spoiler-button:hover,
.user-css-extended .spoiler-button[aria-expanded=true] {
  color: var(--ColorPrime) !important;
  border-color: var(--ColorTert-2);
  /* Same as above. */
}
.user-css .spoiler-content,
.user-css-extended .spoiler-content {
  color: var(--BodyColor);
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-width: 5px 0px 5px 0px;
  border-radius: var(--BorderRad);
}
.user-css .spoiler-card,
.user-css-extended .spoiler-card {
  background: none;
  border: none;
  padding: 0px !important;
  border-radius: var(--BorderRad);
  margin-top: -10px;
  /* This is just to remove the background-background, don&#039;t style this! */
}
.user-css .spoiler-content:first-child,
.user-css-extended .spoiler-content:first-child {
  padding-top: 0px;
  /* Removes padding on top of any headers, *if* they are the first thing used in the box. */
}

/* __ARTICLE BLOCKS__ */
.user-css .article-panel,
.user-css-extended .article-panel,
.user-css .map-box {
  background: var(--ColorSec-1);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  transition: var(--Transit);
}
.user-css .article-panel:hover,
.user-css-extended .article-panel:hover,
.user-css .map-box:hover {
  border-color: var(--ColorTert-2);
}
.user-css .article-panel .article-link:hover {
  text-decoration: none;
  /* Optional. */
}
.user-css .article-panel .heading {
  color: var(--ColorTert-1);
}
.user-css .article-panel .subheading,
.user-css .article-panel .date {
  color: var(--MuteColor);
}

/* __HOMEPAGE__ */
.user-css .world-author {
  font-family: var(--BodyFont);
  font-size: 1em;
  margin-bottom: 10px;
}
.user-css .world-authors .m-b-0 {
  font-size: 0.8em;
  /* &quot;Created by&quot; text, optional to make smaller. */
}
/* Book covers */
.user-css .bookcover {
  border: var(--Border-2);
  background: var(--ColorSec-2);
  border-radius: var(--BorderRad);
  overflow: hidden;
  transition: var(--Transit);
}
.user-css .bookcover:hover {
  background: var(--ColorSec-1);
  border: var(--Border-2);
}
.user-css .bookcover a:hover .excerpt {
  color: var(--BodyColor);
  transition: var(--Transit);
}
.user-css .bookcover a img {
  width: 100%;
  max-width: 300px;
  opacity: 1;
  transition: var(--Transit);
}
.user-css .bookcover a:hover img {
  opacity: 0.3;
}
.user-css .world-bookcase .booktitle,
.user-css .booktitle {
  position: absolute;
  max-width: 100%;
  top: unset;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--ColorSec-1);
  border-top: var(--Border-3);
  text-align: center;
  transition: var(--Transit);
}
.user-css .world-bookcase .bookcover a:hover .booktitle,
.user-css .bookcover a:hover .booktitle {
  color: var(--ColorSec-1);
  background: var(--ColorTert-1);
  border-top: var(--Border-2);
}
/* Table of Contents */
.user-css .toc-article-link {
  color: var(--ColorTert-2);
}
.user-css .article-title-icon {
  color: var(--ColorTert-1);
  margin-right: 5px;
  font-size: 0.8em;
}
.user-css .world-category-link {
  color: var(--ColorTert-1);
  font-size: 23px;
  text-decoration: none;
}
.user-css .category-title-icon {
  color: var(--ColorTert-2);
  margin-right: 5px;
}
.user-css .fa-external-link {
  display: none;
}
/* World meta link*/
.user-css #world-menu .fa-info-circle {
  color: var(--ColorTert-1);
  margin-right: 5px;
}
.user-css .world-meta-categories-link a {
  font-size: 23px;
  color: var(--ColorTert-2);
  text-decoration: none;
}
/* World meta page */
.user-css .world-meta-section .world-title {
  margin-top: 25px;
}
.user-css .world-meta-section .panel .fa,
.user-css .world-meta-section .panel .fas {
  color: var(--ColorTert-2);
}
.user-css .world-meta-section .list-box.selected {
  background: var(--ColorTert-2);
  margin-top: 10px;
  margin-left: -5px;
}
.user-css .world-meta-section .list-box.selected h5 {
  padding-top: 0px;
}
.user-css .world-meta-section .list-box.selected h5 a {
  color: var(--ColorPrime);
}
.user-css .world-meta-section .list-box.selected .fa,
.user-css .world-meta-section .list-box.selected .fas {
  color: var(--ColorPrime);
}
/* Map blocks */
.user-css .map-box {
  padding: 0px;
  /* Doing more is optional, styled earlier with article blocks. */
}
.user-css .map-box .img-responsive {
  padding: 0px;
}
.user-css .map-box h5 {
  font-size: 1.3em;
  padding: 0px;
  margin-top: -10px;
}
.user-css .map-box .p-20 {
  padding-top: 0px !important;
}
.user-css .map-box small {
  font-family: var(--BodyFont);
  font-size: 1em;
}
/* Followers panel */
/* All optional except DL */
.user-css .followers-counter dl {
  margin-bottom: 0;
}
/*Followers page */
.user-css.page-followers .subheading {
  font-size: 1em;
  font-family: var(--BodyFont);
}
.user-css .follower-box {
  background: var(--ColorSec-2);
  border-radius: var(--BorderRad);
}
.user-css .follower-box img {
  border: var(--Border-2);
  max-height: 70px;
  max-width: 70px;
}
.user-css .follower-box small {
  color: var(--ColorTert-2);
}

/* __TOP__ */
.user-css .backtoworld a,
.user-css .nav-strip a {
  left: -13px;
  top: -34px;
  color: var(--ColorPrime);
  background: var(--ColorTert-2);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  font-family: var(--HeaderFont);
  box-shadow: none;
  line-height: 1;
  padding: 10px 15px;
  transition: var(--Transit);
}
.user-css div .backtoworld a:hover,
.user-css .nav-strip a:hover {
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
}
/* Not in categories, but on timelines....*/
.user-css .nav-strip {
  background: none;
  box-shadow: none;
  margin-top: -38px;
}
.user-css .nav-strip a {
  margin-left: -10px;
  font-size: 1em;
}
.user-css .nav-strip .fas {
  display: none;
}
/* Backtotop */
.user-css-presentation #backtotop {
  bottom: 20%;
}
.user-css-presentation .backtotop-button {
  top: 10px;
  font-size: 1.5em;
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  border: var(--Border-2);
  border-right-width: 0px;
  padding: 10px 25px 10px 15px;
  transition: var(--Transit);
}
.user-css-presentation .backtotop-button:hover {
  color: var(--ColorTert-1);
  background: var(--ColorPrime);
  padding: 10px 45px 10px 15px;
}
/* Search Form */

.user-css .search-form .typeahead-input,
.user-css .form-control,
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap,
.map-context-user-css .search-form .typeahead-input {
  font-size: 1em;
  color: var(--BodyColor) !important;
  background: var(--ColorPrime);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  color: var(--ColorPrime);
  width: 270px;
  box-shadow: none;
  padding: 15px 10px;
}
.user-css .search-form .typeahead-input:focus-visible,
.user-css .form-control:focus-visible,
.user-css
  .rhea-family-tree
  .rhea-ft-search
  .rhea-search-input-wrap:focus-visible,
.map-context-user-css .search-form .typeahead-input:focus-visible {
  outline: var(--Border-2);
  outline-width: 3px;
}
.user-css .search-form .typeahead-input::placeholder,
.user-css .form-control::placeholder,
.user-css .rhea-family-tree input::placeholder,
.map-context-user-css .search-form .typeahead-input::placeholder {
  color: var(--MuteColor);
}
.user-css .typeahead.dropdown-menu,
.map-context-user-css .typeahead.dropdown-menu {
  font-size: 1em;
}
.user-css .form-group .dropdown-menu,
.map-context-user-css .form-group .dropdown-menu {
  background: var(--ColorPrime);
  border: none;
  border-radius: var(--BorderRad);
  overflow: hidden;
  box-shadow: var(--BoxShad-1);
  /* No other styling here unless you want to add a border. Just removing the default border. */
  border-bottom: var(--Border-2);
  margin-top: 3px;
}
.user-css .typeahead.dropdown-menu li,
.map-context-user-css .typeahead.dropdown-menu li {
  padding: 0;
  background: var(--ColorSec-1);
}
.user-css .typeahead.dropdown-menu li.active .dropdown-item,
.map-context-user-css .typeahead.dropdown-menu li.active .dropdown-item {
  /* Active selection */
  background: var(--ColorTert-1);
  color: var(--ColorPrime);
  font-weight: normal;
}
.user-css .typeahead.dropdown-menu li a,
.map-context-user-css .typeahead.dropdown-menu li a {
  color: var(--ColorTert-1);
}
.user-css .typeahead.dropdown-menu .text-muted,
.map-context-user-css
  .typeahead.dropdown-menu
  li.active
  .dropdown-item
  .text-muted {
  color: var(--BodyColor) !important;
  /* Only if initual mute color doesn&#039;t work */
}
.user-css .typeahead.dropdown-menu li.active .dropdown-item .text-muted,
.map-context-user-css
  .typeahead.dropdown-menu
  li.active
  .dropdown-item
  .text-muted {
  color: var(--ColorPrime) !important;
}
/* Breadcrumbs */
.user-css .breadcrumb,
.user-css-extended .breadcrumb {
  font-family: var(--BodyFont);
  font-size: 1.1em;
  font-style: normal;
}
.user-css .breadcrumb .fas,
.user-css-extended .breadcrumb .fas {
  color: var(--ColorTert-2);
}

/* __BOTTOM__ */
/* Nav tabs */
.user-css-extended .extended-tabs {
  position: initial;
  margin: 0 -10px;
  /* No other styling here. */
}
.user-css-extended .nav-tabs {
  background: var(--ColorSec-2);
  margin-left: 0px;
  left: 0;
  top: 0;
}
.user-css-extended .nav-tabs li {
  padding: 0;
  /* No other styling here. */
}
.user-css-extended .nav-tabs li.nav-item a.nav-link {
  font-family: var(--HeaderFont);
  color: var(--ColorPrime);
  background: var(--ColorTert-2);
  border-right: var(--Border-3);
  margin-bottom: 0px;
  transition: var(--Transit);
}
.user-css-extended .nav-tabs .active,
.user-css-extended .nav-tabs .active:hover,
.user-css-extended .nav-tabs li a:hover {
  color: var(--ColorPrime) !important;
  background: var(--ColorTert-1) !important;
}
.user-css-extended .dl-horizontal {
  padding-bottom: 15px;
}
/* Secrets and notes */
.user-css-extended .panel-default {
  font-family: var(--BodyFont);
}
.user-css-extended .panel-default .panel-heading {
  background: none;
  border: none;
  padding: 15px;
}
.user-css-extended .panel-default .panel-heading h3 {
  padding-top: 0px;
}
/* Tags */
.user-css .label-default,
.user-css-extended .label-default,
.user-css .timeline li .label-default {
  font-weight: bold;
  color: var(--ColorPrime) !important;
  background: var(--ColorTert-1);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  text-decoration: none;
  transition: var(--Transit);
}
.user-css .label-default:hover,
.user-css-extended .label-default:hover,
.user-css .timeline li .label-default:hover {
  background: var(--ColorTert-2);
  transform: scale(1.05);
}

/* __COMMENTS__ */
/* Header */
.user-css-extended #comments h2 {
  text-align: center;
}
/* Form */
.user-css-extended .comment-form textarea {
  color: var(--BodyColor);
  font-family: var(--BodyFont);
  font-size: 1em;
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  transition: var(--Transit);
}
.user-css-extended .form-control:focus {
  border: var(--Border-2);
  border-color: var(--ColorTert-2);
  box-shadow: none;
}
.user-css-extended .comment-form .pull-right {
  font-family: var(--BodyFont);
}
/* Box */
.user-css-extended .comment-box {
  background: var(--ColorSec-1);
  border: var(--Border-1);
  border-radius: var(--BorderRad);
  padding: 0px;
  margin-top: 25px;
}
.user-css-extended .comment-box .comment-box-reply {
  border-top: var(--Border-4);
}
/* Adjust the margins to line up on the left, properly */
.user-css-extended .comment-box-avatar {
  margin-top: 5px;
  margin: 0px;
  padding: 0px;
}
.user-css-extended .comment-box [class*=conta] {
  margin-left: 70px;
}
/* Author */
.user-css-extended .comment-box-author {
  font-family: var(--HeaderFont);
  font-size: 1.2em;
  padding-top: 0px;
}
.user-css-extended .comment-box-author small {
  opacity: 1;
  color: var(--ColorTert-2);
  /* .7 default. */
}
.user-css-extended .text-gold {
  color: var(--ColorTert-2) !important;
  font-size: 0.85em;
}
.user-css-extended .comment-box-avatar .img-avatar {
  max-width: 60px;
  max-height: 60px;
}
.user-css-extended .comment-box-date {
  font-family: var(--BodyFont);
  color: var(--MuteColor);
  font-size: 1em;
  opacity: 1;
}
.user-css-extended .comment-box-signature {
  border-top: var(--Border-4);
}
/* Removing/editing comment borders */
/* Please note that the comment  border only shows author-side */
.user-css-extended .comment-box-date,
.user-css-extended [class*=comment-foo] {
  border: none;
}

/* __DICTIONARY__ */
.user-css .dictionary-panel .form-control {
  width: 100%;
  padding: 3px 8px;
  margin-top: 5px;
  border: var(--Border-2);
  border-width: 3px;
}
.user-css .dictionary-panel .form-control:focus {
  outline: none;
  border-color: var(--ColorTert-2);
}
/* Optional: if you want things all centered */
.user-css .dictionary-panel .pull-right {
  float: none !important;
  margin-bottom: 5px;
}
.user-css .dictionary-panel {
  text-align: center;
}
.user-css .dictionary-search-results {
  text-align: left;
}
/* Word entries */
.user-css .dictionary-word-title {
  color: var(--ColorTert-2);
}
.user-css .dictionary-word {
  background: var(--ColorSec-1);
  border-top: var(--Border-2);
  border-width: 3px;
  color: var(--BodyColor);
}

/* __MAPS__*/
/* Fullscreen */
.map-context-user-css {
  background: var(--ColorSec-1);
  /* Nothing else here. */
}
.user-css-map-sidebar {
  background: var(--ColorPrime);
  border-right: var(--Border-1);
}
.user-css-map-sidebar #sidebar-extras .card {
  font-family: var(--BodyFont);
  background: none;
  border: none;
}
.map-context-user-css #sidebarCollapse {
  color: var(--ColorPrime);
  background: var(--ColorTert-2);
  border: var(--Border-3);
  border-right: var(--Border-2);
  border-radius: var(--BorderRad);
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px 15px;
}
.map-context-user-css .nav-strip {
  color: var(--BodyColor);
  background: var(--ColorTert-2);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  font-family: var(--HeaderFont);
  box-shadow: none;
  transition: var(--Transit);
}
.map-context-user-css .nav-strip:hover {
  color: var(--BodyColor);
  background: var(--ColorTert-1);
}
.map-context-user-css .nav-strip .text-white {
  color: var(--BodyColor) !important;
}
.map-context-user-css .nav-strip:hover .text-white {
  color: var(--BodyColor) !important;
}
/* Logo/sage nav */
.presentation-interface-map #logo {
  padding-top: 10px;
  text-decoration: none;
  color: var(--BodyFont);
  font-family: var(--HeaderFont);
}
.presentation-interface-map #logo:before {
  background: var(--ColorTert-1);
  border: var(--Border-3);
  border-top-width: 0px;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
/* Zoom buttons */
.leaflet-touch .leaflet-bar {
  border: var(--Border-3);
  border-radius: var(--BorderRad);
}
.user-css .leaflet-control-layers,
.user-css .leaflet-control-layers-base span,
.map-context-user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers-base span {
  border-color: var(--ColorTert-2);
}
.map-context-user-css .leaflet-control-zoom-in,
.map-context-user-css .leaflet-control-zoom-out,
.user-css .leaflet-control-zoom-in,
.user-css .leaflet-control-zoom-out {
  border: none;
}
.user-css .leaflet-bar a:first-child,
.map-context-user-css .leaflet-bar a:first-child {
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  border-radius: var(--BorderRad);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  transition: var(--Transit);
}
.user-css .leaflet-bar a:last-child,
.map-context-user-css .leaflet-bar a:last-child {
  color: var(--ColorPrime);
  background: var(--ColorTert-2);
  border-radius: var(--BorderRad);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  transition: var(--Transit);
}
.map-context-user-css .leaflet-bar a:hover,
.user-css .leaflet-bar a:hover {
  background: var(--ColorSec-1);
  border: none;
}
.map-context-user-css .leaflet-bar a.leaflet-disabled,
.user-css .leaflet-bar a.leaflet-disabled {
  border: none;
  color: transparent;
}
/*Layers*/
.user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers {
  background: var(--ColorTert-2);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
}
.user-css .leaflet-control-layers-expanded,
.map-context-user-css .leaflet-control-layers-expanded {
  background: var(--ColorTert-2);
  font-family: var(--BodyFont);
}
.map-context-user-css .leaflet-control-layers-base span {
  color: var(--ColorPrime);
}
/* Legend */
.user-css .legend,
.map-context-user-css .legend {
  font-family: var(--BodyFont);
  color: var(--BodyColor);
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  box-shadow: var(--BoxShad-2);
}
.user-css .legend {
  padding: 10px;
}
.user-css .legend ul,
.map-context-user-css .legend ul {
  padding-left: 20px;
  margin: 0px;
}
/* Popups */
.user-css .leaflet-popup-content-wrapper,
.user-css .leaflet-popup-tip,
.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  color: var(--ColorPrime);
  font-family: var(--BodyFont);
  background: var(--ColorTert-2);
  border-radius: var(--BorderRad);
  box-shadow: var(--BoxShad);
}

.user-css .leaflet-popup-content .header-title,
.map-context-user-css .leaflet-popup-content-wrapper h5 {
  font-family: var(--HeaderFont);
  font-size: 1.2em;
  color: var(--ColorPrime);
}
.map-context-user-css .leaflet-popup-close-button {
  color: var(--ColorPrime) !important;
  margin: 5px;
  font-size: 1.2em;
}
.map-context-user-css .search-form .typeahead-input {
  border: var(--Border-2);
  border-width: 3px;
}
.map-context-user-css .form-group .dropdown-menu {
  padding: 0px;
  border: var(--Border-2);
  border-width: 3px;
  /* Fixes padding issue in dropdown */
}
/* ---Inline Maps--- */
.user-css-presentation .leaflet-grab {
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  background: var(--ColorSec-2);
  box-shadow: none;
}
.user-css-presentation .leaflet-touch .leaflet-bar {
  border: none;
  /* Add border if there&#039;s one earlier. */
}
/* Navigation */
.user-css .map-included-navigation {
  background: var(--ColorSec-1);
  border: var(--Border-3);
  padding: 5px 0px 0px 0px;
  border-top-width: 0px;
  margin-bottom: 15px;
}
.user-css .map-included-navigation-information {
  margin-top: 0px !important;
}
.user-css .map-included-navigation-title {
  font-family: var(--HeaderFont);
  font-size: 1.3em;
  padding-top: 5px;
  margin-left: 0px !important;
  margin-right: 20px;
}
.user-css .map-included-navigation-information .fa-info-circle {
  color: var(--BodyColor);
}

/* __NAVIGATION SIDEBAR__ */
.user-css-presentation #world-navigation-sidebar {
  display: block !important;
  opacity: 1;
  border-radius: 5px;
  width: 20%;
  overflow-x: hidden;
  background: var(--ColorPrime);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  box-shadow: var(--BoxShad-1);
  transition: var(--Transit);
}
.user-css-presentation #world-navigation-sidebar[style^=display] {
  /* How it looks/where it is BEFORE opening, only change for fancy transitions */
  opacity: 0;
  display: block !important;
  pointer-events: none;
}
/* Button */
.user-css-presentation .world-navigation-palette-trigger {
  padding: 10px;
  margin: 0px;
  font-size: 1.5em;
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  border: var(--Border-3);
  border-left-width: 0px;
  border-radius: var(--BorderRad);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 60px;
  height: 60px;
  margin: 0px;
}
.user-css-presentation .world-navigation-palette-trigger:hover {
  background: var(--ColorTert-2);
}
.user-css-presentation .world-navigation-palette-trigger-active {
  transition: var(--Transit);
  background: var(--ColorTert-1);
  border: var(--Border-3);
}
/* Scrollbar */
.user-css-presentation #world-navigation-sidebar::-webkit-scrollbar {
  width: 13px;
}
.user-css-presentation #world-navigation-sidebar::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0px;
}
.user-css-presentation #world-navigation-sidebar::-webkit-scrollbar-thumb {
  box-shadow: none;
  border-radius: 0px;
}

/* __ORG RELATIONSHIPS__ */
.user-css .relation .relationScore {
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-width: 3px;
  border-radius: var(--BorderRad);
}

/* __ORG TREE__ */
.user-css-extended .orgtree li a,
.user-css-extended .orgtree li a:hover + ul li a {
  font-family: var(--BodyFont);
  font-weight: bold;
  font-size: 1em;
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  border: none;
  border-radius: var(--BorderRad);
  transition: var(--Transit);
}
.user-css-extended .orgtree li a:hover {
  background: var(--ColorTert-2);
  transform: scale(1.05);
}
.user-css-extended .orgtree li a:hover + ul li a {
  background: var(--ColorPrime);
  color: var(--ColorTert-1);
  outline: var(--Border-2);
  outline-width: 3px;
  outline-offset: -3px;
  /* Children when you hover over a parent. */
}
/* Connecting lines */
.user-css-extended .orgtree {
  --BorderLinesBorder: 3px solid var(--ColorTert-2);
}
.user-css-extended .orgtree ul ul::before {
  border-left: var(--BorderLinesBorder);
}
.user-css-extended .orgtree li::before {
  border-top: var(--BorderLinesBorder);
}
.user-css-extended .orgtree li::after {
  border-top: var(--BorderLinesBorder);
  border-left: var(--BorderLinesBorder);
}
.user-css-extended .orgtree li:last-child::before {
  border-right: var(--BorderLinesBorder);
}
.user-css-extended .orgtree li:first-child::after {
  border-left: var(--BorderLinesBorder);
}
.user-css-extended .orgtree li:first-child::before,
.user-css-extended .orgtree li:last-child::after {
  border: transparent;
}
.user-css-extended .orgtree li a:hover + ul::before,
.user-css-extended .orgtree li a:hover + ul li::before,
.user-css-extended .orgtree li a:hover + ul li::after {
  /* Children when you hover over a parent. */
  border-color: var(--ColorTert-2);
}

/* __DIPLOMACY WEBS__ */
.user-css .clotho-box {
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  box-shadow: none;
}
.user-css .clotho-box .clotho-node {
  box-shadow: none;
}
.user-css .clotho-box .clotho-node .clotho-portrait-frame {
  border: var(--Border-2);
  border-width: 3px;
  height: 100%;
  max-height: 140px;
  /* Test w/ odd images, this might look grody. */
  /* Nothing else. */
}
.user-css .clotho-box .clotho-node .clotho-text-frame {
  background: var(--ColorSec-1);
}
.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label {
  border: none;
  margin-left: -3px;
  /* Nothing else. */
}
.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label a {
  font-size: 1em;
  font-family: var(--BodyFont);
  color: var(--BodyColor);
}
/* Hover element */
.user-css [class*=clotho-title-] {
  /* This is the main box. */
  background: var(--ColorSec-2);
  box-shadow: none;
  border-top: var(--Border-2);
}
.user-css .clotho-title-arrows,
.user-css .clotho-box div:nth-of-type(2) .clotho-title-item img,
.user-css [class*=clotho-title-item] {
  /* Undo anything you did above HERE. */
  border-top: none;
}
.user-css [class*=clotho-title-item] {
  border: var(--Border-3);
  padding: 0px !important;
}
.user-css .clotho-box div:nth-of-type(2) .clotho-title-arrows .clotho-rel-text {
  /* This is the disposition header */
  color: var(--ColorTert-2);
  top: -120px;
}
.user-css [class*=show] {
  /* Padding here top/bottom if the thing is too low. */
  padding-top: 25px;
  padding-bottom: 35px;
}

/* __FAMILY TREES */
.user-css .rhea-family-tree {
  background: var(--ColorSec-2);
  border: var(--Border-2);
  border-radius: var(--BorderRad);
  box-shadow: none;
}
.user-css .rhea-family-tree .loader {
  /* Loading screen bkg */
  background-color: var(--ColorTert-1);
  border: none;
}
.user-css .rhea-loader-text {
  /* Loading screen text */
  font-family: var(--HeaderFont);
  color: var(--ColorPrime);
  text-shadow: none;
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait:after {
  background: none;
  border: none;
  /* Nothing else. Just removes the ugly border. Add a background if you want that. */
}
.user-css .rhea-family-tree .main-character .character-portrait:after {
  background: none;
  /* Set to NONE if you want thinner borders! */
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait-wrapper {
  /* ONLY if you removed the bkg above */
  border: var(--Border-2);
  border-width: 3px;
  border-radius: var(--BorderRad);
}
.user-css .rhea-family-tree .main-character .character-portrait-wrapper {
  /* Selected character */
  border-color: var(--ColorTert-2);
}
.user-css .rhea-family-tree .rhea-character-node .character-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Nothing else. */
}
.user-css .rhea-family-tree .rhea-character-node .character-label {
  margin-top: -2px;
  font-family: var(--BodyFont);
  background: var(--ColorTert-1);
  border: var(--Border-3);
  border-radius: var(--BorderRad);
  width: 100px;
}
.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-data
  .character-name {
  font-family: var(--BodyFont);
  color: var(--ColorPrime);
  font-weight: bold;
}
.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-label
  .character-life {
  color: var(--ColorPrime);
  margin-top: 5px;
}
.user-css .rhea-family-tree .rhea-character-node:hover .character-label {
  background: var(--ColorTert-2);
}
.user-css .rhea-family-tree .character-relationship {
  opacity: 0;
  transition: all 0.3s;
}
.user-css .rhea-family-tree .rhea-character-node:hover .character-relationship {
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  top: -1px;
  opacity: 1;
}
.user-css .rhea-family-tree svg path {
  stroke: var(--ColorTert-2);
  /* Nothing else. */
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait img {
  border: none;
  /* Nothing else. */
}
/* Search */
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap {
  /* P much just fix padding */
  border: var(--Border-2);
  border-width: 3px;
  padding: 5px 15px;
}
.user-css .rhea-family-tree input::placeholder {
  color: var(--MuteColor);
}
.user-css .rhea-search-clear .fal {
  color: var(--MuteColor);
}
.user-css .rhea-ft-zoom-controls {
  border: none;
}

/* __CAROUSELS__ */
.user-css .carousel {
  height: 500px;
}
.user-css .carousel-inner img {
  height: 500px;
  object-fit: contain;
}
.user-css .carousel-item.active {
  display: flex;
  justify-content: center;
}
.user-css .carousel-caption h3 {
  background: var(--ColorPrime);
  padding: 0px;
}
.user-css .carousel-indicators li {
  background-color: var(--ColorTert-1);
}
.user-css .carousel-control {
  opacity: 1;
  /* Default opacity */
  background: none;
}
.user-css .carousel-control-next-icon {
  background-image: none;
  background: var(--ColorTert-1);
  clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
}
.user-css .carousel-control-prev-icon {
  background-image: none;
  background: var(--ColorTert-1);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

/* __TEMPLATE SPECIFICS__ */
/* Prose */
.user-css-presentation .page-article.template-prose .article-content {
  /* May not be necessary, double check. */
  font-size: 1em;
}
.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .w-o-b.btn.btn-xs {
  background: var(--ColorPrime) !important;
  color: var(--BodyColor) !important;
}
.user-css.bow {
  background: var(--ColorPrime) !important;
}
.user-css.bow p,
.user-css.bow .article-content,
.user-css.bow .article-content h2,
.user-css.bow .article-content h3,
.user-css.bow .article-content h4 {
  color: var(--BodyColor) !important;
}
.user-css.bow .article-content h1 {
  color: var(--ColorTert-1) !important;
}
.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .b-o-w.btn.btn-xs {
  background: var(--BodyColor) !important;
  color: var(--ColorPrime) !important;
}
.user-css.wob {
  background: var(--BodyColor) !important;
}
.user-css.wob p,
.user-css.wob .article-content,
.user-css.wob .article-content h2,
.user-css.wob .article-content h3,
.user-css.wob .article-content h4 {
  color: var(--ColorPrime) !important;
}
.user-css.wob .article-content h1 {
  color: var(--ColorPrime) !important;
}

/* __SCROLLBAR__ */
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  border-radius: var(--BorderRad);
  /* Probably no radius. */
  background: var(--ColorTert-2);
}
::-webkit-scrollbar-thumb {
  border-top: 5px solid var(--ColorPrime);
  border-bottom: 5px solid var(--ColorPrime);
  background: var(--ColorTert-1);
  width: 9px;
  border-radius: var(--BorderRad);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--ColorTert-2);
}

/* Make custom  homepage stuff on Desolate Wastes, just do it, coward. */

/* Don&#039;t forget!
- Navbar!
- Homepage formatting
- Comic-specific page template (w/ full width for images!)
-- Put prev/next buttons in the navbar...somehow? Can we BBCode these?
*/

/* No...
- Tooltips
- Aloud boxes
- Code boxes
- Campaign/Character widgets
- *Tables
- Rollable tables
- *Chronicles
- Stat blocks
- Dice rollers
- *Discussion boards
- Usercards

- Checkboxes

Maybe...(check on these)
- *Calendars
- GM note boxes
- *Timelines
- *Article previews (tooltipster)
- Subheadings
- Breadcrumbs
 */

/* MAKE THE SECOND THEME NOW, GENIUS. Just swap the variables. */

/* CHECK ON VARIOUS SCREEN SIZES AND BROWSERS
-Desktop 1
-Desktop 2
-Laptop
-Tablet
-Mobile

-Chrome
-Firefox */

/* ------------------------------------------------------------------------------------- */
/* END NOTES: Remove the editor tweaks, dumbus. Top bar.*/
/* Look at new features, add them-- 

TO ADD:
- World global header (navbar) position: sticky, and then set the top: 0px to stay under the WA navbar but be on top when you scroll!
- CHRONICLES!

/* INDEV ONLY, banner replacement because you are lazy. */
#cover img {
  opacity: 0;
}
#cover {
  background: #504942;
}
.cover-global {
  background-image: url(BANNERGOESHERE) !important;
}

/* Editor bar */
#world-editor-bar {
  width: 120px;
  top: auto;
  bottom: 200px;
  left: -100px;
  border-bottom: none;
  box-shadow: none;
  opacity: 0.6;
  padding: 15px 15px 0px 15px;
  transition: all 0.3s;
}
#world-editor-bar:hover {
  left: 0px;
}
#world-editor-bar .fa {
  font-size: 2em;
}
#world-editor-bar .btn {
  width: 85px !important;
  margin-bottom: 10px;
}
#world-editor-bar .world-edit-toggle .fa {
  color: white !important;
}
#world-editor-bar .world-edit-toggle .fa {
  width: 100%;
  height: 100%;
  line-height: 36px;
}
#world-editor-bar .pull-right {
  float: none !important;
}
#world-editor-bar [class*=cont] {
  width: 100px !important;
}
#world-editor-bar .label,
#world-editor-bar .btn-success:nth-child(1) {
  display: none;
}
#world-editor-bar .btn {
  background: var(--ColorTert-1);
  border: var(--Border-3);
  overflow: hidden;
}
#world-editor-bar .btn .hidden-xs {
  display: none;
}

/* __CSS PALETTE__ */
#css-palette-panel,
-palette-trigger {
  /* Variables */
  --pal-text: #754660;
  --pal-: linear-gradient(180deg, #fdd1ae 0%, #754660 80%);
  --pal-textbkg: #ffffcb;
  --pal-textbkg-2: #fdd1ae;
  --pal-tertiary: #6e404f;
  --pal-font: barlow condensed;
}
#hidden-sidebar {
  background-color: transparent;
}
#css-palette-panel {
  font-family: barlow condensed;
  font-size: 1.4em;
  color: var(--pal-textbkg) !important;
  position: fixed !important;
  right: 0.1px;
  width: 17% !important;
  background: var(--pal-) !important;
  border: 3px solid var(--pal-text) !important;
  border-right-width: 0;
}
#css-palette-panel h4 {
  font-family: var(--pal-font) !important;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: var(--pal-text) !important;
}
-palette-panel textarea {
  background: var(--pal-textbkg);
  color: var(--pal-text);
  border: 0px solid black;
  border-radius: 0px;
}
#css-palette-panel textarea.form-control {
  height: 0;
}
#css-palette-panel textarea.form-control:focus {
  color: var(--pal-text);
  background: var(--pal-textbkg-2);
  box-shadow: none;
}
#css-palette-panel .form-group {
  background: var(--pal-tertiary);
  color: var(--pal-textbkg);
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}
#css-palette-panel .form-group label {
  font-weight: bold;
  padding-bottom: 5px;
}
#css-palette-panel textarea {
  min-height: 55vh !important;
}
#css-palette-save {
  color: var(--pal-textbkg) !important;
  background: var(--pal-text);
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: 3px solid var(--pal-textbkg);
  border-radius: 0px;
  transition: all 0.1s;
}
#css-palette-save:hover {
  background: var(--pal-tertiary);
}
#css-palette-panel a {
  color: var(--pal-textbkg);
}
/* Button */
.hidden-xs {
  background: transparent;
}
-palette-trigger {
  position: fixed !important;
  color: var(--pal-text);
  background: var(--pal-textbkg);
  padding: 5px;
  padding-top: 8px;
  border: 3px solid var(--pal-text);
  border-right-width: 0px;
  margin-left: -5px;
}
-palette-trigger-pushed {
  right: 324px;
}