/*--------------------------*/
/* ---- Variables   ---- */
/* -------------------------*/
.user-css,
.user-css-extended,
.user-css-presentation,
.user-css-map,
.user-css-map-sidebar,
.presentation-interface-map,
.map-context-user-css,
.tooltipster-content {
  /* Fonts */
  --HeaderFont: Staatliches;
  --HeaderFont-2: Staatliches;
  --BodyFont: Atkinson Hyperlegible;

  /* Colors */
  --ColorPrime: #2a272e;
  --ColorSec-1: #1b1324;
  --ColorSec-2: #1e1225;
  --ColorTert-1: #b663c7;
  --ColorTert-2: #895ec5;
  --ColorTert-3: #46356c;
  --ColorTert-4: #5d366b;
  --ColorTert-5: #803d7c;
  --BodyColor: #cebbce;
  --MuteColor: #a38ca3;
}

/*--------------------------*/
/* ---- Fonts   ---- */
/* -------------------------*/

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IkUwCybQ.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IqUwA.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt93C1KxNDXMspQ1lPyU89-1h6ONRlW45G056qRdhWDTFieFA.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt93C1KxNDXMspQ1lPyU89-1h6ONRlW45G056qRdhWNTFg.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoSwQ.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9eiWPVFw.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v7/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWP.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Staatliches;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Staatliches;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*--------------------------*/
/* ---- Backgrounds   ---- */
/* -------------------------*/
#cover img {
  opacity: 0;
}

#cover {
  background: #ffffff;
}

.cover-global {
  background-image: url(BANNERGOESHERE) !important;
}

.user-css-presentation {
  background: url(https://cdn.discordapp.com/attachments/806091110278627349/920771136051085352/Hummelverse_Background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
  background: var(--ColorPrime);
  border: 5px solid var(--ColorTert-5);
  box-shadow: none;
}

.user-css #cover img {
  border-bottom: 5px solid var(--ColorTert-5);
}

/*--------------------------*/
/* ---- Text   ---- */
/* -------------------------*/
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css blockquote,
.user-css-extended blockquote,
.user-css .thales-cell,
.user-css-map-sidebar p,
.user-css-map-sidebar .world-vignette,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl,
.user-css-presentation .tooltipster-content,
.user-css-extended .article-extended-tabs,
.user-css-extended .metadata-label,
.user-css-extended .metadata-value {
  font-size: 17px;
  font-family: var(--BodyFont);
  color: var(--BodyColor);
}

/*--------------------------*/
/* ---- Headers   ---- */
/* -------------------------*/
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css .statblock h1,
.user-css-extended .orphan-era h1 {
  color: var(--ColorTert-1);
  font-family: var(--HeaderFont);
  font-size: 3.3em;
  text-align: center;
  padding-top: 17px;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-2);
  padding-top: 15px;
  border-bottom: none;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-2);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-1);
  padding-top: 15px;
  font-size: 2em;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5,
.user-css-presentation #world-navigation-sidebar .world-menu h5 {
  color: var(--ColorTert-2);
  font-family: var(--HeaderFont);
  padding-top: 10px;
  margin-top: 0px;
}

.user-css h6 {
  font-family: var(--HeaderFont);
  padding-top: 15px;
}

/*--------------------------*/
/* ---- Links   ---- */
/* -------------------------*/
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a,
.user-css .usercard a {
  color: var(--ColorTert-2);
  transition: all 0.3s;
  text-shadow: none;
}

.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover,
.user-css .usercard a:hover {
  color: var(--ColorTert-1);
  text-shadow: none;
  font-style: italic;
}

/*--------------------------*/
/* ---- Tooltips   ---- */
/* -------------------------*/
.user-css .text-abbreviation {
  cursor: default !important;
  border-bottom: 1px dotted var(--BodyColor);
}

.user-css .tooltip .tooltip-inner,
.user-css-presentation .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner,
.user-css-presentation .tooltipster-borderless .tooltipster-content {
  color: var(--BodyColor);
  font-family: var(--BodyFont);
  font-size: 1.4em;
  background: var(--ColorTert-4);
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.user-css-presentation .tooltip-arrow::before,
.user-css-presentation .tooltipster-arrow-border,
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
  border-top-color: var(--ColorTert-4) !important;
}

.user-css-presentation .tooltipster-borderless .tooltipster-box {
  background: none;
}

/*--------------------------*/
/* ---- Article Excepts   ---- */
/* -------------------------*/
.user-css-presentation .tooltip {
  opacity: 1;
}

.user-css-presentation .tooltip-arrow::before {
  border-top-color: var(--ColorTert-4);
}

.user-css-presentation .tooltip .tooltip-inner {
  max-width: 300px;
  background: var(--ColorPrime);
}

/*--------------------------*/
/* ---- Misc   ---- */
/* -------------------------*/
.user-css .article-subheading,
.user-css .article-title-author {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
}

.user-css .text-muted,
.user-css-extended .text-muted {
  color: var(--MuteColor) !important;
}

.user-css .text-danger,
.user-css-extended .text-danger {
  color: var(--ColorTert-2) !important;
}

.user-css .dropcap {
  font-family: var(--BodyFont);
}

/*--------------------------*/
/* ---- Buttons   ---- */
/* -------------------------*/
.user-css .btn,
.user-css-extended .btn,
.user-css .label-roller,
.user-css .rhea-ft-zoom-controls button,
.user-css-presentation .tooltipster-content .btn,
.user-css .discussion-board-section [class*=rep] .btn {
  font-family: var(--BodyFont);
  font-size: 1em;
  font-weight: bold;
  color: var(--ColorSec-1) !important;
  background: var(--ColorTert-2);
  border: none;
  border-left: 5px solid var(--ColorTert-3);
  border-radius: 0px;
  box-shadow: none;
  transition: all 0.3s;
}

.user-css .btn:hover,
.user-css-extended .btn:hover,
.user-css .label-roller:hover,
.user-css .rhea-ft-zoom-controls button:hover,
.user-css-presentation .tooltipster-content .btn:hover,
.user-css .discussion-board-section [class*=rep] .btn:hover {
  text-shadow: none;
  text-decoration: none;
  font-style: normal;
  padding-left: 15px;
  background: var(--ColorTert-1);
}

.user-css .btn:focus,
.user-css-extended .btn:focus,
.map-context-user-css .btn:focus,
.tooltipster-content .btn:focus {
  box-shadow: none;
}

.user-css .btn-success,
.user-css-extended .btn .btn-success {
  background: var(--ColorTert-1) !important;
  border: none !important;
  border-left: 5px solid var(--ColorTert-4) !important;
}

.user-css .btn-success:hover,
.user-css-extended .btn .btn-success:hover {
  background: var(--ColorTert-2) !important;
  border: none !important;
  border-left: 5px solid var(--ColorTert-4) !important;
}

.user-css .visibility-toggler-trigger .fas,
.user-css-extended .visibility-toggler-trigger .fas {
  padding: 5px;
}

/*--------------------------*/
/* ---- Quotes   ---- */
/* -------------------------*/
.user-css blockquote,
.user-css-extended blockquote,
.user-css-presentation .tooltipster-content blockquote {
  background: var(--ColorSec-2);
  border-left: 5px solid var(--ColorTert-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css blockquote .author,
.user-css-extended blockquote .author,
.user-css-presentation .tooltipster-content blockquote .author {
  color: var(--MuteColor);
  font-family: var(--HeaderFont);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Sidebar Panel   ---- */
/* -------------------------*/
.user-css .panel,
.user-css-extended .panel {
  background: var(--ColorSec-1);
  border-left: 5px solid var(--ColorTert-4);
  border-radius: 0px;
}

/*--------------------------*/
/* ---- HR   ---- */
/* -------------------------*/
.user-css hr,
.user-css-extended hr,
.user-css-map-sidebar hr,
.user-css .tooltipster-content hr {
  border-top: 3px solid var(--ColorTert-2);
  opacity: 1;
}

/*--------------------------*/
/* ---- Images   ---- */
/* -------------------------*/
.user-css .artist-credits {
  background: var(--ColorSec-1);
  color: var(--ColorTert-1);
}

/*--------------------------*/
/* ---- Imageblocks   ---- */
/* -------------------------*/
.user-css .image-panel {
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  box-shadow: none;
  text-align: center;
  padding: 15px;
}

.user-css .image-panel .cover,
.user-css .image-panel .user-css-image-thumbnail {
  margin-top: 0px;
}

.user-css .image-panel img {
  margin: auto;
}

.user-css .image-panel h5 {
  font-size: 2em;
}

.user-css .image-panel .artist-credits {
  font-size: 1em;
}

/*--------------------------*/
/* ---- Carousels   ---- */
/* -------------------------*/
.user-css .carousel {
  height: 500px;
}

.user-css .carousel-inner img {
  height: 500px;
  object-fit: contain;
}

.user-css .carousel-item.active {
  display: flex;
  justify-content: center;
}

.user-css .carousel-caption h3 {
  background: var(--ColorPrime);
  padding: 0px;
}

.user-css .carousel-indicators li {
  background-color: var(--ColorTert-1);
}

.user-css .carousel-control {
  opacity: 1;
  background: none;
}

.user-css .carousel-control-next-icon {
  background-image: none;
  background: var(--ColorTert-1);
  clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
}

.user-css .carousel-control-prev-icon {
  background-image: none;
  background: var(--ColorTert-1);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

/*--------------------------*/
/* ---- Spoilers   ---- */
/* -------------------------*/
.user-css .spoiler-button,
.user-css-extended .spoiler-button {
  border-top: 5px solid var(--ColorTert-3);
  border-left: none;
}

.user-css .spoiler-button:hover,
.user-css .spoiler-button[aria-expanded=true],
.user-css-extended .spoiler-button:hover,
.user-css-extended .spoiler-button[aria-expanded=true] {
  padding-left: 0.5rem;
  padding-top: 10px;
}

.user-css .spoiler-content,
.user-css-extended .spoiler-content {
  border-top: 5px solid var(--ColorTert-3);
  color: var(--BodyColor);
  background: var(--ColorSec-2);
  border-radius: 0px;
}

.user-css .spoiler-card,
.user-css-extended .spoiler-card {
  background: none;
  border: none;
  padding: 0px !important;
}

/*--------------------------*/
/* ---- Aloud Boxes   ---- */
/* -------------------------*/
.user-css .aloud,
.user-css-presentation .tooltipster-content .aloud {
  background: var(--ColorSec-1);
  color: var(--ColorTert-1);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Article Blocks   ---- */
/* -------------------------*/
.user-css .article-panel,
.user-css-extended .article-panel,
.user-css .map-box {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-2);
  border-radius: 0px;
  box-shadow: none;
  transition: all 0.3s;
}

.user-css .article-panel:hover,
.user-css-extended .article-panel:hover,
.user-css .map-box:hover {
  border-color: var(--ColorTert-4);
}

.user-css .article-panel .article-link:hover {
  text-decoration: none;
  font-style: normal;
}

.user-css .article-panel .heading {
  color: var(--ColorTert-1);
  font-size: 1.3em;
}

.user-css .article-panel .subheading,
.user-css .article-panel .date {
  color: var(--MuteColor);
}

/*--------------------------*/
/* ---- Homepage   ---- */
/* -------------------------*/
.user-css .world-author {
  font-family: var(--BodyFont);
  font-size: 1em;
  margin-bottom: 10px;
}

/*--------------------------*/
/* ---- Bookcovers   ---- */
/* -------------------------*/
.user-css .bookcover {
  border: 3px solid var(--ColorTert-4);
  background: var(--ColorSec-2);
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

.user-css .bookcover:hover {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-2);
}

.user-css .bookcover a:hover .excerpt {
  color: var(--BodyColor);
  transition: all 0.3s;
}

.user-css .bookcover a img {
  width: 100%;
  max-width: 300px;
  opacity: 1;
  transition: all 0.3s;
}

.user-css .bookcover a:hover img {
  opacity: 0.3;
}

.user-css .world-bookcase .booktitle,
.user-css .booktitle {
  position: absolute;
  max-width: 100%;
  top: unset;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--ColorSec-1);
  border-top: 3px solid var(--ColorTert-4);
  text-align: center;
  transition: all 0.3s;
}

.user-css .world-bookcase .bookcover a:hover .booktitle,
.user-css .bookcover a:hover .booktitle {
  color: var(--ColorSec-1);
  background: var(--ColorTert-2);
  border-top: 3px solid var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Table of Contents   ---- */
/* -------------------------*/
.user-css.page-world-homepage #world-menu,
.user-css.page-world-homepage #world-maps,
.user-css.page-world-homepage #world-timelines,
.user-css-presentation #world-navigation-sidebar .world-menu {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  padding: 15px;
  margin-bottom: 15px;
}

.user-css .world-toc-header {
  padding: 0px;
}

.user-css.page-world-homepage #world-menu,
.user-css-presentation #world-navigation-sidebar .world-menu {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  padding: 15px;
  padding-left: 0px;
  margin-bottom: 15px;
}

.user-css .timelines-list-header,
.user-css .maps-list-header,
.user-css .world-toc-header,
.user-css .world-featured-articles h2,
.user-css .world-recent-articles h2,
.user-css .world-campaigns-title {
  padding: 0px;
  padding-left: 15px;
}

.user-css .toc-article-link {
  color: var(--ColorTert-2);
}

.user-css .article-title-icon {
  color: var(--ColorTert-1);
  margin-right: 5px;
  font-size: 0.8em;
}

.user-css .world-category-link {
  color: var(--ColorTert-1);
}

.user-css .category-title-icon {
  color: var(--ColorTert-2);
  margin-right: 5px;
}

.user-css .fa-external-link {
  display: none;
}

/*--------------------------*/
/* ---- Map blocks   ---- */
/* -------------------------*/
.user-css .map-box .img-responsive {
  padding: 0px;
}

.user-css .map-box h5 {
  font-size: 1.3em;
}

.user-css .map-box .p-20 {
  padding-top: 0px !important;
}

.user-css .map-box small {
  font-family: var(--BodyFont);
  font-size: 1em;
}

/*--------------------------*/
/* ---- Followers page   ---- */
/* -------------------------*/
.user-css.page-followers .subheading {
  font-size: 1em;
  font-family: var(--BodyFont);
}

.user-css .follower-box {
  background: var(--ColorSec-2);
  border-radius: 0px;
}

.user-css .follower-box img {
  border: 3px solid var(--ColorTert-4);
  max-height: 50px;
  max-width: 50px;
}

.user-css .follower-box small {
  color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Top   ---- */
/* -------------------------*/
.user-css .backtoworld a,
.user-css .nav-strip a {
  font-size: 1em;
  letter-spacing: 0.05em;
  text-decoration: none;
  left: -13px;
  top: -39px;
  color: var(--ColorSec-1);
  background: var(--ColorTert-2);
  border: none;
  border-radius: 0px;
  font-family: var(--HeaderFont);
  box-shadow: none;
  transition: all 0.3s;
  padding-top: 9px;
}

.user-css div .backtoworld a:hover,
.user-css .nav-strip a:hover {
  font-style: normal;
  color: var(--ColorSec-1);
  background: var(--ColorTert-1);
  padding-left: 25px;
}

/*--------------------------*/
/* ---- Timeline Top   ---- */
/* -------------------------*/
.user-css .nav-strip {
  background: none;
  box-shadow: none;
  margin-top: -43px;
}

.user-css .nav-strip a {
  margin-left: -10px;
  font-size: 1.2em;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.user-css .nav-strip .fas {
  display: none;
}

/*--------------------------*/
/* ---- Backtotop   ---- */
/* -------------------------*/
.user-css-presentation #backtotop {
  bottom: 20%;
}

.user-css-presentation .backtotop-button {
  top: 10px;
  color: var(--ColorSec-1);
  background: var(--ColorTert-2);
  border: 3px solid var(--ColorTert-4);
  border-right: 0px;
  padding: 10px 15px;
  transition: all 0.3s;
}

.user-css-presentation .backtotop-button:hover {
  color: var(--ColorSec-1);
  background: var(--ColorTert-1);
  padding-right: 25px;
}

/*--------------------------*/
/* ---- Search Form   ---- */
/* -------------------------*/
.user-css .search-form .typeahead-input,
.user-css .form-control,
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap,
.map-context-user-css .search-form .typeahead-input {
  color: var(--BodyColor) !important;
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  color: var(--ColorSec-1);
  width: 200px;
  box-shadow: none;
  padding: 13px 10px 12px 10px;
}

.user-css .search-form .typeahead-input::placeholder,
.user-css .form-control::placeholder,
.user-css .rhea-family-tree input::placeholder,
.map-context-user-css .search-form .typeahead-input::placeholder {
  color: var(--MuteColor);
}

.user-css .typeahead.dropdown-menu,
.map-context-user-css .typeahead.dropdown-menu {
  background: var(--ColorSec-1);
}

.user-css .form-group .dropdown-menu,
.map-context-user-css .form-group .dropdown-menu {
  border: none;
  border-left: 3px solid var(--ColorTert-3);
  border-right: 3px solid var(--ColorTert-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .typeahead.dropdown-menu li,
.map-context-user-css .typeahead.dropdown-menu li {
  padding: 0;
  background: var(--ColorSec-1);
}

.user-css .typeahead.dropdown-menu li.active .dropdown-item,
.map-context-user-css .typeahead.dropdown-menu li.active .dropdown-item {
  background: var(--ColorPrime);
  font-weight: normal;
}

.user-css .typeahead.dropdown-menu li a,
.map-context-user-css .typeahead.dropdown-menu li a {
  color: var(--ColorTert-1);
}

/*--------------------------*/
/* ---- Breadcrumbs   ---- */
/* -------------------------*/
.user-css .breadcrumb,
.user-css-extended .breadcrumb {
  font-family: var(--BodyFont);
  font-size: 1.1em;
  font-style: normal;
}

.user-css .breadcrumb .fas,
.user-css-extended .breadcrumb .fas {
  color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Bottom   ---- */
/* -------------------------*/
.user-css .copyright-attribution {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  padding: 10px;
  margin-bottom: -17px;
}
.user-css .cp.btn-primary {
  padding-top: 7px;
}

.user-css .article- .btn {
  color: var(--ColorPrime) !important;
}
.user-css .article- .btn:hover {
  color: var(--ColorTert-1) !important;
}

/*--------------------------*/
/* ---- Category + Social   ---- */
/* -------------------------*/
.user-css .social-media {
  display: none;
}

/*--------------------------*/
/* ---- Nav/Category   ---- */
/* -------------------------*/
.user-css .article-horizontal-navigation {
  padding-bottom: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  left: 0px;
  background: var(--ColorPrime);
  border-top: none;
  border-color: var(--ColorTert-2);
  padding: 10px 100px 5px 100px;
}

.user-css .article-horizontal-navigation hr {
  display: none;
}

.user-css .article-horizontal-navigation a {
  font-size: 1.5em;
  margin-top: 3px;
}

/*--------------------------*/
/* ---- Nav tabs   ---- */
/* -------------------------*/
.user-css-extended .extended-tabs {
  position: initial;
  margin: 0 -10px;
}

.user-css-extended .nav-tabs {
  background: var(--ColorSec-2);
  margin-right: -25px;
  margin-left: -25px;
  left: 0;
  top: 0;
}

.user-css-extended .nav-tabs li {
  padding: 0;
}

.user-css-extended .nav-tabs li.nav-item a.nav-link {
  font-family: var(--BodyColor);
  color: var(--ColorSec-1);
  background: var(--ColorTert-2);
  border-right: none;
  margin-bottom: 0px;
  padding: 0px 15px;
  transition: all 0.3s;
}

.user-css-extended .nav-tabs .active,
.user-css-extended .nav-tabs .active:hover,
.user-css-extended .nav-tabs li a:hover {
  background: var(--ColorTert-1) !important;
  font-style: normal;
}

.user-css-extended .dl-horizontal {
  padding-bottom: 15px;
}

/*--------------------------*/
/* ---- Secrets and notes   ---- */
/* -------------------------*/
.user-css-extended .panel-default {
  font-family: var(--BodyFont);
}

.user-css-extended .panel-default .panel-heading {
  background: none;
  border: none;
  padding: 15px;
}

.user-css-extended .panel-default .panel-heading h3 {
  padding-top: 0px;
}

/*--------------------------*/
/* ---- Tags   ---- */
/* -------------------------*/
.user-css .label-default,
.user-css-extended .label-default,
.user-css .timeline li .label-default {
  color: var(--ColorSec-1) !important;
  font-weight: bold;
  background: var(--ColorTert-1);
  border: none;
  border-radius: 0px;
  transition: all 0.3s;
  box-shadow: none;
}

.user-css .label-default:hover,
.user-css-extended .label-default:hover,
.user-css .timeline li .label-default:hover {
  background: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Comments Form   ---- */
/* -------------------------*/
.user-css-extended .comment-form textarea {
  color: var(--BodyColor);
  font-family: var(--BodyFont);
  font-size: 1em;
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  transition: all 0.3s;
}

.user-css-extended .form-control:focus {
  border: 3px solid var(--ColorTert-2);
  box-shadow: none;
}

.user-css-extended .comment-form .btn:hover {
  border-left: 5px solid var(--ColorTert-3);
}

.user-css-extended .comment-form .pull-right {
  font-family: var(--BodyFont);
}

/*--------------------------*/
/* ---- Comments Box   ---- */
/* -------------------------*/
.user-css-extended .comment-box {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
}

.user-css-extended .comment-box-content p {
  font-size: 1em;
}

.user-css-extended .comment-box .comment-box-reply {
  border-top: 3px solid var(--ColorTert-4);
}

/*--------------------------*/
/* ---- Comments Author   ---- */
/* -------------------------*/
.user-css-extended .comment-box-author {
  font-family: var(--HeaderFont);
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding-top: 0px;
}

.user-css-extended .comment-box-author small {
  opacity: 1;
  color: var(--MuteColor);
}

.user-css-extended .text-gold {
  color: var(--ColorTert-1) !important;
  font-size: 0.85em;
}

.user-css-extended .comment-box-avatar .img-avatar {
  border: 3px solid var(--ColorTert-4);
  max-width: 60px;
  max-height: 60px;
  box-shadow: none;
}

.user-css-extended .comment-box-date {
  font-family: var(--BodyFont);
  color: var(--MuteColor);
  font-size: 1em;
  opacity: 1;
}

.user-css-extended .comment-box-signature {
  border-top: 3px solid var(--ColorTert-2);
}

.user-css-extended .comment-box-date,
.user-css-extended [class*=comment-foo] {
  border: none;
}

/*--------------------------*/
/* ---- Maps Fullscreen ---- */
/* -------------------------*/
.map-context-user-css {
  background: var(--ColorSec-1);
}

.user-css-map-sidebar {
  background: var(--ColorPrime);
  border-right: 5px solid var(--ColorTert-4);
}

.user-css-map-sidebar #sidebar-extras .card {
  font-family: var(--BodyFont);
  background: none;
  border: none;
}

.map-context-user-css #sidebarCollapse {
  color: var(--ColorSec-2);
  background: var(--ColorTert-2);
  border-right: 5px solid var(--ColorTert-3);
  border-radius: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
  transition: all 0.3s;
}

.map-context-user-css #sidebarCollapse:hover {
  padding-left: 20px;
}

.map-context-user-css .nav-strip {
  color: var(--BodyColor);
  background: var(--ColorTert-2);
  border: none;
  border-radius: 0px;
  font-family: var(--HeaderFont);
  box-shadow: none;
  transition: all 0.3s;
}

.map-context-user-css .nav-strip:hover {
  color: var(--BodyColor);
  background: var(--ColorTert-1);
}

.map-context-user-css .nav-strip .text-white {
  color: var(--BodyColor) !important;
}

.map-context-user-css .nav-strip:hover .text-white {
  color: var(--BodyColor) !important;
}

/*--------------------------*/
/* ---- Maps Logo/sage nav ---- */
/* -------------------------*/
.presentation-interface-map #logo {
  color: var(--BodyFont);
  font-family: var(--HeaderFont);
  font-size: 1.2em;
}

.presentation-interface-map #logo:before {
  background: var(--ColorTert-1);
  border: none;
  border-bottom: 5px solid var(--ColorTert-3);
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

/*--------------------------*/
/* ---- Maps Zoom buttons ---- */
/* -------------------------*/
.leaflet-touch .leaflet-bar {
  border: none;
  border-radius: 0px;
}

.user-css .leaflet-control-layers,
.user-css .leaflet-control-layers-base span,
.map-context-user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers-base span {
  border-color: var(--ColorTert-2);
}

.map-context-user-css .leaflet-control-zoom-in,
.map-context-user-css .leaflet-control-zoom-out,
.user-css .leaflet-control-zoom-in,
.user-css .leaflet-control-zoom-out {
  border: none;
  text-shadow: none;
}

.user-css .leaflet-bar a:first-child,
.map-context-user-css .leaflet-bar a:first-child {
  color: var(--ColorSec-1);
  background: var(--ColorTert-1);
  border-radius: 0px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  transition: all 0.3s;
}

.user-css .leaflet-bar a:last-child,
.map-context-user-css .leaflet-bar a:last-child {
  color: var(--ColorSec-1);
  background: var(--ColorTert-2);
  border-radius: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  transition: all 0.3s;
}

.map-context-user-css .leaflet-bar a:hover,
.user-css .leaflet-bar a:hover {
  background: var(--ColorSec-1);
  border: none;
}

.map-context-user-css .leaflet-bar a.leaflet-disabled,
.user-css .leaflet-bar a.leaflet-disabled {
  border: none;
  color: transparent;
}

/*--------------------------*/
/* ---- Maps Layers ---- */
/* -------------------------*/
.user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers {
  background: var(--ColorTert-2);
  border: none;
  border-right: 5px solid var(--ColorTert-3);
  border-radius: 0px;
}

.user-css .leaflet-control-layers-expanded,
.map-context-user-css .leaflet-control-layers-expanded {
  background: var(--ColorTert-2);
  font-family: var(--BodyFont);
}

.map-context-user-css .leaflet-control-layers-base span {
  font-size: 1.5em;
  color: var(--ColorSec-1);
}

/*--------------------------*/
/* ---- Maps Legend ---- */
/* -------------------------*/
.user-css .legend,
.map-context-user-css .legend {
  font-family: var(--BodyFont);
  color: var(--BodyColor);
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .legend {
  padding: 10px;
}

.map-context-user-css .legend {
  font-size: 1.5em;
}

.user-css .legend ul,
.map-context-user-css .legend ul {
  padding-left: 20px;
  margin: 0px;
}

/*--------------------------*/
/* ---- Maps Popups ---- */
/* -------------------------*/
.user-css .leaflet-popup-content-wrapper,
.user-css .leaflet-popup-tip,
.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  color: var(--BodyColor);
  font-family: var(--BodyFont);
  background: var(--ColorSec-1);
  border-radius: 0px;
  box-shadow: none;
}

.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
  font-size: 1.3em;
}

.user-css .leaflet-popup-content .header-title,
.map-context-user-css .leaflet-popup-content-wrapper h5 {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-1);
  font-size: 1.5em;
}

.user-css .leaflet-popup-close-button,
.map-context-user-css .leaflet-popup-close-button {
  color: var(--ColorTert-1) !important;
  margin: 5px;
  font-size: 1.2em;
}

/*--------------------------*/
/* ---- Inline Maps ---- */
/* -------------------------*/
.user-css-presentation .leaflet-grab {
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  background: var(--ColorSec-2);
  box-shadow: none;
}

/*--------------------------*/
/* ---- Maps Navigation ---- */
/* -------------------------*/
.user-css .map-included-navigation {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  padding: 5px 5px 10px 5px;
  border-top-width: 0px;
}

.user-css .map-included-navigation-information {
  margin-top: 0px !important;
}

.user-css .map-included-navigation-title {
  font-family: var(--HeaderFont);
  color: var(--ColorTert-2);
  font-size: 1.3em;
  padding-top: 5px;
  margin-right: 10px;
}

.user-css .map-included-navigation-information .fa-info-circle {
  color: var(--ColorTert-1);
}

/*--------------------------*/
/* ---- Timelines ---- */
/* -------------------------*/
.user-css.page-timeline .subheading {
  font-family: var(--BodyFont);
  font-size: 1em;
}

.user-css-extended .timeline li .timeline-panel,
.user-css .timeline li .timeline-panel {
  background: var(--ColorSec-1);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  box-shadow: none;
}

.user-css-extended .timeline-panel .fa,
.user-css .timeline-panel .fa {
  margin-top: -25px;
  font-size: 20px;
}

.user-css-extended .timeline:before,
.user-css .timeline:before {
  background-color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Timelines Text ---- */
/* -------------------------*/
.user-css .tl-heading-date,
.user-css-extended .tl-heading-date {
  color: var(--BodyColor);
}

.user-css .timeline li .timeline-panel small,
.user-css .timeline li .milestone-panel small,
.user-css-extended .timeline li .timeline-panel small,
.user-css-extended .timeline li .milestone-panel small {
  color: var(--BodyColor);
}

.user-css .timeline li .timeline-panel h5,
.user-css .timeline .history-title {
  font-size: 1.5em;
}

.user-css .tl-heading-date .fa-chevron-right,
.user-css-extended .tl-heading-date .fa-chevron-right {
  font-size: 1.3em;
  padding-top: 5px;
}

.user-css .timeline .history-category-name {
  color: var(--MuteColor);
}

/*--------------------------*/
/* ---- Timelines Pointers ---- */
/* -------------------------*/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 32px;
  right: -17px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid;
  border-right: 0 solid;
  border-bottom: 15px solid transparent;
  border-right-color: inherit;
  border-left-color: inherit;
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 32px;
  right: -17px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid;
  border-right: 0 solid;
  border-right-color: inherit;
  border-left-color: inherit;
}

.user-css .timeline li.timeline-entry-inverted .timeline-panel:before {
  left: -17px;
}

.user-css .timeline li.timeline-entry-inverted .timeline-panel:after {
  left: -17px;
}

/*--------------------------*/
/* ---- Timelines Shield icons ---- */
/* -------------------------*/
.user-css-extended .timeline li .tl-circ,
.user-css .timeline li .tl-circ {
  background: var(--ColorPrime);
  border-color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Timelines Icon Panels ---- */
/* -------------------------*/
.user-css .timeline .date-divider,
.user-css-extended .timeline .date-divider {
  margin: 2px 0;
}
/*--------------------------*/
/* ---- Timelines Icon Fix ---- */
/* -------------------------*/
.user-css-extended .timeline .header-icon,
.user-css .timeline .header-icon {
  padding: 14px;
  font-size: 15.5px;
}

/*--------------------------*/
/* ---- Timelines Milestones ---- */
/* -------------------------*/
.user-css-extended .timeline .milestone,
.user-css .timeline .milestone {
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-2);
  border-radius: 0px;
  box-shadow: none;
}

.user-css-extended .timeline .timeline-entry-milestone .header-icon,
.user-css .timeline .timeline-entry-milestone .header-icon {
  border: 3px solid var(--ColorTert-2);
  background: var(--ColorSec-2);
  color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Timelines Major ---- */
/* -------------------------*/
.user-css-extended .timeline .major .header-icon,
.user-css .timeline .major .header-icon {
  border: 3px solid var(--ColorTert-2);
  border-color: var(--ColorTert-1);
  background: var(--ColorSec-2);
  color: var(--ColorTert-1);
}

.user-css-extended .timeline .major .timeline-panel,
.user-css .timeline .major .timeline-panel {
  border: 3px solid var(--ColorTert-2);
  border-color: var(--ColorTert-1);
}

/*--------------------------*/
/* ---- Timelines Importnat ---- */
/* -------------------------*/
.user-css-extended .timeline .important .header-icon,
.user-css .timeline .important .header-icon {
  border: 3px solid var(--ColorTert-4);
  border-color: var(--ColorTert-2);
  background: var(--ColorSec-2);
  color: var(--ColorTert-2);
}

.user-css-extended .timeline .important .timeline-panel,
.user-css .timeline .important .timeline-panel {
  border: 3px solid var(--ColorTert-4);
  border-color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Timelines Minor ---- */
/* -------------------------*/
.user-css-extended .timeline .minor .header-icon,
.user-css .timeline .minor .header-icon {
  border: 3px solid var(--ColorTert-4);
  background: var(--ColorSec-2);
  color: var(--ColorTert-1);
}

.user-css-extended .timeline .minor .timeline-panel,
.user-css .timeline .minor .timeline-panel {
  background: var(--ColorSec-2);
}

/*--------------------------*/
/* ---- Timelines Trival ---- */
/* -------------------------*/
.user-css-extended .timeline .trivial .header-icon,
.user-css .timeline .trivial .header-icon {
  border: 3px solid var(--ColorTert-4);
  background: var(--ColorSec-2);
  color: var(--BodyColor);
}

.user-css-extended .timeline .trivial .timeline-panel,
.user-css .timeline .trivial .timeline-panel {
  background: var(--ColorSec-2);
  border-color: var(--ColorSec-2);
}

/*--------------------------*/
/* ---- Timelines No Importance ---- */
/* -------------------------*/
.user-css-extended .timeline .no-importance .header-icon,
.user-css .timeline .no-importance .header-icon {
  border: 3px solid var(--ColorTert-4);
  background: var(--ColorSec-2);
  color: var(--ColorTert-4);
}

.user-css-extended .timeline .no-importance .timeline-panel,
.user-css .timeline .no-importance .timeline-panel {
  background: var(--ColorSec-2);
  border-color: var(--ColorSec-2);
}

/*--------------------------*/
/* ---- Timelines Orphans ---- */
/* -------------------------*/
.user-css .orphan-era .alert,
.user-css-extended .orphan-era .alert {
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-4);
  border-radius: 0px;
  box-shadow: none;
}

/*--------------------------*/
/* ---- Diplomacy Webs ---- */
/* -------------------------*/
.user-css .clotho-box {
  background: var(--ColorSec-2);
  border: 3px solid var(--ColorTert-2);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .clotho-box .clotho-node {
  border: 3px solid var(--ColorTert-2);
  box-shadow: none;
}

.user-css .clotho-box .clotho-node .clotho-portrait-frame {
  height: 100%;
  max-height: 140px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame {
  background: var(--ColorSec-1);
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label {
  border: none;
  margin-left: -3px;
}

.user-css .clotho-box .clotho-node .clotho-text-frame .clotho-label a {
  font-size: 1em;
  font-family: var(--BodyFont);
  color: var(--BodyColor);
}

/*--------------------------*/
/* ---- Diplomacy Webs Hover ---- */
/* -------------------------*/
.user-css [class*=clotho-title-] {
  background: var(--ColorSec-2);
  box-shadow: none;
  border-top: 3px solid var(--ColorTert-4);
}

.user-css .clotho-title-arrows,
.user-css .clotho-box div:nth-of-type(2) .clotho-title-item img,
.user-css [class*=clotho-title-item] {
  border-top: none;
}

.user-css [class*=clotho-title-item] {
  border: 3px solid var(--ColorTert-2);
  padding: 0px !important;
}

.user-css .clotho-box div:nth-of-type(2) .clotho-title-arrows .clotho-rel-text {
  color: var(--ColorTert-2);
  top: -120px;
}

.user-css [class*=show] {
  padding-top: 25px;
  padding-bottom: 35px;
}

/*--------------------------*/
/* ---- Org Relaitonships ---- */
/* -------------------------*/
.user-css .relation .relationScore {
  background: var(--ColorSec-2);
  border: 5px solid var(--ColorTert-3);
  border-width: 3px;
  border-radius: 0px;
}

/*--------------------------*/
/* ---- Org  Tree ---- */
/* -------------------------*/
.user-css-extended .orgtree li a,
.user-css-extended .orgtree li a:hover + ul li a {
  font-family: var(--BodyFont);
  font-weight: bold;
  font-size: 1em;
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  border: none;
  border-radius: 0px;
  transition: all 0.3s;
}

.user-css-extended .orgtree li a:hover {
  background: var(--ColorTert-2);
  transform: scale(1.05);
}

.user-css-extended .orgtree li a:hover + ul li a {
  background: var(--ColorPrime);
  color: var(--ColorTert-1);
  outline: 5px solid var(--ColorTert-3);
  outline-width: 3px;
  outline-offset: -3px;
}

/*--------------------------*/
/* ---- Org Tree Lines ---- */
/* -------------------------*/
.user-css-extended .orgtree ul ul::before {
  border-left: 3px solid var(--ColorTert-2);
}

.user-css-extended .orgtree li::before {
  border-top: 3px solid var(--ColorTert-2);
}

.user-css-extended .orgtree li::after {
  border-top: 3px solid var(--ColorTert-2);
  border-left: 3px solid var(--ColorTert-2);
}

.user-css-extended .orgtree li:last-child::before {
  border-right: 3px solid var(--ColorTert-2);
}

.user-css-extended .orgtree li:first-child::after {
  border-left: 3px solid var(--ColorTert-2);
}

.user-css-extended .orgtree li:first-child::before,
.user-css-extended .orgtree li:last-child::after {
  border: transparent;
}

.user-css-extended .orgtree li a:hover + ul::before,
.user-css-extended .orgtree li a:hover + ul li::before,
.user-css-extended .orgtree li a:hover + ul li::after {
  border-color: var(--ColorTert-2);
}

/*--------------------------*/
/* ---- Family Trees ---- */
/* -------------------------*/
.user-css .rhea-family-tree {
  background: var(--ColorSec-2);
  border: 5px solid var(--ColorTert-3);
  border-radius: 0px;
  box-shadow: none;
}

.user-css .rhea-family-tree .loader {
  background-color: var(--ColorTert-1);
  border: none;
}

.user-css .rhea-loader-text {
  font-family: var(--HeaderFont);
  color: var(--ColorPrime);
  text-shadow: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait:after {
  background: none;
  border: none;
}

.user-css .rhea-family-tree .main-character .character-portrait:after {
  background: none;
}

.user-css .rhea-family-tree .rhea-character-node .character-portrait-wrapper {
  border: 5px solid var(--ColorTert-3);
  border-width: 3px;
  border-radius: 0px;
}

.user-css .rhea-family-tree .main-character .character-portrait-wrapper {
  border-color: var(--ColorTert-2);
}

.user-css .rhea-family-tree .rhea-character-node .character-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-css .rhea-family-tree .rhea-character-node .character-label {
  margin-top: -2px;
  font-family: var(--BodyFont);
  background: var(--ColorTert-1);
  border: none;
  border-radius: 0px;
  width: 100px;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-data
  .character-name {
  font-family: var(--BodyFont);
  color: var(--ColorPrime);
  font-weight: bold;
}

.user-css
  .rhea-family-tree
  .rhea-character-node
  .character-label
  .character-life {
  color: var(--ColorPrime);
  margin-top: 5px;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-label {
  background: var(--ColorTert-2);
}

.user-css .rhea-family-tree .character-relationship {
  opacity: 0;
  transition: all 0.3s;
}

.user-css .rhea-family-tree .rhea-character-node:hover .character-relationship {
  color: var(--ColorPrime);
  background: var(--ColorTert-1);
  top: -1px;
  opacity: 1;
}

.user-css .rhea-family-tree svg path {
  stroke: var(--ColorTert-2);
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait img {
  border: none;
}

/*--------------------------*/
/* ---- Family Tree Search ---- */
/* -------------------------*/
.user-css .rhea-family-tree .rhea-ft-search .rhea-search-input-wrap {
  border: 5px solid var(--ColorTert-3);
  border-width: 3px;
  padding: 5px 15px;
}

.user-css .rhea-family-tree input::placeholder {
  color: var(--MuteColor);
}

.user-css .rhea-search-clear .fal {
  color: var(--MuteColor);
}

.user-css .rhea-ft-zoom-controls {
  border: none;
}

/*--------------------------*/
/* ---- Prose ---- */
/* -------------------------*/
.user-css-presentation .page-article.template-prose .article-content {
  font-size: 1em;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .w-o-b.btn.btn-xs {
  background: var(--ColorPrime) !important;
  color: var(--BodyColor) !important;
}

.user-css.bow {
  background: var(--ColorPrime) !important;
}

.user-css.bow p,
.user-css.bow .article-content,
.user-css.bow .article-content h2,
.user-css.bow .article-content h3,
.user-css.bow .article-content h4 {
  color: var(--BodyColor) !important;
}

.user-css.bow .article-content h1 {
  color: var(--ColorTert-1) !important;
}

.user-css-presentation
  .page-article.template-prose
  .cover
  div
  .b-o-w.btn.btn-xs {
  background: var(--BodyColor) !important;
  color: var(--ColorPrime) !important;
}

.user-css.wob {
  background: var(--BodyColor) !important;
}

.user-css.wob p,
.user-css.wob .article-content,
.user-css.wob .article-content h2,
.user-css.wob .article-content h3,
.user-css.wob .article-content h4 {
  color: var(--ColorPrime) !important;
}

.user-css.wob .article-content h1 {
  color: var(--ColorPrime) !important;
}

/*--------------------------*/
/* ---- Scrollbar ---- */
/* -------------------------*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--ColorSec-2);
}

::-webkit-scrollbar-thumb {
  background: var(--ColorTert-2);
  width: 9px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ColorTert-1);
}

/*--------------------------*/
/* ---- White Label ---- */
/* -------------------------*/
.user-css-whitelabel {
  background: var(--ColorPrime);
  border-right: 5px solid var(--ColorTert-3);
  color: var(--BodyColor) !important;
}

/*--------------------------*/
/* ---- Screen Scaling ---- */
/* -------------------------*/
@media only screen and (max-width: 1199px) {
  .user-css-presentation #world-navigation-sidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 991px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css-presentation #world-navigation-sidebar {
    top: 26%;
    min-height: 60% !important;
    width: 100%;
    left: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .user-css.page,
  .user-css-extended .page {
    overflow: hidden;
  }

  .user-css .search-form {
    top: 0px;
    left: 0px;
  }
}

/*--------------------------*/
/* ---- Editor Bar ---- */
/* -------------------------*/
#world-editor-bar {
  width: 120px;
  top: auto;
  bottom: 200px;
  left: -100px;
  border-bottom: none;
  box-shadow: none;
  opacity: 0.6;
  padding: 15px 15px 0px 15px;
  transition: all 0.3s;
}

#world-editor-bar:hover {
  left: 0px;
}

#world-editor-bar .fa {
  font-size: 2em;
}

#world-editor-bar .btn {
  width: 85px !important;
  margin-bottom: 10px;
}

#world-editor-bar .world-edit-toggle .fa {
  color: white !important;
}

#world-editor-bar .world-edit-toggle .fa {
  width: 100%;
  height: 100%;
  line-height: 36px;
}

#world-editor-bar .pull-right {
  float: none !important;
}

#world-editor-bar [class*=cont] {
  width: 100px !important;
}

#world-editor-bar .label,
#world-editor-bar .btn-success:nth-child(1) {
  display: none;
}

#world-editor-bar .btn {
  background: var(--ColorTert-1);
  border: none;
  overflow: hidden;
}

#world-editor-bar .btn .hidden-xs {
  display: none;
}

/*--------------------------*/
/* ---- Edits ---- */
/* -------------------------*/
.user-css-presentation .world-navigation-palette-trigger,
.user-css #world-category-content,
.user-css .world-content .world-maps,
.user-css .world-meta-categories-link,
.user-css .discussion-boards-world-link {
  display: none;
}
