/* Trek
** Desgined by
** Timepool (Garrett Lewis)
https://www.worldanvil.com/author/Timepool */

/* __BACKGROUNDS__ */
.user-css-presentation {
    background: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/trek/images/background.jpg');
/* Variables */
--FinalFrontier: Final Frontier Old, Audiowide; 
--Monda: Monda;
--Audiowide: Audiowide;
--Barlow: Barlow Condensed;
--BorgBlack: #0d0d0d;
--EnterpriseGrey: #b8b8b8;
--WeatheredGrey: #acaca4;
--GoneGrey: #9e9e9e;
--NighWhite: #ebece1;
--CaptainYellow: #cdca56;
--ProsperousBlue: #4d87c2;
--PaleBlue: #8f8fbe;
--RedDead: #cc4e4e;
--DarkRedDead: #803131;
--LCARSDarkLavendar: #CC6699;
--LCARSLavendar: #CC99CC;
--PaleOrange: #ff9963;
--BlindingOrange: #FF9C00;
--DataYellow: #ffff9c;
}
.user-css.page,
.user-css-extended .page,
.user-css-presentation .tooltipster-content {
    background: var(--BorgBlack);
    border: 7px solid var(--EnterpriseGrey);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}

/* __TEXT__ */
@font-face{
    font-family: Final Frontier Old;
    font-style: normal;
    font-weight: 400;
    src: url(https://worldanvil-static.sfo2.digitaloceanspaces.com/fonts/FinalFrontierOldStyle-8Pg.ttf);
}
@font-face {
    font-family: Monda;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjspvPho7vA.woff2);
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Monda;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjsphPho.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Audiowide;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2);
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: Audiowide;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdlg_O.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6x_T2kn3.woff2);
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css-map-sidebar p,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl {
    color: var(--WeatheredGrey);
    font-family: Monda;
}
.user-css-extended {
    font-size: 1.2em;
}
/* Headers */
.user-css h1,
.user-css-map-sidebar h1,
.user-css-presentation .tooltipster-content h1,
.user-css-extended .orphan-era h1 {
    display: flex;
    align-items: center;
    font-family: var(--FinalFrontier);
    color: var(--CaptainYellow);
    font-size: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
}
.user-css h1:before,
.user-css-map-sidebar h1:before,
.user-css-presentation .tooltipster-content h1:before {
    display: inline-flexbox;
    position: relative;
    content: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/images/h1-before.svg');
    left: -10px;
    top: 1px;
}
.user-css h1:after,
.user-css-map-sidebar h1:after,
.user-css-presentation .tooltipster-content h1:after {
    display: inline-flexbox;
    position: relative;
    content: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/images/h1-after.svg');
    left: 7px;
    top: 1px;
}
.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
    color: var(--ProsperousBlue);
    font-family: var(--FinalFrontier);
    letter-spacing: 1px;
    font-size: 50px;
    padding: 0 10px 0 10px;
    border: 7px double var(--ProsperousBlue);
    border-bottom-style: solid;
    border-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.user-css h3,
.user-css-extended .page h3,
.user-css-map-sidebar h3,
.user-css-presentation .tooltipster-content h3 {
    color: var(--PaleOrange);
    font-family: var(--Audiowide);
    font-size: 30px;
}
.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
    color: var(--LCARSDarkLavendar);
    font-family: var(--Audiowide);
    font-size: 25px;
}
.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5 {
    color: var(--CaptainYellow);
    font-family: var(--Audiowide);
    font-size: 23px;
}
.user-css h6 {
    color: var(--PaleOrange);
    font-family: var(--Audiowide);
    font-size: 16px;
}
/* Links */
.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a {
    color: var(--BlindingOrange);
    font-style: inherit;
    text-shadow: 0px 0px 2px var(--StarCy);
}
.user-css a:hover,
.user-css-extended a:hover,
.user-css-presentation .tooltipster-content a:hover {
    text-decoration: none;
    text-shadow: 0 0 3px var(--CaptainYellow);
    color: var(--CaptainYellow);
    transition: color 0.2s;
}
/* Tooltips */
.user-css .tooltip.top .tooltip-arrow,
.user-css-extended .tooltip.top .tooltip-arrow,
.user-css-worldmenu .tooltip.top .tooltip-arrow {
    border-top-color: var(--ProsperousBlue);
}
.user-css .tooltip .tooltip-inner,
.user-css-extended .tooltip .tooltip-inner,
.user-css-worldmenu .tooltip .tooltip-inner {
    background: var(--ProsperousBlue);
    color: white;
    font-size: 15px;
}
.user-css .tooltip {
    font-family: var(--Monda);
}
.user-css .text-abbreviation {
    text-decoration: underline dashed var(--LCARSLavendar);
}
/* Misc */
.user-css .article-subheading,
.user-css .article-title-author {
    text-align: center;
    font-style: italic;
}
.user-css .text-muted {
    color: var(--GoneGrey);
}
.user-css .text-danger,
.user-css-extended .text-danger {
    color: var(--RedDead);
}
.user-css .dropcap {
    font-family: var(--FinalFrontier);
    padding-top: 7px;
    padding-right: 7px;
    margin-bottom: -5px;
}

/* BUTTONS */
.user-css .btn,
.user-css-extended .btn,
.user-css .label-roller {
    background-color: var(--RedDead);
    border: 5px double var(--BorgBlack);
    border-radius: 15px;
    font-family: var(--Audiowide);
    font-size: 15px;
    transition: all 0.5s;
}
.user-css .btn:hover,
.user-css-extended .btn:hover,
.user-css .label-roller:hover {
    border: 5px double var(--LCARSDarkLavendar);
    background-color: var(--LCARSDarkLavendar);
    color: var(--DataYellow);
    transition: all 0.2s;
}

/* __QUOTES__ */
.user-css blockquote,
.user-css-extended blockquote,
.user-css-presentation .tooltipster-content blockquote {
    background: var(--RedDead) ;
    font-family: var(--Barlow);
    font-size: 23px;
    color: var(--NighWhite);
    letter-spacing: 1px;
    border-left: 0px;
    border-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 55px;
    padding: 10px 40px 20px 35px;
    clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0, calc(100% - 35px) 0, calc(100% - 35px) 100%, calc(100% - 43px) 100%, calc(100% - 43px) 0,
                calc(0% + 21px) 0, calc(0% + 21px) 100%, calc(0% + 13px) 100%, calc(0% + 13px) 0);
}
.user-css blockquote .author,
.user-css-extended blockquote .author,
.user-css-presentation .tooltipster-content blockquote .author {
    color: var(--PaleOrange);
    font-family: var(--Barlow);
    font-size: 20px;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}

/* __SIDEBAR PANEL__ */
.user-css .panel,
.user-css-extended .panel {
    background: var(--BorgBlack);
    border: 10px double var(--PaleBlue);
    border-radius: 30px;
}

/* __TOOLTIPSTER POPUP__ */
.user-css-presentation .tooltipster-content {
    color: var(--EnterpriseGrey)!important;
}
.user-css-presentation .tooltipster-content blockquote,
.user-css-presentation .tooltipster-content blockquote .author {
    font-size: 1.1em;
}
.tooltipster-sidetip.tooltipster-light .tooltipster-box {
    border: none;
    background: transparent;
}

/* __HR__ */
.user-css hr,
.user-css-extended hr {
    border-width: 3px;
    border-color: var(--PaleOrange);
    clip-path: polygon(0% 0%, 4% 0, 4% 100%, 6% 100%, 6% 0, 94% 0, 94% 100%, 96% 100%, 96% 0, 100% 0, 100% 100%, 0 100%);
}

/* __IMAGES__ */
.user-css .artist-credits {
    color: var(--NighWhite);
    border: 5px double var(--PaleBlue);
    border-top: 0px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* __SPOILERS__ */
.user-css .spoiler-button:focus {
    background: var(--LCARSDarkLavendar)!important;
    border: 5px solid var(--LCARSDarkLavendar);
}
.user-css .spoiler-content {
    background: transparent;
    color: var(--WeatheredGrey);
    border: 7px double var(--RedDead);
    border-bottom-style: solid;
    border-radius: 0px;
    border-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    box-shadow: inset 0px 0px 5px 2px var(--MartianGreen);
}

/* __ALOUD BOXES__ */
.user-css .aloud {
    background: var(--PaleBlue);
    border: 5px solid var(--DarkRedDead);
    border-radius: 40px;
    color: var(--NighWhite);
    font-family: var(--Barlow);
    font-size: 18px;
}
/* Code boxes */
.user-css pre {
    background: var(--LCARSDarkLavendar);
    border: 5px solid var(--CaptainYellow);
    border-radius: 40px;
    color: var(--NighWhite);
    font-size: 15px;
}

/* __ARTICLE BLOCKS__ */
.user-css .article-panel,
.user-css-extended .article-panel,
.user-css .map-box {
    padding-bottom: 0px;
    background-color: var(--PaleOrange);
    border: 7px solid var(--PaleBlue);
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.5s;
}
.user-css .article-panel:hover,
.user-css-extended .article-panel:hover,
.user-css .map-box:hover {
    background: var(--LCARSDarkLavendar);
    border-color: var(--CaptainYellow);
}
.user-css .article-panel .heading {
        color: var(--DarkRedDead);
}
.user-css .article-panel .subheading,
.user-css .article-panel .date  {
    color: var(--RedDead);
}
.user-css .article-panel .excerpt {
    color: var(--BorgBlack);
}

/* __HOMEPAGE__ */
.user-css .world-currentDate {
    font-size: 25px;
    margin-bottom: 5px;
}
.user-css .world-author {
    font-family: var(--Audiowide);
    padding-top: 0px;
    margin-bottom: 20px;
}
/* Book covers */
.user-css .bookcover {
    height: 250px;
    overflow: hidden;
    background-color: var(--DarkRedDead);
    margin-left: 17px;
    margin-right: 17px;
    transition: all 0.5s;
}
.user-css .bookcover:hover {
    border-radius: 20px;
    transition: all 0.5s;
}
.user-css .bookcover a img {
    transition: all 0.5s;
}
.user-css .bookcover a:hover img {
    opacity: .3;
    transition: all 0.5s;
}
.user-css .world-bookcase .booktitle {
    position: absolute;
    width: 50%;
    height: 33px;
    left: 25%;
    top: 43%;
    color: var(--NighWhite);
    background: var(--PaleBlue);
    font-family: var(--Audiowide);
    font-size: 18px;
    text-align: center;
    border-radius: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.3s;
}
.user-css .world-bookcase .bookcover a:hover .booktitle {
    opacity: 0;
}
.user-css .world-bookcase .bookcover .img {
    width: 100%;
    max-width: 300px;
}
/* ToC */
.user-css #world-category-content h2 {
    border-bottom: none;
}
.user-css .table-of-contents a,
.user-css .table-of-contents h5,
.user-css .category-toc-loader a,
.user-css .category-toc-loader h5,
.user-css .world-toc-loader a,
.user-css .world-toc-loader h5  {
    color: var(--PaleOrange);
}
.user-css .table-of-contents h5 a,
.user-css .table-of-contents .fa-file,
.user-css .category-toc-loader h5 a,
.user-css .category-toc-loader .fa-file,
.user-css .world-toc-loader h5 a,
.user-css .world-toc-loader .fa-file  {
    color: var(--CaptainYellow);
}
/* Map blocks */
.user-css .map-box p {
    color: var(--BorgBlack);
}
.user-css .map-box strong {
    color: var(--DarkRedDead);
    font-family: var(--Audiowide);
    font-size: 20px;
}
/* Followers panel */
.user-css .followers-counter {
    padding: 10px;
}
.user-css .followers-counter dl {
    margin-bottom: 0;
}
/*Followers page */
.user-css .follower-box {
    background: var(--BorgBlack);
    border: 7px double var(--RedDead);
    border-radius: 40px;
}
.user-css .follower-box img {
    border: 4px solid var(--CaptainYellow);
    border-radius: 60px;
}
/* Campaigns & Characters */
.user-css .campaign-panel,
.user-css .character-panel {
    padding: 11px;
    border: 7px solid var(--RedDead);
    border-radius: 40px;
}
.user-css .campaign-panel .details,
.user-css .character-panel .details {
    background: var(--CaptainYellow);
    color: var(--BorgBlack);
    margin-top: 0px;
    border-radius: 40px;
}
.user-css .campaign-panel .details p,
.user-css .character-panel .details p {
    color: var(--BorgBlack);
}
.user-css .campaign-panel h5,
.user-css .character-panel h5 {
    color: var(--DarkRedDead);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* __TOP__ */
.user-css .backtoworld a {
    background: var(--PaleOrange);
    color: var(--DarkRedDead);
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 40px 5px 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0, calc(100% - 17px) 0, calc(100% - 17px) 100%, calc(100% - 23px) 100%, calc(100% - 23px) 0, calc(0% + 13px) 0, calc(0% + 13px) 100%, calc(0% + 9px) 100%, calc(0% + 9px) 0);
    transition: all 0.5s;
}
.user-css div .backtoworld a:hover {
    background-color: var(--RedDead);
    color: var(--DataYellow);
    padding: 5px 70px 5px 70px;
    text-shadow: none;
}
.user-css .nav-strip {
    background: var(--PaleOrange);
    color: var(--DarkRedDead);
    font-family: var(--Barlow);
    font-size: 18px;
    font-weight: bold;
}
.user-css .nav-strip a {
    color: var(--DarkRedDead);
}
.user-css .nav-strip:hover {
    background: var(--RedDead);
    color: var(--DataYellow);
    transition: all 0.5s;
}
.user-css .nav-strip .fa {
    font-size: 13px;
    margin-right: 5px;
}
/* Search Form */
.user-css .search-form .typeahead-input {
    background: var(--BorgBlack);
    color: var(--CaptainYellow);
    border: 2px solid var(--PaleBlue);
    border-radius: 40px;
    font-size: 17px;
    text-transform: none;
    width: 200px;
}
.user-css .search-form .typeahead-input::placeholder {
    color: var(--PaleBlue);
    font-style: italic;
}
.user-css .search-form #search-button {
    color: var(--ProsperousBlue);
    background: 0;
    border: 0;
}
.user-css .typeahead.dropdown-menu {
    background: var(--LCARSDarkLavendar);
    margin: 0px;
    border-radius: 10px;
}
.user-css .typeahead.dropdown-menu li.active .dropdown-item {
    background: var(--LCARSLavendar);
    border-radius: 40px;
}
.user-css .typeahead.dropdown-menu li {
    padding: 0px;
}
.user-css .typeahead.dropdown-menu li a {
    color: var(--NighWhite);
}
.user-css .typeahead.dropdown-menu .text-muted {
    color: var(--DarkRedDead);
}
/* GM notes */
.user-css .panel-greatgm,
.user-css .panel-generic-ggm {
    border: 10px double var(--BlindingOrange); 
    background: var(--BorgBlack);
}
.user-css .panel-greatgm h5,
.user-css .panel-generic-ggm h5 {
    color: var(--PaleOrange);
}

/* __BOTTOM__ */
.user-css .copyright-attribution {
    font-size: 14px;
}
/* Nav tabs */
.user-css-extended .nav-tabs li a {
    background: var(--ProsperousBlue);
    color: var(--NighWhite);
    font-family: var(--Audiowide);
    border-radius: 20px;
}
.user-css-extended .nav-tabs li.active a,
.user-css-extended .nav-tabs li.active a:hover {
    background: var(--PaleBlue);
    color: var(--NighWhite);
    font-family: var(--Audiowide);
    border-radius: 20px;
    box-shadow: none;
}
.user-css-extended .nav-tabs li a:hover {
    background: var(--PaleBlue);
    border-radius: 20px;
    box-shadow: none;
}
/* Secrets and notes */
.user-css-extended .panel-default {
    font-size: 15px;
}
.user-css-extended .panel-default .panel-heading {
    background-color: var(--PaleBlue);
    border: 0;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.user-css-extended .panel-default .panel-heading h3 {
    color: var(--NighWhite);
}
.user-css-extended .panel-default .panel-heading .text-muted {
    color: var(--DataYellow);
    font-size: 12px;
}
/* Comments */
.user-css-extended .comment-form textarea {
    background: var(--PaleBlue);
    border-radius: 40px;
    color: var(--NighWhite);
    font-size: 16px;
    padding: 6px 15px 6px 15px;
}
.user-css-extended .form-control:focus {
    box-shadow: none;
    border: 4px solid var(--RedDead);
}
.user-css-extended .comment-box {
    background: var(--BorgBlack);
    border: 10px double var(--PaleBlue);
    border-radius: 40px;

}
.user-css-extended .comment-box .text-danger {
    color: var(--RedDead);
    margin-left: 35px;
}
.user-css-extended .comment-box .comment-box-reply {
    border: 4px solid var(--ProsperousBlue);
    border-radius: 40px;
    border-bottom-right-radius: 10px;
    padding-top: 0px;
    padding-left: 0px;
}
.user-css-extended .comment-box-author {
    font-family: var(--Audiowide);
}
.user-css-extended .comment-box-avatar .img-avatar {
    border: 4px solid var(--ProsperousBlue);
}
.comment-box-signature {
    border-top: 2px dotted var(--PaleBlue);
    font-size: 14px;
}
/* Tags */
.user-css .label-default,
.user-css-extended .label-default,
.user-css .timeline li .label-default {
    background: var(--PaleOrange);
    color: var(--DarkRedDead)!important;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    border-radius: 40px;
}
.user-css .label-default:hover,
.user-css-extended .label-default:hover,
.user-css .timeline li .label-default:hover {
    background: var(--CaptainYellow);
    font-style: normal;
}
.user-css .label,
.user-css-extended .label,
.user-css .timeline li .label,
.user-css-extended .timeline li .label {
    display: inline-block;
    font-family: var(--Audiowide);
}

/* __DICTIONARY__ */
.user-css .dictionary-panel {
    background-color: var(--DarkRedDead);
    color: var(--NighWhite);
    border: 5px solid var(--DataYellow);
}
.user-css .dictionary-panel .form-control {
    background-color: var(--LCARSDarkLavendar)!important;
    color: var(--BorgBlack);
    border-radius: 20px;
    font-size: 15px;
}
.user-css .dictionary-panel .form-control:focus {
    background: var(--LCARSLavendar)!important;
    box-shadow: 0 0 0 transparent;
}
.user-css .dictionary-panel .form-control::placeholder {
    color: var(--BorgBlack);
    font-style: italic;
}
/* Word entries */
.user-css .dictionary-word {
    background: var(--PaleOrange);
    border-radius: 40px;
    color: var(--BorgBlack);
    padding: 7px 20px 7px 20px;
}
.user-css .dictionary-delete-word {
    border: 1px solid var(--RedDead);
}
.user-css .dictionary-delete-word:hover {
    border: 1px solid var(--RedDead);
}

/* __MAPS__*/
/* Fullscreen */
.map-context-user-css {
    background: #ff9963;
}
.user-css-map-sidebar {
    --FinalFrontier: Final Frontier Old, Audiowide;
    --Audiowide: Audiowide;
    --CaptainYellow: #cdca56;
    --PaleOrange: #ff9963;
    color: #acaca4;
    background-color: #0d0d0d;
    border: 7px solid #b8b8b8;
    overflow: hidden;
}
.user-css-map-sidebar hr {
    border-color: #cc4e4e;
}
.map-context-user-css #sidebarCollapse {
    background-color: #cc4e4e;
    color: #ebece1;
}
.map-context-user-css .nav-strip {
    background-color: #4d87c2;
    border-radius: 20px;
}
.leaflet-touch .leaflet-bar {
    border: none;
}
.map-context-user-css .leaflet-control-zoom-in,
.map-context-user-css .leaflet-control-zoom-out,
.map-context-user-css .leaflet-control-layers,
.map-context-user-css .leaflet-control-layers-base span,
.user-css .leaflet-control-zoom-in,
.user-css .leaflet-control-zoom-out,
.user-css .leaflet-control-layers,
.user-css .leaflet-control-layers-base span {
    background: #8f8fbe;
    color: #ebece1;
    border-color: transparent;
    border-radius: 20px;
}
.map-context-user-css .leaflet-bar a:hover,
.user-css .leaflet-bar a:hover {
    background: #cdca56;
    color: #ebece1;
    border-color: transparent;
}
.map-context-user-css .leaflet-bar a.leaflet-disabled,
.user-css .leaflet-bar a.leaflet-disabled {
    background: #CC6699;
    color: #acaca4;
}
.leaflet-container .legend {
    background: #CC6699;
    color: #0d0d0d;
    font-family: Barlow Condensed;
    border-color: transparent;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
}
/* Popups */
.map-context-user-css .leaflet-popup-content-wrapper,
.map-context-user-css .leaflet-popup-tip {
    background: #8f8fbe;
    color: #0d0d0d;
    border-radius: 50px;
    border-top-right-radius: 5px;
}
.map-context-user-css .leaflet-popup-content-wrapper h5 {
    color: #0d0d0d;
}
/* ---Inline Maps--- */
.user-css-presentation .leaflet-grab {
    background: var(--PaleOrange);
    box-shadow: none;
    border-radius: 40px;
}

/* __TIMELINES__ */
.user-css-extended .timeline li .timeline-panel,
.user-css .timeline li .timeline-panel {
    background: var(--BorgBlack);
    border: 7px double var(--CaptainYellow);
    border-top: 7px solid var(--CaptainYellow);
    border-radius: 40px;
}
.user-css-extended .timeline-panel .fa,
.user-css .timeline-panel .fa {
    margin-top: -25px;
    font-size: 20px;
}
.user-css-extended .timeline:before,
.user-css .timeline:before {
    background-color: var(--LCARSDarkLavendar);
}
.user-css-extended .timeline .milestone-panel .date-divider,
.user-css .timeline .milestone-panel .date-divider {
    font-size: 10px;
}
.user-css-extended .timeline .milestone,
.user-css .timeline .milestone {
    background: var(--DarkRedDead);
    border: 7px double var(--LCARSDarkLavendar);
    border-top: 7px solid var(--LCARSDarkLavendar);
    border-bottom: 7px solid var(--LCARSDarkLavendar);
    border-radius: 40px;
}
/* Pointers */
.timeline li .timeline-panel:before {
    position: absolute;
    top: 32px;
    right: -22px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid;
    border-right: 0 solid;
    border-bottom: 15px solid transparent;
    border-right-color: inherit;
    border-left-color: inherit;
}
.timeline li .timeline-panel:after {
    position: absolute;
    top: 32px;
    right: -22px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid ;
    border-right: 0 solid ;
    border-right-color: inherit;
    border-left-color: inherit;
}
.user-css .timeline li.timeline-entry-inverted .timeline-panel:before {
    left: -22px;
}
.user-css .timeline li.timeline-entry-inverted .timeline-panel:after {
    left: -21px;
}
/* Shield icons */
.user-css-extended .timeline li .tl-circ,
.user-css .timeline li .tl-circ {
    background: var(--PaleOrange);
    color: var(--PaleOrange);
    border-color: var(--LCARSDarkLavendar);
}
/* Icons & panels */
.user-css .timeline .date-divider,
.user-css-extended .timeline .date-divider {
    margin: 2px 0;
}
.user-css-extended .timeline .header-icon,
.user-css .timeline .header-icon {
    border: 7px solid var(--CaptainYellow);
    background-color: var(--BorgBlack);
}
.user-css-extended .timeline .timeline-entry-milestone .header-icon,
.user-css .timeline .timeline-entry-milestone .header-icon {
    border: 7px solid var(--LCARSDarkLavendar);
    color: var(--LCARSDarkLavendar);
}
.user-css-extended .timeline .major .header-icon,
.user-css .timeline .major .header-icon {
    border-color: var(--BlindingOrange);
    color: var(--BlindingOrange);
}
.user-css-extended .timeline .major .timeline-panel,
.user-css .timeline .major .timeline-panel {
    border-color: var(--BlindingOrange);
}
.user-css-extended .timeline .minor .header-icon,
.user-css .timeline .minor .header-icon {
    border-color: var(--ProsperousBlue);
    color: var(--ProsperousBlue);
}
.user-css-extended .timeline .minor .timeline-panel,
.user-css .timeline .minor .timeline-panel {
    border-color: var(--ProsperousBlue);
}
.user-css-extended .timeline .trivial .header-icon,
.user-css .timeline .trivial .header-icon {
    border-color: var(--RedDead);
    color: var(--RedDead);
}
.user-css-extended .timeline .trivial .timeline-panel,
.user-css .timeline .trivial .timeline-panel {
    border-color: var(--RedDead);
}
.user-css-extended .timeline .no-importance .header-icon,
.user-css .timeline .no-importance .header-icon {
    border-color: var(--DarkRedDead);
    color: var(--DarkRedDead);
}
.user-css-extended .timeline .no-importance .timeline-panel,
.user-css .timeline .no-importance .timeline-panel {
    border-color: var(--DarkRedDead);
    box-shadow: none;
}
/* Text */
.user-css .timeline li .timeline-panel small,
.user-css .timeline li .milestone-panel small,
.user-css-extended .timeline li .timeline-panel small,
.user-css-extended .timeline li .milestone-panel small {
    color: var(--LCARSLavendar);
    font-style: italic;
    font-size: 70%;
}
.user-css .tl-heading-date,
.user-css-extended .tl-heading-date {
    color: var(--CaptainYellow);
    font-size: 19px;
}
.user-css .timeline p {
    font-size: 15px;
}
/* Orphans */
.user-css .orphan-era .alert,
.user-css-extended .orphan-era .alert {
    background-color: var(--BorgBlack);
    border: 7px solid var(--CaptainYellow);
    border-radius: 40px;
}

/* __CALENDARS & TABLES__ */
.user-css .table-striped a {
    color: var(--NighWhite);
}
.user-css .table td {
    background: none;
}
.user-css .table {
    background-color: transparent;
}
.user-css .table-striped th,
.user-css .calendar-presentation th {
    background: var(--RedDead);
    color: var(--NighWhite);
    border-radius: 20px;
    border-top: 0px;
    font-family: var(--Barlow);
    font-size: 20px;
    letter-spacing: 2px;
}
.user-css .table td {
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.user-css .table-striped tr:nth-child(odd),
.user-css .calendar-presentation tr:nth-child(odd) {
    background-color: var(--PaleBlue);
    border-top: 3px solid var(--BorgBlack);
}
.user-css .table-striped tr:nth-child(even),
.user-css .calendar-presentation tr:nth-child(even) {
    background-color: var(--PaleOrange);
    border-top: 3px solid var(--BorgBlack);
}
.user-css .table-striped tr:nth-child(odd):hover,
.user-css .calendar-presentation tr:nth-child(odd) td:hover  {
    background-color: #a0a0d3;
}
.user-css .table-striped tr:nth-child(even):hover,
.user-css .calendar-presentation tr:nth-child(even) td:hover {
    background-color: #ffab7d;
}
/* Calendar specific */
.user-css .calendar-presentation .panel {
    border-color: var(--LCARSDarkLavendar);
}
.user-css .table-bordered {
    border: transparent;
}
.user-css .calendar-presentation td,
.user-css .calendar-presentation th {
    border: transparent;
}
.user-css-calendar td:hover {
    border-radius: 30px;
    transition: border-radius ease 0.2s;
}
.user-css-calendar h3 {
    color: var(--BorgBlack);
    position: relative;
    z-index: 1;
}
.user-css-calendar .celestial-object {
    float: right;
    margin: 15px;
    background-color: var(--LCARSDarkLavendar);
}
.user-css-calendar .celestials .btn {
    border: 0px solid;
}
.user-css .calendar-presentation .btn-secondary {
    position: relative;
    background: var(--RedDead);
    color: var(--MartianJuice);
    border: 3px solid var(--BorgBlack);
    font-size: 14px;
    padding: 1px 6px 1px 6px;
    margin-bottom: -28px;
    z-index: 5;
}
.user-css .calendar-presentation .btn-secondary:hover {
    background: var(--BorgBlack);
    border-color: var(--RedDead);
    color: var(--NighWhite);
    transition: background 0.2s;
}
.user-css-calendar .event-name {
    font-family: var(--Barlow);
}
.user-css .calendar-presentation .blank-day {
    background: repeating-linear-gradient( 45deg,var(--PaleBlue), var(--PaleBlue) 10px,var(--RedDead) 10px,var(--RedDead) 20px);
}
/* Month buttons */
.user-css .calendar-presentation .nav-pills .nav-item {
    margin: auto 1px;
}
.user-css .calendar-presentation .nav-item a {
    background: var(--LCARSDarkLavendar);
    color: var(--NighWhite);
    border-radius: 40px;
    font-family: var(--Audiowide);
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: background 0.2s;
}
.user-css .calendar-presentation .nav-item a:hover,
.user-css .calendar-presentation li.nav-item.active a {
    background: var(--LCARSLavendar);
    color: var(--DataYellow);
}
.user-css-calendar sup {
    font-size: 15px;
}
/* Holiday Popup */
.user-css .modal-header .close {
    position: relative;
    z-index: 2;
}.user-css #modal-holiday-reader button.close {
    color: var(--DataYellow);
    font-size: 32px;
    opacity: 1;
}
.user-css .modal-content h3 {
    position: relative;
    color: var(--ProsperousBlue);
    border-color: var(--ProsperousBlue);
    z-index: 1;
}
.user-css .modal-content {
    background: var(--BorgBlack);
    border-radius: 50px;
}
.user-css .modal-header {
    padding-bottom: 0px;
    border-bottom: 3px solid var(--PaleBlue);
}
.user-css .modal-footer {
    border-top: 3px solid var(--PaleBlue)
}
.user-css-calendar .modal-footer .celestial-desc {
    color: var(--NighWhite);
}

/* __ORG RELATIONSHIPS__ */
.user-css .relation .fa-arrows-h {
    color: var(--PaleOrange);
    font-size: 22px;
}
.user-css .relation .relationScore {
    border: 3px solid var(--PaleOrange);
    background: var(--BorgBlack);
    border-radius: 40px;
}

/* __ORG TREE__ */
.user-css-extended .orgtree li a {
    background: var(--PaleOrange);
    border: 3px solid var(--PaleBlue);
    border-radius: 40px;
    color: var(--DarkRedDead);
    font-weight: 900;
    font-size: 13px;
    padding: 10px;
    transition: all 0.5s;
}
.user-css-extended .orgtree li a:hover {
    background: var(--RedDead);
    border-width: 5px;
}
/* Connecting lines */
.user-css-extended .orgtree ul ul::before {
    border-left: 2px solid var(--PaleBlue);
}
.user-css-extended .orgtree li::before {
    border-top: 2px solid var(--PaleBlue);
    border-right: 1px solid var(--PaleBlue);
}
.user-css-extended .orgtree li::after {
    border-top: 2px solid var(--PaleBlue);
    border-left: 1px solid var(--PaleBlue);
}
.user-css-extended .orgtree li:last-child::before {
    border-right: 2px solid var(--PaleBlue);
}
.user-css-extended .orgtree li:first-child::after {
    border-left: 2px solid var(--PaleBlue);
}
.user-css-extended .orgtree li:first-child::before,
.user-css-extended .orgtree li:last-child::after {
    border:transparent;
}
.user-css-extended .orgtree li a:hover+ul::before,
.user-css-extended .orgtree li a:hover+ul li::before,
.user-css-extended .orgtree li a:hover+ul li::after {
    border-color: var(--PaleBlue);
}

/* __DICE RESULTS__ */
.notifyjs-corner {
    margin-bottom: 60px!important;
}
.notifyjs-bootstrap-roller-alert {
    background-color: var(--BorgBlack)!important;
    padding: 8px 15px!important;
    color: var(--CaptainYellow);
    text-shadow: none!important;
    border: 3px solid var(--CaptainYellow)!important;
    border-radius: 40px!important;
}

/* __FAMILY TREES */
.user-css .rhea-family-tree {
    border: 10px double var(--CaptainYellow);
    border-top: 10px solid var(--CaptainYellow);
    border-bottom: 10px solid var(--CaptainYellow);
    background-color: var(--BorgBlack);
}
.user-css .rhea-family-tree .loader {
    background-color: transparent;
    text-shadow: 1px 0 1px var(--PaleOrange), 0 1px 1px var(--RedDead), 2px 1px 1px var(--PaleOrange), 1px 2px 1px var(--RedDead), 3px 2px 1px var(--PaleOrange), 2px 3px 1px var(--RedDead), 4px 3px 1px var(--PaleOrange), 3px 4px 1px var(--RedDead), 5px 4px 1px var(--PaleOrange), 4px 5px 1px var(--RedDead), 6px 5px 1px var(--PaleOrange), 5px 6px 1px var(--RedDead), 7px 6px 1px var(--PaleOrange);
}
.user-css .rhea-family-tree .loader h1 {
    font-size: 1.5em;
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait:after {
    background: var(--CaptainYellow);
    border: none;
}
.user-css .rhea-family-tree .main-character .character-portrait:after {
    background: var(--RedDead);
}
.user-css .rhea-family-tree .rhea-character-node .character-data .character-name {
    background-color: var(--RedDead);
    color: var(--NighWhite);
    font-size: 13px;
    border-color: transparent;
    border-radius: 40px;
    padding: 6px 10px 6px 10px;
}
.user-css .rhea-family-tree svg path {
    stroke: var(--CaptainYellow);
}
.user-css .rhea-family-tree .rhea-character-node .character-portrait img {
    border: none;
}
/* Search */
.user-css .rhea-family-tree input {
    background: var(--PaleOrange);
    border: 3px solid var(--RedDead);
    border-radius: 40px;
    color: var(--BorgBlack);
    font-family: var(--Barlow);
    font-size: 1.2em;
    padding-left: 10px;
}
.user-css .rhea-family-tree input::placeholder {
    color: var(--NighWhite);
}

/* __TEMPLATE SPECIFICS__ */
/* Extinct Panel */
.user-css .extinction-display .label-danger {
    background: var(--DarkRedDead);
    color: var(--CaptainYellow);
    font-family: var(--Barlow);
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 40px;
}
/* Element */
.user-css .chemical-element {
    background: var(--BorgBlack);
    color: var(--RedDead);
    border: 7px solid var(--PaleOrange);
    border-radius: 40px;
    padding: 0;
}
.user-css .chemical-element h1 {
    color: var(--RedDead);
    font-size: 50px;
}
.user-css .chemical-element sup {
    color: var(--RedDead);
    font-size: 12px;
}
.user-css .chemical-element h1:before,
.user-css .chemical-element h1:after {
    display: none;
}
/* Prose */
.user-css-presentation .page-article.template-prose .cover div .w-o-b.btn.btn-xs {
    background: var(--BorgBlack)!important;
    color: var(--NighWhite)!important;
}
.user-css.bow {
    background: var(--BorgBlack)!important;
}
.user-css.bow p {
    color: var(--EnterpriseGrey);
}
.user-css.bow .row.article-content h1 {
    color: var(--CaptainYellow)!important;
}
.user-css-presentation .page-article.template-prose .cover div .b-o-w.btn.btn-xs {
    background: var(--NighWhite)!important;
    color: var(--BorgBlack)!important;
}
.user-css.wob {
    background: var(--NighWhite)!important;
}
.user-css.wob p {
    color: var(--BorgBlack);
}
.user-css.wob .row.article-content h1 {
    color: var(--ProsperousBlue)!important;
}

/* __NAVIGATION BAR__ */
/* This bit is outside of .user-css -- but I've got the go-ahead from The Man Himself. */
.navbar-default {
    background-color: var(--EnterpriseGrey);
    font-family: var(--Barlow);
    border-color: var(--EnterpriseGrey);
}
.navbar-default .navbar-nav li a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.navbar-default .navbar-nav li a:hover {
    color: var(--DarkRedDead);
}
.navbar-default .highilighted-topmenu-item {
    background-color: var(--PaleBlue);
}

/* __SCROLLBAR__ */
::-webkit-scrollbar {
    width: 13px;
}
    ::-webkit-scrollbar-track {
    border-radius: 40px;
}
    ::-webkit-scrollbar-thumb {
    background: var(--ProsperousBlue); 
    border-radius: 40px;
    width: 9px;
}
    ::-webkit-scrollbar-thumb:hover {
    background: var(--RedDead);
}

.user-css-presentation #world-navigation-sidebar {
    width: 35%; /*stops width from stretching if maps have long descriptions*/
    scrollbar-color:  orange #222; /*scrollbar colour*/
    background: black;
    border-radius: 0px;
    box-shadow: 5px 13px 20px rgba(0,0,0,0.4); /*shadow*/
}

.user-css-presentation .world-navigation-palette-trigger {
    padding: 10px; /*centers icon*/
    background: black;
    color: lavender;
}

.user-css-presentation .world-navigation-palette-trigger:hover  {
    color: white; /*hover colour*/
}

.user-css-presentation #world-navigation-sidebar .category-list h6 ul li {
    padding-top: 6px; /*fix padding for child articles in ToC*/
}

.user-css-presentation #world-navigation-sidebar h5 {
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
}